<footer class="footer">
  <div class="container">
    <div class="flex justify-s-b footer__header">
      <a href="/" class="header__logo flex gap-16 center">
        <img class="header__logo__arms" src="/assets/img/gerb.svg" alt="gerb" />
        <img class="header__logo__flag" src="/assets/img/Flag.svg" alt="flag" />
        <h1 class="header__logo__title">
          O‘zbekiston Respublikasi O‘rmon Xo‘jaligi Davlat Qo‘mitasining Rasmiy
          Veb Sayti
        </h1>
      </a>

      <div>
        <form action="#" class="footer__subscribe">
          <input type="email" class="footer__subscribe__input" placeholder="Sizning elektron manzilingiz" />
          <button type="submit" class="btn full-btn">Obuna bo‘lish</button>
        </form>
      </div>

      <a href="/uz/virtual-appeals" class="btn full-btn">Virtual murojaat</a>
    </div>

    <hr class="footer__line" />

    <div class="flex footer__content">
      <div>
        <p class="footer__content__title">
          <a href="#" class="footer__content__title">Qo‘mita haqida</a>
        </p>
        <ul class="footer__content__list">
          <li>
            <a class="footer__content__link" href="/uz/activity">Faoliyat</a>
          </li>
          <li>
            <a class="footer__content__link" href="/uz/function-and-tasks"
              >Qo‘mita funksiyalari va vazifalari</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/management"
              >Rahbariyat</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/central-apparatus"
              >Markaziy apparat</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/structure"
              >Tarkibiy tuzilma</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/system-organizations"
              >Tizim tashkilotlar</a
            >
          </li>
          <li><a class="footer__content__link" href="/uz/hayat">Hayʼat</a></li>
          <li>
            <a class="footer__content__link" href="/uz/community-council"
              >Jamoatchilik kengashi</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/e-government"
              >Elektron hukumat</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/ecotourism">Ekoturizm</a>
          </li>
          <li>
            <a class="footer__content__link" href="#"
              >Faoliyat ko‘rsatkichlari</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/corruption"
              >Korrupsiyaga qarshi kurash</a
            >
          </li>
        </ul>
      </div>
      <div>
        <p class="footer__content__title">
          <a href="#" class="footer__content__title">Hujjatlar</a>
        </p>
        <ul class="footer__content__list">
          <li><a class="footer__content__link" href="#">Qo‘mita haqida</a></li>
          <li>
            <a class="footer__content__link" href="/uz/industry-documents"
              >O‘zbekiston Respublikasi qonunlari</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/presidential-decree"
              >Prezidentning farmon, qaror va farmoyishlari</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/ministers-decree"
              >Vazirlar Mahkamasi qaror va farmoyishlari</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="#">Qo‘mita hujjatlari</a>
          </li>
          <li>
            <a class="footer__content__link" href="/uz/industry-documents"
              >Muhokamadagi hujjatlar</a
            >
          </li>
        </ul>

        <p class="footer__content__title">
          <a href="#" class="footer__content__title">Ochiq maʼlumotlar</a>
        </p>
        <ul class="footer__content__list">
          <li>
            <a class="footer__content__link" href="#">Investitsion loyihalar</a>
          </li>
          <li>
            <a
              class="footer__content__link"
              href="/uz/information-of-social-importance"
              >Ijtimoiy ahamiyatga molik maʼlumotlar</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/budget-openness"
              >Byudjet ochiqligi</a
            >
          </li>
        </ul>
      </div>

      <div>
        <p class="footer__content__title">
          <a href="#" class="footer__content__title">Matbuot markazi</a>
        </p>
        <ul class="footer__content__list">
          <li>
            <a class="footer__content__link" href="/uz/press-center/news/?page=1&size=9">Yangiliklar</a>
          </li>
          <li>
            <a class="footer__content__link" href="/uz/press-center/events/?page=1&size=9"
              >Eʼlon va voqealar</a
            >
          </li>
          <li>
            <a
              class="footer__content__link"
              href="/uz/press-center/tenders/?page=1&size=9"
              >Tenderlar va xaridlar</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/photo-gallery"
              >Fotogalereya</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/video-gallery"
              >Videogalereya</a
            >
          </li>
          <li>
            <a
              class="footer__content__link"
              href="/uz/contact-the-press-service"
              >Matbuot xizmati bilan bog'lanish</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/faqs"
              >Savol va javoblar</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="/uz/management-lectures"
              >Rahbariyat maʼruzalari</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="#"
              >Qo‘mita rahbariyatining rasmiy chiqishlari</a
            >
          </li>
        </ul>
        <a href="/uz/information" class="footer__content__title">Maʼlumot</a>
      </div>

      <div>
        <p class="footer__content__title">Interkativ xizmatlar</p>
        <ul class="footer__content__list">
          <li>
            <a class="footer__content__link" href="/uz/useful-links"
              >Virtual qabulxona</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="#"
              >O‘rmon fondi yerlarini ijaraga olish portali</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="#"
              >Ruxsatnoma olish portali</a
            >
          </li>
          <li>
            <a class="footer__content__link" href="#">Elektron hisobot</a>
          </li>
          <li>
            <a class="footer__content__link" href="#"
              >Yuklab olish uchun shakllar</a
            >
          </li>
          <li><a class="footer__content__link" href="#">Forum</a></li>
          <li>
            <a class="footer__content__link" href="#">Fuqarolar murojaati</a>
          </li>
        </ul>

        <a href="/uz/connection" class="footer__content__title">Bog‘lanish</a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container flex justify-s-b footer__copyright__text">
      <p class="white-text">
        Copyright © 2022 O‘rmon xo’jaligi davlat qo‘mitasi. All rights reserved.
      </p>
      <p class="white-text">Designed and developed by TECHNOCORP</p>
    </div>
  </div>
</footer>
<script src="/js/changeTheme.js"></script>
<script src="/js/topScroll.js"></script>
