<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--SIDEBAR-->
<p class="text-secondary main-page-inner-page-secondary-title">Matbuot markazi </p>

<ul class="card">
    <li><a href="/uz/press-center/news/?page=1&size=9" class="text-four pages-list ">Yangiliklar</a></li>
    <li><a href="/uz/press-center/events/?page=1&size=9" class="pages-list text-four ">Eʼlon va voqealar</a></li>
    <li><a href="/uz/press-center/tenders/?page=1&size=9" class="pages-list text-four ">Tenderlar va
            xaridlar</a>
    </li>
    <li><a href="/uz/photo-gallery" class="pages-list text-four">Fotogalereya</a></li>
    <li><a href="/uz/video-gallery" class="pages-list text-four ">Videogalereya</a></li>
    <li><a href="/uz/contact-the-press-service" class="pages-list text-four">Matbuot xizmati bilan
            bog‘lanish</a></li>
    <li><a href="/uz/faqs" class="pages-list text-four">Savol va javoblar</a></li>
    <li><a href="/uz/management-lectures" class="pages-list text-four">Rahbariyat maʼruzalari</a></li>
    <li><a href="#" class="pages-list text-four">Qo‘mita rahbariyatining rasmiy ch...</a></li>
</ul>
<!--SIDEBAR-->

</body>
</html>