<%- include("../layouts/header")%>

  <body>
    <main class="grid grid-2-column container activity gap-30 inner-page-margin">
      <div>
        <h1 class="text-secondary main-page-inner-page-secondary-title  section">
          Qo‘mita haqida
        </h1>
        <ul class="card">
          <li>
            <a class="pages-list text-four active" href="/uz/activity">Faoliyat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/function-and-tasks">Qo‘mita funksiyalari va vazifalari</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/central-apparatus">Markaziy apparat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/structure">Tarkibiy tuzilma</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/system-organizations">Tizim tashkilotlari</a>
          </li>
          <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
          <li>
            <a class="pages-list text-four" href="/uz/community-council">Jamoatchilik kengashi</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/e-government">Elektron hukumat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/corruption">Korrupsiyaga qarshi kurash</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="mb-16">
          <a href="/" class="navigate-text">Asosiy</a>
          <span class="navigate-text"> > </span>
          <a href="#" class="navigate-text">Qo‘mita haqida</a>
          <span class="navigate-text"> > </span>
          <a href="/uz/activity" class="navigate-text">Faoliyat</a>
        </div>

        <h1 class="heading-primary activity__title">Faoliyat</h1>
        <button class="collapsible flex center">
          O‘rmonlarni inventarizatsiyalash
        </button>

        <div class="collapsible__content">
          <span class="activity__block">O‘zbekiston Respublikasi “O‘rmon to‘g‘risida”gi qonunining
            16-moddasida O‘rmon tuzish o‘rmonlarni muhofaza qilish, qo‘riqlashga,
            o‘rmon xo‘jaligi va o‘rmondan foydalanish oqilona yuritilishini
            taʼminlashga qaratilgan tadbirlar tizimi bo‘lib, quyidagilarni qamrab
            oladi:</span>
          <span class="activity__block">davlat o‘rmon fondi uchastkalarining chegaralarini belgilash va
            davlat o‘rmon fondining o‘rmondan doimiy foydalanuvchilar
            foydalanishidagi hududining ichki xo‘jaligini tashkil etish?</span>
          <span class="activity__block">topografiya-geodeziya ishlarini bajarish va o‘rmonlarni maxsus
            xaritaga kiritish?</span>
          <span class="activity__block">davlat o‘rmon fondini hisobga olish?</span>
          <span class="activity__block">o‘rmonlarning etilish yoshini belgilash, o‘rmon xo‘jaligini yuritish
            bilan bog‘liq o‘rmon daraxtlarini kesish rejasini, daraxtlarni kesish
            hajmini hamda o‘rmondan foydalanishning boshqa turlari miqdorlarini
            aniqlash?</span>
          <span class="activity__block">o‘rmon tuzish loyihalarini ishlab chiqish va ularning amalga
            oshirilishi ustidan nazorat qilish.</span>
          <span class="activity__block">O‘rmon tuzish loyihalari davlat ekspertizasidan o‘tkaziladi hamda
            davlat o‘rmon xo‘jaligi organlari va mahalliy davlat hokimiyati
            organlari tomonidan tasdiqlanadi. O‘rmon tuzish loyihalari o‘rmon,
            qo‘riqxona va ovchilik xo‘jaliklari yuritish, o‘rmondan foydalanishni
            amalga oshirish, joriy va istiqbolga mo‘ljallangan rejalashtirish
            ishlarini olib borish uchun asosiy normativ-texnik hujjatdir.</span>

          <span class="activity__block">O‘rmon tuzish hamma o‘rmonlarda yagona tizim bo‘yicha O‘zbekiston
            Respublikasi Qishloq va suv xo‘jaligi vazirligi huzuridagi o‘rmon
            xo‘jaligi bosh boshqarmasi tomonidan belgilangan tartibda
            o‘tkaziladi.</span>

          <span class="activity__block">“O‘rmonloyiha” davlat korxonasi tomonidan har yili davlat byudjeti
            mablag‘lari hisobidan 3-4 ta o‘rmon xo‘jaliklarida o‘rmon tuzish
            ishlari amalaga oshiriladi. O‘rmon tuzish ishlari O‘rmon xo‘jaligmi
            bosh boshqarmasining 2012 yil 7 maydagi 48-sonli buyrug‘i bilan
            tasdiqlangan “O‘rmon tuzish loyiha-qidiruv ishlarini bajarish
            tartibi”ga asosan olib boriladi.</span>

          <span class="activity__block activity__text">O‘zbekiston Respublikasi “O‘rmon to‘g‘risida”gi qonunining
            17-moddasida</span>
          <span class="activity__block">O‘rmonlarning davlat hisobi o‘rmon tuzish loyihalari asosida davlat
            o‘rmon xo‘jaligi organlari tomonidan, o‘rmon tuzish o‘tkazilmagan
            joylarda esa davlat o‘rmon fondini hisobga olish va tekshirish
            materiallari asosida olib borilishi belgilangan.</span>
          <span class="activity__block">O‘rmonlarning davlat hisobi davlat byudjeti mablag‘lari hisobidan
            yagona tizim bo‘yicha, O‘zbekiston Respublikasi Vazirlar Mahkamasi
            tomonidan belgilangan tartibda olib borilishi belgilab
            qo‘yilgan.</span>

          <span class="activity__block">O‘rmonlarni davlat hisobi ishlari o‘rmon xo‘jaliklari tomonidan har
            yilning 1 yanvar holatiga amalga oshiriladi va O‘rmon xo‘jaligi bosh
            boshqarmasiga taqdim etib boriladi.</span>

          <span class="activity__block activity__text">O‘zbekiston Respublikasi “O‘rmon to‘g‘risida”gi qonunining
            18-moddasida</span>
          <span class="activity__block">Davlat o‘rmon kadastri O‘rmonlarning tabiiy, xo‘jalik va huquqiy
            rejimi, ularning toifalari, davlat o‘rmon fondi uchastkalarining sifat
            tavsiflari hamda ularning o‘rmondan foydalanuvchilar o‘rtasidagi
            taqsimoti to‘g‘risidagi maʼlumotlar va hujjatlar tizimidan iborat
            ekanligi, Davlat o‘rmon kadastri manfaatdor yuridik va jismoniy
            shaxslarni o‘rmonga oid munosabatlarni tartibga solish, o‘rmonlarni
            muhofaza qilish, qo‘riqlash, ulardan oqilona foydalanish va ularni
            takroriy ko‘paytirish maqsadida o‘rmon to‘g‘risidagi maʼlumotlar bilan
            taʼminlash uchun mo‘ljallanganligi, Davlat o‘rmon kadastri davlat
            o‘rmon xo‘jaligi organlari tomonidan davlat byudjeti mablag‘lari
            hisobidan yagona tizim bo‘yicha, O‘zbekiston Respublikasi Vazirlar
            Mahkamasi belgilagan tartibda olib borilishi ko‘rsatilgan.</span>
          <span class="activity__block">Davlat o‘rmon kadastri ishlari o‘rmon xo‘jaliklari tomonidan har
            yilning 1 yanvar holatiga amalga oshiriladi va O‘rmon xo‘jaligi bosh
            boshqarmasiga taqdim etib boriladi. O‘rmon xo‘jaligi bosh boshqarmasi
            Davlat o‘rmon kadastri bo‘limi tomonidan umumlashtirilib, O‘zbekiston
            Respublikasi “Yergeodezkadastr” davlat qo‘mitasining Davlat
            kadastrlari yagona tizimiga taqdim etiladi.</span>
        </div>

        <button class="collapsible flex center">O‘rmonlardan foydalanish</button>

        <div class="collapsible__content">
          <span class="activity__block">O‘rmondan foydalanish turlari quyidagilardan iborat:daraxtzorlar va
            butazorlarni kesish;o‘rmondan qo‘shimcha foydalanish (pichan o‘rish,
            mol boqish, asalari uyalari va qutilarini joylashtirish, yovvoyi
            o‘simliklar dorivor xom ashyosini tayyorlash (yig‘ish) va oziq-ovqat
            maqsadlari uchun yovvoyi o‘simliklarni tayyorlash (yig‘ish);davlat
            o‘rmon fondi uchastkalaridan ovchilik xo‘jaligi ehtiyojlari uchun
            foydalanish;davlat o‘rmon fondi uchastkalaridan ilmiy-tadqiqot
            maqsadlarida foydalanish;davlat o‘rmon fondi uchastkalaridan
            madaniy-maʼrifiy, tarbiyaviy, sog‘lomlashtirish, rekreatsion va
            estetik maqsadlarda foydalanish.Qonun hujjatlarida o‘rmondan
            foydalanishning boshqa turlari ham nazarda tutilishi mumkin.</span>
          <span class="activity__block">Davlat o‘rmon fondi uchastkalari yuridik va jismoniy shaxslarga
            foydalanishga berilishi mumkin.O‘rmondan foydalanish uchun haq
            to‘lanadi. To‘lovlar miqdori va ularni undirish tartibi O‘zbekiston
            Respublikasi Vazirlar Mahkamasi tomonidan belgilanadi. O‘rmondan
            foydalanish doimiy va vaqtinchalik bo‘lishi mumkin. O‘rmon fondi
            yerlari doimiy egalik qilishga berib qo‘yilgan o‘rmon xo‘jaligi
            korxonalari, muassasalari va tashkilotlari o‘rmondan doimiy
            foydalanuvchilardir. O‘rmondan vaqtinchalik foydalanish qisqa muddatli
            — uch yilgacha va uzoq muddatli — o‘n yilgacha bo‘lishi mumkin.
            O‘rmondan foydalanish huquqi yuridik va jismoniy shaxslarga, agar
            qonun hujjatlarida boshqacha qoida belgilangan bo‘lmasa, davlat o‘rmon
            xo‘jaligi organlari tomonidan yoki ular vakolat bergan korxonalar,
            muassasalar va tashkilotlar tomonidan beriladi. O‘rmondan
            foydalanishga maxsus ruxsatnoma — daraxt kesish yoki o‘rmon chiptasi
            asosida yo‘l qo‘yiladi. O‘rmondan foydalanuvchilar davlat o‘rmon fondi
            uchastkalaridan o‘rmondan foydalanishning maxsus ruxsatnomalarda
            nazarda tutilgan turlaridangina foydalanishga haqlidir.</span>
        </div>

        <button class="collapsible flex center">
          O‘rmon siyosati va boshqaruvi
        </button>

        <div class="collapsible__content">
          <span class="activity__block">O‘zbekiston o‘rmon xo‘jaligi –maxsus tabiatni saqlovchi va uni
            boyliklarini ko‘paytiruvchi soha. Uning asosiy vazifasi etib
            o‘rmonlarni takror ko‘paytirish, saqlash va o‘rmon fondi boyliklaridan
            oqilona foydalanish, respublik extiyojini o‘rmon va o‘rmon
            mahsulotlari bilan taʼminlash, o‘rmonlarni ekologik, atrof muhitni
            muhofaza qilish, suvni saqlash, ximoya qilish, sanitar gigenik va
            rekreatsion faoliyatlarini kuchaytirish hisoblanadi.U o‘z faoliyatida
            boshqa tashkilotlar va idoralar bilan uzviy bog‘langan bo‘lib, ularni
            iqtisodiy rivojlanishiga hissa qo‘shadi.</span>
          <span class="activity__block">O‘rmonlarni qo‘riqlash, muhofaza etish, foydalanish va takroriy
            ko‘paytirish davlat boshqaruvi O‘zbekiston Respublikasi Vazirlar
            Maxkamasi, O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasi
            tomonidan amalga oshiriladi. O‘rmondan foydalanish bo‘yicha asosiy
            siyosatni olib borish O‘rmon xo‘jaligi davlat qo‘mitasi va uning
            joylardagi organlariga o‘rmon xo‘jaligini muvofiqlashtiirish va
            boshqarish yuklatilgan.</span>
          <span class="activity__block">O‘rmon xo‘jaligi davlat qo‘mitasi o‘z ish faoliyatini 2017 yil 11-may
            kuni qabul qilingan “O‘rmon xo‘jaligi davlat qo‘mitasi faoliyatini
            tashkil etish tog‘risida”gi PQ-2966 Prezident qarori va Vazirlar
            Maxkamasining qarorlari va farmoyishlari asosida amalga
            oshiradi.O‘rmon xo‘jaligi davlat qo‘mitasiga o‘rmon xo‘jaligini xolati
            va istiqbolda rivojlantirish, sohada ilmiy texnik progress,
            o‘rmonlardan oqilona foydalanish, ko‘paytirish, qo‘riqlash va muhofaza
            etishni tashkil etish, ovchilik xo‘jaligi, qo‘riqxonalar ishi va
            tabiiy xalq bog‘larini yuritishni boshqarish, o‘rmonlarni ekologik va
            boshqa foydali xususiyatlarini kuchaytirishni amalga oshirish
            masʼuliyatlari yuklatilgan.</span>
        </div>

        <button class="collapsible flex center">
          O‘rmonlarni tiklash va urug‘chilik
        </button>

        <div class="collapsible__content">
          <span class="activity__block">Har yili respublika buyicha o‘rmon xo‘jaliklari tomonidan o‘rtacha 42
            ming gektar maydonda o‘rmon barpo qilish ishlari amalga oshiriladi,
            shundan, 39 ming gektari cho‘l mintaqasiga to‘g‘ri keladi, shu
            jumladan Orol dengizining qurigan tubida 17 ming gektarda cho‘l
            o‘simliklaridan suʼniy o‘rmonzorlar barpo etib kelinmoqda. Yangi
            o‘rmonzorlar barpo qilish urug‘dan ekib, ko‘chat o‘tqazib va tabiiy
            tiklanishga ko‘mak berish tadbirlari orqali bajariladi. Cho‘l
            hududlarida sho‘rga va qurg‘oqchilikka chidamli bo‘lgan saksovul,
            cherkez, qandim kabi daraxt va butalar turlaridan yangi o‘rmonzorlar
            barpo etiladi.Respublikamizning tog‘li hududlarida 1.2 ming gektar
            yangi o‘rmonzorlar barpo etiladi, ular asosan zarafshon archasi,
            xondon pista, yong‘oq, oddiy bodom va boshqa mevali daraxt va
            butalardir.</span>
          <span class="activity__block">Respublikamizning vodiy hududlarida har yili 1.4 ming gektar maydonda
            tez o‘suvchi mevali daraxt va butalar turidan yangi o‘rmonzorlar barpo
            etiladi. To‘qay hududlarida esa turanga, jiyda, tol daraxt turlaridan
            o‘rmon barpo etilib, har yili 0.4 ming gektarda amalga
            oshiriladi.</span>
          <span class="activity__block">2015 yil 3-chorak davomida 18.5 ming ga (108 %) maydonda urug‘dan,
            ko‘chatdan va tabiiy tiklanishga ko‘mak berish orqali yangi
            o‘rmonzorlar barpo qilindi. Shundan, Orol dengizining qurigan tubida
            barpo qilingan o‘rmon 6.8 ming gektarni tashkil etadi.</span>
          <span class="activity__block">Har yili yangi o‘rmonzorlar barpo etish va ko‘chatxonalar tashkil
            etish maqsadida o‘rmon xo‘jaliklar tomonidan 50 turdan oshiq 130-135
            tonna har xil daraxt va butalar urug‘lari tayyorlanadi. Shu jumladan,
            cho‘l o‘simliklari (saksovul, cherkez, qandim)-100 tonna, ignabargli
            va noyob daraxt turlari-15 tonna.</span>
          <span class="activity__block">Har yili yangi o‘rmonzorlar barpo etish va ko‘chatxonalar tashkil
            etish maqsadida o‘rmon xo‘jaliklar tomonidan 50 turdan oshiq 130-135
            tonna har xil daraxt va butalar urug‘lari tayyorlanadi. Shu jumladan,
            cho‘l o‘simliklari (saksovul, cherkez, qandim)-100 tonna, ignabargli
            va noyob daraxt turlari-15 tonna.</span>
          <span class="activity__block">Respublika bo‘yicha har yili 60 turga yaqin 42 mln. dona daraxt va
            butalarning nihol hamda ko‘chatlari yetishtiriladi, shundan 12.5 mln.
            donasi saksovul, 8 mln. donasi terak ko‘chatlaridir. Ushbu
            yetishtirilayotgan nihol va ko‘chatlarning yarmi o‘rmon xo‘jaliklari
            tomonidan o‘z ehtiyojlari uchun sarflanadi, qolgan qismi esa
            parvarishlash uchun qoldiriladi.Joriy yil 9-oyligi uchun berilgan
            topshiriq 281 getarga, yaʼni rejaga nisbatan 120 foizga
            bajarildi.</span>
          <span class="activity__block">Hukumatimiz tomonidan noyob daraxt ko‘chatlarini ko‘paytirishga
            aloxida eʼtibor qaratilmoqda. O‘zbekiston Respublikasi Vazirlar
            Mahkamasining noyob daraxt ko‘chatlarini, shuningdek soxta kashtan,
            yapon soforasi, lola daraxti, qrim qarag‘ayi hamda unabi daraxtlari
            ko‘chatlarini ko‘paytirish to‘g‘risida maxsus farmoyishlari qabul
            qilingan.</span>
          <span class="activity__block">Hozirgi paytda o‘rmon xo‘jaliklari ko‘chatxonalarida 4 mln. donadan
            oshiq quyidagi noyob daraxt va butalar ko‘chatlari, jumladan qrim
            qarag‘ayi, kompaktli tuya, virgin archasi, eman, oqqayin, lola
            daraxti, yapon soforasi, soxta kashtan, katalpa,beresklet, samshit,
            yapon bexisi, farzitsiya, hind sireni, malva va boshqa ko‘chatlar
            mavjud.</span>
        </div>

        <button class="collapsible flex center">Xalqaro aloqalar</button>

        <div class="collapsible__content">
          <p class="activity__block activity__text">
            Xalqaro loyihalar monitoringi tomonidan xalqaro loyihalarni jalb etish
            borasida amalga oshirilayotgan ishlar haqida maʼlumot
          </p>
          <p class="activity__block">
            O‘zbekiston Respublikasi Vazirlar Mahkamasining 2014 yil 11 iyuldagi
            №190 sonli, 2014 yil 24 dekabrdagi №363 sonli hamda 2015 yil 29
            avgustdagi №255 sonli qarorlarida ko‘rsatilgan loyihalarni ishlab
            chiqish va uni amalga oshirish borasida bir qator uchrashuvlar va
            muzokaralarda ishtirok etdi. Shuningdek, o‘rmon xo‘jaligi sohasini
            rivojlantirishga qaratilgan hukumat Yig‘ilishi bayonlarida belgilangan
            vazifalarni amalga oshirish hamda o‘rmon xo‘jaligi sohasiga xorijiy
            investitsiyalarni jalb etish borasida sezilarli ishlar amalga
            oshirildi.
          </p>
          <p class="activity__block">
            Natijada 2016 yilning aprel oyi holatida umumiy qiymati 7 mln 200 AQSH
            dollari miqdoridagi 5 ta loyiha bugungi kunda amalga oshirilmoqda.
            Ular quyidagi loyihalardir:
          </p>
          <p class="activity__block">
            1.“Respublika o‘rmon resurslarini monitoring qilish va baholash
            (inventarizatsiya)”. BMTning FAO tashkiloti hamda Hukumat tomonidan
            tasdiqlangan. Loyiha qiymati 450 ming AQSH dollari.
          </p>
          <p class="activity__block">
            2.“O‘zbekistonda o‘simlik va hayvonot dunyosiga ko‘maklashish orqali
            ovchilik xo‘jaligini barqaror rivojlantirish va ekoturizm”. Hozirda
            mazkur loyiha belgilangan tartibda tegishli vazirlik va idoralar bilan
            kelishilgan va hukumat tomonidan tasdiqlangan hamda Birlashgan Arab
            Amirligi “Sulton Bin Taxnun al Nexyan” kompaniyasi tomonidan
            tasdiqlangan. Loyiha qiymati 1 mln 750 ming AQSH dollari.
          </p>
          <p class="activity__block">
            3.Germaniyaning xalqaro hamkorlik jamiyati (GIS) bilan hamkorlikda
            “O‘zbekiston davlat o‘rmon fondi yerlarida o‘rmon ekish mahsulotlarini
            tayyorlash va chakanda o‘simligi plantatsiyasini yaratish orqali
            hamkorlikda o‘rmon xo‘jaligini boshqarish modelini yaratish” loyihasi
            ustida ish olib borilmoqda. Loyiha qiymati 100 ming yevro.
          </p>
          <p class="activity__block">
            4.“Tog‘ va vodiy o‘rmonlarini barqaror boshqarish”. BMTning FAO
            tashkiloti hamda Hukumat tomonidan tasdiqlangan. Loyiha qiymati 4,5
            mln AQSH dollari. Global Ekologik Jamg‘arma (GEF) ushbu loyihani
            tasdiqladi va Aprel oyidan loyihaning aniq tadbirlari ishlab
            chiqilishiga kirishiladi. Buning uchun GEF mablag‘ ajratgan.
          </p>
          <p class="activity__block">
            5.Janubiy Koreyaning SK Forest kompaniyasi bilan Navoiy Markaziy
            o‘rmon xo‘jaligi o‘rtasida 2015 yil 26 avgustda Navoiy Erkin iqtisodiy
            industrial zona atrofiga ihota o‘rmonlarini tashkil etish bo‘yicha 410
            ming AQSH dollari miqdorida shartnoma imzolandi.
          </p>
          <p class="activity__block activity__text">
            2016 yilning birinchi yarmida yana-da uchta loyiha imzolanishi
            kutilmoqda.
          </p>
          <p class="activity__block">
            1. “Quyi Amudaryo oqimida ekotizimning barqarorligi asosida yerlardan
            foydalanish”. Mazkur loyiha Germaniyaning Atrof muhit vazirligi va
            Zukkov fondi hamda GIS bilan hamkorlikda amalga oshiriladi. Loyiha
            qiymati 2 mln Yevro. Loyihani imzolash may oylariga mo‘ljallangan.
          </p>
          <p class="activity__block">
            2. “Amudaryo deltasining qirg‘oqbo‘yi hududlarida 5 ming GA maydonda
            to‘qaylarning tabiiy tiklanishiga ko‘maklashish va o‘rmon
            xo‘jaliklarining moddiy texnik bazasini mustahkamlash” loyihasi. Bu
            loyiha qiymati 3 mln. AQSH dollari. Loyiha TIKA bilan hamkorlikda
            amalga oshirilishi ko‘zda tutilgan. Joriy yilning mart oyi avvalida
            TIKA tomonidan mutaxassislar kelib loyiha hududlarini o‘rganib
            ketishdi. Turkiya tomoni shu yilning birinchi yarmida ushbu loyihani
            imzolash istagini bildirishgan.
          </p>
          <p class="activity__block">
            3. Germaniya xalqaro iqlim tashabbusi jamg‘armasi bilan hamkorlikda
            “Markaziy Osiyo cho‘llarini muhofaza qilish” hududiy loyihasi. Loyiha
            qiymati 3 mln 300 ming yevro. Mazkur hududiy loyihani may oyida ishga
            tushirilishi rejalashtirilgan.
          </p>
          <p class="activity__block">
            Shuningdek, hozirda yana Xitoyning APFNET tashkiloti, Mixail Zukkov
            jamg‘armasi, Sultan bin Taxnun kompaniyasi va KOYKA tashkilotlari
            bilan o‘zaro hamkorlikda amalga oshirilishi rejalashtirilayotgan qator
            loyihalar ustida ish olib borilmoqda.
          </p>
          <p class="activity__block activity__text">
            O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasi tomonidan
            xalqaro grant mablag‘larini jalb qilish borasida amalga oshirilgan
            ishlar to‘g‘risida maʼlumot 2017 yil
          </p>
          <p class="activity__block">
            O‘rmon xo‘jaligi bosh boshqarmasi tomonidan joriy yilning avgust oyiga
            qadar umumiy qiymati 4 mln 180 ming AQSH dollari va 300 ming yevro
            miqdoridagi 4 ta loyihani amalga oshirishga muvaffaq bo‘lindi.2017
            yilning 4 kvartalida esa, quyidagi 3 ta umumiy qiymati 3 mln 300 ming
            AQSH dollari va 3 mln 100 ming Yevro bo‘lgan grant loyihalarni amalga
            oshirishni boshlash rejalashtirilgan.Shuningdek, qo‘mitamiz tomonidan
            yana umumiy qiymati 5 mln AQSH dollari miqdoridagi “Orolbo‘yi
            hududlarida 20 ming gektar maydonda o‘rmon ekish ishlarini amalga
            oshirish hamda cho‘l tipidagi seleksiyaviy o‘rmon urug‘chiligi
            bazasini yaratish” loyihasini amalga oshirish bo‘yicha Turkiya o‘rmon
            xo‘jaligi vazirligi bilan muzokaralar olib borilmoqda. Joriy yilning
            10 avgustida turkiyalik mutaxassislar bilan bu borada uchrashuv
            o‘tkazish rejalashtirilgan.Shu bilan birga BMTning FAO tashkiloti
            bilan 34 mln AQSH dollari miqdoridagi 4 ta loyiha ustida ish olib
            borilmoqda. Bunda Yashil iqlim jamg‘armasi hamda Global ekologik
            jamg‘arma mablag‘laridan foydalanish ko‘zda tutilgan.Shunigdek,
            hozirda Koreya xalqaro hamkorlik tashkiloti (KOYKA) va Jahon banki
            tashkilotlari bilan hamkorlikda loyihalar ishlab chiqish va uni amalga
            oshirish bo‘yicha ishlar olib borilmoqda. Shu bilan birga Xitoyning
            “bir makon bir yo‘l” loyihasi doirasida Orolbo‘yi hududlarida o‘rmon
            ekish ishlarini kengaytirish va urug‘chilik laboratoriyalarini tashkil
            etish bo‘yicha loyiha takliflari ishlab chiqildi.
          </p>
          <p class="activity__block activity__text">
            O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasining xalqaro
            tashkilotlar bilan aloqalari 2018-yil
          </p>
          <p class="activity__block">
            1. O‘zbekiston davlat o‘rmon fondi yerlarida o‘rmon ekish
            mahsulotlarini tayyorlash va chakanda o‘simligi plantatsiyasini
            yaratish orqali hamkorlikda o‘rmon xo‘jaligini boshqarish modelini
            yaratish (Germaniya xalqaro hamkorlik jamiyati (GIS))
          </p>
          <p class="activity__block">
            2. Quyi Amudaryo oqimida ekotizimning barqarorligi asosida yerlardan
            foydalanish (Germaniya xalqaro hamkorlik jamiyati (GIS) Germaniya
            atrof muhit vazirligi)
          </p>
          <p class="activity__block">
            3. Markaziy Osiyo cho‘llarini muhofaza qilish (Germaniyaning Graysfeld
            universiteti, Mixail Zukkov Jamg‘armasi) BMTning FAO tashkiloti)
          </p>
        </div>

        <button class="collapsible flex center">
          O‘rmonlarni muhofaza qilish
        </button>

        <div class="collapsible__content">
          <p class="activity__block activity__text">O‘rmon xo‘jaligi haqida</p>
          <p class="activity__block">
            Respublika O‘rmon xo‘jaligi Bosh boshqarmasiga qarashli yerlar maydoni
            2007 yil 1 yanvar holatiga 8,7 mln gektarni yoki respublika umumiy
            maydonining 18,1 % ini tashkil qiladi. Shundan o‘rmon bilan qoplangan
            maydon, 2,7 mln gektarni va respublikaning umumiy yer maydoniga
            nisbatan 5,3 % ni tashkil qiladi.
          </p>
          <p class="activity__block">
            Respublikada O‘rmon xo‘jaligi tizimida 7 ta viloyat markaziy o‘rmon
            xo‘jaliklari va ularning tarkibida 54 ta o‘rmon xo‘jaligi, 8 ta
            mustaqil o‘rmon xo‘jaligi, 8 ta maxsus o‘rmon xo‘jaligi, 6 ta
            qo‘riqxonalar, 5 ta ov xo‘jaligi, 1 ta milliy tabiiy bog‘ va 21 ishlab
            chiqarish uchastkalari mavjud.
          </p>
          <p class="activity__block">
            Oxirgi yillarda o‘rmon xo‘jaligining rivojlanishiga katta ahamiyat
            berilmoqda. Natijada o‘rmon fondi yer maydonlari 5,1 mln gektarni
            tashkil etib, 2006 yilga 8,7 mln gektarga yetkazildi, shu bilan birga
            bu yerlarda bir necha yangi o‘rmon xo‘jaliklari tashkil qilindi.
          </p>
          <p class="activity__block">
            Vazirlar Mahkamasining 1993 yil 2 yanvardagi 13-sonli qarori bilan
            boshqa tizimlarga qarashli bo‘lgan o‘rmon bilan qoplangan
            maydonlarning 400 ming gektari xozirgi kunga qadar Bosh boshqarmaning
            qaramog‘iga o‘tkazildi.
          </p>
          <p class="activity__block">
            2007 yilda Surxondaryo viloyatida fermer xo‘jaliklariga aylantirilgan
            shirkat xo‘jaliklariga qarashli bo‘lgan 27,1 ming gektar maydondagi
            noyob igna bargli archazorlar o‘rmon xo‘jaligi tarkibiga o‘tkazildi.
          </p>
          <p class="activity__block">
            Qashqadaryo viloyatida xam o‘rmon bilan qoplangan maydonlarni o‘rmon
            fondi yerlariga o‘tqazish bo‘yicha bir muncha ishlar amalga
            oshirilmoqda
          </p>
          <p class="activity__block">
            Respublikada o‘rmonlarning muhimligi va ularni miqdori kamligini
            inobatga olib, harakatda bo‘lgan meʼyoriy xujjatlarga asosan yoppasiga
            kesish ishlari to‘xtatilgan va faqat o‘rmonlarni sanitariya
            holatlarini yaxshilash maqsadida kesish ishlariga ruxsat berilgan.
          </p>
          <p class="activity__block">
            Har yili har turdagi kesish ishlaridan 30-35 ming m3 yog‘och olinib,
            mahalliy qurilish ishlarida va o‘rmon xo‘jaliklarida tashkil qilingan
            sexlarda xalq isteʼmoli mollari ishlab chiqarishda ishlatilmoqda.
          </p>
          <p class="activity__block">
            Bundan tashqari o‘rmon xo‘jaligi tizimida har yili 65 tonnadan ortiq
            yong‘oq, 15 tonnadan ortiq bodom, 30 tonna pista, 2500 tonna
            meva-sabzavot mahsulotlari va 300 tonnaga yaqinroq dorivor va ozuqabop
            o‘simliklar tayyorlanadi. Oxirgi yillarda ushbu dorivor va ozuqabop
            o‘simliklarini va qisman qishloq xo‘jaligi mahsulotlarini qadoqlash va
            savdo shahobchalariga yetkazish ishlari amalga oshirilgan.
          </p>
          <p class="activity__block">
            Har yili respublika o‘rmon fondi yerlarida 42 ming gektar maydonida
            yangi o‘rmonzorlar barpo etilmoqda. Shundan 80 % Orol dengizining
            qurigan tubida va Orol bo‘yi mintaqalarida cho‘l o‘simliklaridan
            o‘rmonzorlar barpo etilmoqda. Tog‘li hududlarida 3 turdagi archa,
            yong‘oq, bodom, pista va boshqa turdagi daraxtlar vodiy hududlarda
            terak, chinor qayrag‘och, mevali daraxtlar va boshqa tez o‘suvchi
            daraxtlar ekilmoqda.
          </p>
          <p class="activity__block">
            Keyingi yillarda urug‘dan sepib madaniy o‘rmonzorlar barpo etish
            yaxshi samara bermayotganligi sababli ko‘chatdan ekish usuli keng
            ko‘lamda qo‘llanilmoqda. Bu o‘z navbatida o‘rmon bilan qoplangan
            maydonga o‘tkazishni taʼminlashda yaxshi natija bermoqda.
          </p>
          <p class="activity__block activity__text">
            Yashil boyligimizni o‘rmon yong‘inlaridan asraylik
          </p>
          <p class="activity__block">
            Insoniyat hayoti ming yillar osha o‘simlik va hayvonat olami bilan
            bevosita bog‘liq bo‘lib kelgan. Aniqroq qilib aytadigan bo‘lsak, yer,
            suv, tabiat va undagi o‘simlik va hayvonot dunyosini inson hayotidan
            ajratib tasavvur etish mumkin emas. Yaratganning bizga mehr-muruvvati
            shunchalar beqiyoski, artofimizni o‘rab turgan butun borliq tiriklik
            manbaigina bo‘lib qolmay, bizga go‘zallik, yashash va huzurlanish
            zavqini ham beradi. Birgina o‘simliklar dunyosining umrimizga umr
            qo‘shayotganligi tabiat va jamiyat hayotining bir-biri bilan uzviy
            bog‘liqligidan dalolatdir. Ana shu bog‘liqliklarni saqlab qolish va
            abadiyligini taʼminlash yo‘lida insoniyat qo‘lidan kelgunicha yaxshi,
            ezgu ishlarni amalga oshirmog‘i kerak.
          </p>
          <p class="activity__block">
            Odamzot tabiatni qanchalik sevmasin, uni eʼzozlab asramasin, baʼzan
            o‘zidan ham favqulodda ozor chekadi. Masalan, kurrai zaminimizning
            turli mintaqalarida o‘rmonlarga chaqmoq sababli yashin tushishi yoki
            iqlimning nihoyatda qurg‘oqchiligi tufayli o‘rmonlarda o‘rmon yong‘ini
            kelib chiqayotganligi kuzatilmoqda. Baʼzan odamlarning eʼtiborsizligi
            hamda ehtiyotsizligi oqibatida minglab gektar o‘rmonzorlarda,
            yaylovzorlarda yong‘in chiqib, ulardagi mavjud o‘simlik va hayvonot
            dunyosining yo‘q bo‘lib ketishiga sabab bo‘lmoqda. O‘rmon yong‘ini
            kelib chiqishi tabiatga va insoniyatga juda katta zarar keltirish
            barchamizga maʼlum. Bunda faqat o‘rmonning go‘zalligiga dog‘
            tushibgina qolmasdan, balki undan ajralib chiqadigan kislorod
            miqdorining keskin kamayishiga, tuproq tarkibining buzilishiga,
            foydali hashorat va mikroorganizmlarning yo‘qolib ketishiga olib
            keladi. Olimlarning taʼkidlashiga qaraganda dunyo bo‘yicha har yili
            o‘rmonlar yong‘ini oqibatida 2 million tonnadan ortiq organik modda
            yo‘q bo‘lib ketishi aniqlangan.
          </p>
          <p class="activity__block">
            Statistika maʼlumotlariga ko‘ra 99 foiz holatlarda bevosita insoniyat
            tufayli, qolgan 1 foiz holatda tabiiy ofatlar sababli o‘rmonlarda
            o‘rmon yong‘inining kelib chiqishi qayd qilingan.
          </p>
          <p class="activity__block activity__text">
            O‘rmon xo‘jaliklariga qo‘yiladigan talablar
          </p>
          <p class="activity__block">O‘rmon xo‘jaliklari:</p>
          <p class="activity__block">
            a)o‘rmonda yong‘inga qarshi oralik joylar, yo‘llar, yong‘inga qarshi
            minerallashtirilgan himoya polosalari, zovurlar, suv xavzalarini
            qurishga, o‘rmonlarni yog‘och qoldiqlaridan va boshqa tez yonadigan
            materiallardan tozalashga va o‘rmonlarning yong‘in xavfsizligini
            oshirishga yo‘naltirilgan boshqa o‘rmon xo‘jaligi tadbirlarini
            o‘tkazishga;
          </p>
          <p class="activity__block">
            b) aholi, o‘quvchilar, o‘rmonda ishlar olibboruvchi yoki obyektlarga
            ega bo‘lgan korxonalar, tashkilotlar va muassasalar xodimlari
            o‘rtasida olov bilan extiyot bo‘lib muomila qilish va o‘rmonlardagi
            yong‘inlarni o‘chirish qoidalari bo‘yicha tushuntirish ishlari olib
            borishga;
          </p>
          <p class="activity__block">
            v) keng foydalaniladigan o‘rmon yo‘llari bo‘ylab o‘rmonda olov bilan
            ehtiyot bo‘lib muomila qilish zarurligi va yong‘in xavfsizligi
            qoidalarini buzganlik uchun javobgarlik haqida ogohlantiruvchi
            eʼlonlar va plakatlarni o‘rnatishga;
          </p>
          <p class="activity__block">
            b) aholi, o‘quvchilar, o‘rmonda ishlar olibboruvchi yoki obyektlarga
            ega bo‘lgan korxonalar, tashkilotlar va muassasalar xodimlari
            o‘rtasida olov bilan extiyot bo‘lib muomila qilish va o‘rmonlardagi
            yong‘inlarni o‘chirish qoidalari bo‘yicha tushuntirish ishlari olib
            borishga;
          </p>
          <p class="activity__block">
            g) o‘rmon yo‘llari bo‘ylab dam olish va chekish uchun umumiy
            foydalaniladigan joylarni jixozlashga;d) o‘rmon xo‘jaliklari
            xududlarida paydo bo‘ladigan yong‘inlarni o‘z vaqtida aniqlash va
            tugatishini taʼminlash chora-tadbirlarini ko‘rishga majburdirlar.
          </p>
          <p class="activity__block activity__text">
            O‘rmonlardagi yong‘inlarni o‘chirish bo‘yicha yuridik va jismoniy
            shaxslarga qo‘yiladigan talablar
          </p>
          <p class="activity__block">
            O‘rmonlarda ishlar bajaruvchi yoki qo‘rg‘onlar, yo‘llar, omborlar,
            inshootlar va boshqa obyektlarga ega bo‘lgan o‘rmon xo‘jaliklari va
            boshqa korxonalar, tashkilotlar va muassasalar ishlash joylarida,
            qo‘rg‘onlar yaqinida, yo‘llar, omborlar va boshqa obyektlarda
            o‘rmonlardagi yong‘inlar paydo bo‘lgan taqdirda darhol o‘z kuchlari
            bilan ushbu yong‘inlarni o‘chirish choralarini ko‘rishgan va yong‘in
            to‘g‘risida yong‘in muxofazasi organiga va tegishli o‘rmon xo‘jaligiga
            yoki joylardagi davlat hokimiyati organlariga xabar berishga
            majburdirlar.Jismoniy shaxslar o‘rmonlardagi yong‘inni payqaganda
            darhol uni o‘chirish choralarini ko‘rishga, o‘z kuchi bilan yong‘inni
            o‘chirish iloji bo‘lmaganda yong‘inni muxofazasi organiga, o‘rmon
            xo‘jaligi va militsiya xodimlariga yoki joylardagi hokimiyat
            organlariga xabar berishga majburdirlar.Korxonalar, tashkilotlar va
            muassasalar rahbari, o‘rmon xo‘jaliklarining o‘rmonni muxofaza qilish
            xodimlari talabiga ko‘ra joylardagi davlat hokimiyati organlari
            qarorlariga muvofiq o‘rmonlardagi yong‘inlarni o‘chirish uchun texnika
            vositalarini tezda jo‘natishga majburdir.O‘rmonlardagi yong‘inlarni
            o‘chirish uchun jalb qilinadigan jismoniy shaxslar tumanlar
            hokimliklari qarorlariga muvofiq ushbu ishlarni o‘rmon xo‘jliklarining
            o‘rmonnni muxofaza qilish xodimlari, O‘zbekiston Respublikasi Davlat
            yong‘in nazorati organlari va mansabdor shaxslari rahbarligida
            bajaradi.
          </p>
          <p class="activity__block activity__text">
            O‘rmonlarda yong‘in xavfsizligi qoidalarini buzganlik uchun
            javobgarlik
          </p>
          <p class="activity__block">
            Yuqorida sanab o‘tilgan yuridik va jismoniy shaxslar, korxonalar,
            tashkilotlar va muassasalar o‘rmondan foydalanishda va o‘rmonlarda
            ishlarni bajarishda mazkur Qoidalarning umumiy talablariga rioya
            qilishlari kerak.
          </p>
          <p class="activity__block">
            O‘rmonda yong‘in paydo bo‘lishi bilan darhol ishlarni tashkil etishga
            va uni o‘chirish choralarini ko‘rishga majburlar.
          </p>
          <p class="activity__block">
            O‘rmonlarda yong‘in xavfsizligi qoidalari buzilishida aybdor bo‘lgan
            shaxslar o‘rmon xo‘jaligiga yetkazilgan zarar uchun O‘zbekiston
            Respublikasi qonun hujjatlariga muvofiq javob beradilar.
          </p>
          <p class="activity__block activity__text">
            Yong‘in yetkazgan zararni aniqlash
          </p>
          <p class="activity__block">
            O‘rmonlarda yong‘in xavfsizligi qoidalarini buzish natijasida o‘rmon
            xo‘jaligiga yetkazilgan zararni undirish miqdorini hisoblab chiqarish
            va yong‘in paydo bo‘lishining turli sabablari va daraxtlar hamda
            boshqa o‘simliklarning zararlanish darajasiga ko‘ra, daraxtlar qurishi
            yoki yog‘och nobud bo‘lishiga oid daʼvo summalarining hisob-kitobi
            Vazirlar Mahkamasining Biologik resurslardan foydalanishni tartibga
            solish va tabiatdan foydalanish sohasida ruxsat berish
            tartib-taomillaridan o‘tish tartibi to‘g‘risida
          </p>
          <p class="activity__block">
            2014 yil 20 oktyabrdagi 290-sonli qaroriga muvofiq belgilanadi.
          </p>
          <p class="activity__block activity__text">
            Yong‘inni o‘chirishning dastlabki vositalari
          </p>
          <p class="activity__block">
            O‘rmon xo‘jaligi yurituvchi korxonalar, tashkilotlar va muassasalarxar
            bir uchastka (o‘rmon uchastkasi)da yong‘inni o‘chirishning dastlabki
            vositalarini saqlashi, zarur bo‘lganda o‘rmonlardagi ayrim
            yong‘inlarni boshlang‘ich bosqichda o‘chirishni mustaqil ravishda
            tashkil etishlari kerak.
          </p>
          <p class="activity__block">
            Bunda quyidagilarga ega bo‘lishlari zarur:
          </p>
          <p class="activity__block">
            a) minish va yuk ortish egarlari bo‘lgan otlar; b) ko‘chma yong‘in
            motopompasi yoki kichik ko‘chma o‘rmon motopompalari; v) ranesli
            (safarxaltasi) o‘rmon o‘t o‘chirgichlari – suv purkagichlar; g) benzin
            bilan ishlaydigan arra; d) yong‘in belkuraklari, boltalar, motigalar,
            xaskashlar; e) zarur suyuqliklarni tashish uchun sig‘imi 20 litrli
            kanistralar; j) ish kiyimlari va maxsus poyabzal, ichimlik suvi uchun
            sig‘imi 20 litrgacha bo‘lgan bidonlar yoki kanistralar, suv uchun
            krujkalar; z) birinchi yordam ko‘rsatish uchun tibbiy dori
            qutichalari.
          </p>
          <p class="activity__block">
            Ko‘rsatib o‘tilgan barcha vositalar yong‘in xavfi mavsumi
            boshlanishidan bir oy oldin o‘rmonlardagi yong‘inlarga qarshi kurash
            ishlariga to‘liq tayyor holga keltirilgan bo‘lishi kerak.
          </p>
          <p class="activity__block">
            Uchastkalar (o‘rmon xo‘jaligi uchastkalari)da o‘t o‘chirish anjomlari
            va vositalarini saqlash uchun o‘rmon uchastkasi boshliqlari
            (o‘rmonchilar)ga biriktirilgan binolar, shuningdek mayda taʼmirlash
            uchun asbob-uskunalar va anjomlar bo‘lishi kerak.O‘rmon xo‘jaligi
            korxonalarining mansabdor shaxslari yong‘in anjomlarining saqlanishi
            va ularning o‘rmonlardagi yong‘inlarni o‘chirishda to‘g‘ri
            ishlatilishi uchun to‘liq javob beradi.
          </p>
          <p class="activity__block">
            Anjomlar ishdan chiqganligi yoki ulardan boshqa maqsadlarda
            foydalanilganligi, shuningdek o‘rmonlarda yong‘in xavfsizligi
            qoidalari buzilganligi, shu sabablarga ko‘ra o‘rmonlarda yong‘in
            chiqqanligi uchun o‘rmon xo‘jaligi korxonalarining mansabdor shaxslari
            amaldagi qonun hujjatlariga muvofiq maʼmuriy yoki jinoiy javob
            beradilar, yoki o‘rmon xo‘jaligiga yetkazilgan zarar uchun mulkiy
            javob beradilar.
          </p>
        </div>

        <button class="collapsible flex center">
          O‘rmon xo‘jaligi faoliyati to‘g‘risida maʼlumotlar
        </button>

        <div class="collapsible__content">
          <a class="activity__link" href="/uz/activity/statistics-2017">O‘rmon xo‘jaligi davlat qo‘mitasi tizimida 2017
            yilning IV choragi
            davomida amalga oshgirilgan ishlar</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi davlat qo‘mitasi tizimida 2017 yilning III choragi
            davomida amalga oshgirilgan ishlar</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi davlat qo‘mitasi tizimida 2017 yilning II choragi
            davomida amalga oshgirilgan ishlar</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi bosh boshqarmasi bo‘yicha 2017 yilning I choragi
            davomida amalga oshirilgan ishlar</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi sohasida 2016 yilning birinchi yarmida amalga
            oshirilgan ishlar haqida maʼlumot</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi bosh boshqarmasi bo‘yicha 2015 yilning III choragi
            davomida sohani ijtimoiy-iqtisodiy rivojlantirish va iqtisodiy
            islohotlarning borishi to‘g‘risida</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi sohasida 2015 yilning I choragi davomida amalga
            oshirilgan ishlar haqida</a>
          <a class="activity__link" href="/uz/activity/forest-fund">Davlat o‘rmon fondi yerlari to‘g‘risida maʼlumot</a>
          <a class="activity__link" href="#">O‘rmon xo‘jaligi sohasini rivojlantirish borasida 2015 yilda amalga
            oshirilgan ishlar to‘g‘risida maʼlumot</a>
          <a class="activity__link" href="#">2015 yilning I choragi davomida o‘rmon xo‘jaligi sohasida
            ijtimoiy-iqtisodiy rivojlantirish va iqtisodiy islohotlarning borishi
            to‘g‘risida</a>
          <a class="activity__link" href="#">2014 yil davomida o‘rmon xo‘jaligi sohasida amalga oshirilgan ishlar
            haqida</a>
          <a class="activity__link" href="#">O‘zbekistonda kovrak o‘simligini muhofaza qilish va ko‘paytirish
            imkoniyatlari.</a>
          <a class="activity__link" href="/uz/activity/shifobaxsh-scientific-production">“Shifobaxsh” ilmiy-ishlab
            chiqarish markazi mustaqillik yillarida</a>
          <a class="activity__link" href="/uz/activity/forest-fund-briefly">Davlat o‘rmon fondi yerlari to‘g‘risida
            qisqacha maʼlumot</a>
        </div>
      </div>
    </main>
    <script src="/js/collapsibles.js"></script>
    <script src="/js/topScroll.js"></script>
  </body>

  <%- include("../layouts/footer")%>