<%- include("../layouts/header")%>
<body>
  <main class="container inner-page-margin">
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qo‘mita haqida</a>
      <span class="navigate-text"> > </span>
      <a href="/uz/system-organizations" class="navigate-text"
        >Tizim tashkilotlari</a
      >
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Andijon viloyati</a>
    </div>
    <h1 class="heading-primary mb-24">Andijon viloyati</h1>

    <table class="systemOrganization__table">
      <thead>
        <tr class="systemOrganization__table__column">
          <th
            class="heading-secondary systemOrganization__table__row name-organization"
          >
            Respublika tashkilotlari
          </th>
          <th class="heading-secondary systemOrganization__table__row director">
            Direktor
          </th>
          <th
            class="heading-secondary systemOrganization__table__row phone-number"
          >
            Ish telefoni
          </th>
          <th class="heading-secondary systemOrganization__table__row email">
            Elektron pochta
          </th>
        </tr>
      </thead>
      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Andijon viloyati O‘rmon xo‘jaligi boshqarmasi boshlig‘i
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Abidov Qobiljon Gafurovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998975258000" class="text-secondary"
            >+998 97 5258000
          </a>
          <a href="tel:+998742274642" class="text-secondary"
            >+998 74 2274642
          </a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:qqr@urmon.uz" class="text-secondary">qqr@urmon.uz</a>
        </td>
      </tr>
    </table>
  </main>
</body>

<%- include("../layouts/footer")%>
