<%- include("../layouts/header")%>
<body>
  <main class="grid grid-2-column container gap-30 budget-openness">
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Ochiq maʼlumotlar
      </p>

      <ul class="card">
        <li>
          <a href="/uz/budget-openness" class="text-four pages-list active"
            >Byudjet ochiqligi</a
          >
        </li>
        <li>
          <a
            href="/uz/information-of-social-importance"
            class="pages-list text-four"
            >Ijtimoiy ahamiyatga molik maʼlum...</a
          >
        </li>
        <li>
          <a href="/uz/investment-projects" class="pages-list text-four"
            >Investitsion loyihalar</a
          >
        </li>
        <li>
          <a href="/uz/budget-openness" class="pages-list text-four"
            >Ochiq maʼlumotlar</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Ochiq maʼlumotlar</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/budget-openness" class="navigate-text"
          >Byudjet ochiqligi</a
        >
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">01.01.2021 holatiga</a>
      </div>

      <h1 class="heading-primary activity__title">01.01.2021 holatiga</h1>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Byudjet jami 01.01.2021</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-xls.svg" alt=""
          /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Byudjet (vaqtinchalik smeta)-1</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-doc.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Byudjet (vaqtinchalik smeta)-2</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-xls.svg" alt=""
          /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Byudjet shartnomalar</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-doc.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Byudjetdan tashqari mablag‘lar harakati</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-xls.svg" alt=""
          /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Balans byudjet 01.01.2021</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-doc.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">
          Byudjetdan tashqari shartnomalar 01.01.2021
        </p>

        <div class="flex gap-30">
          <a href="#" download=""
            ><img src="/assets/img/active-pdf.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">2-shakl byudjet 01.01.2021</p>

        <div class="flex gap-30">
          <a href="#" download=""
            ><img src="/assets/img/active-pdf.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">
          Byudjetdan tashqari mablag‘lar harakati-2
        </p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-doc.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">
          Investitsiya loyihalar bo‘yicha maʼlumot 01.01.2021
        </p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-doc.svg" alt=""
          /></a>
          <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
        </div>
      </div>

      <div class="flex budget-openness-inner-page">
        <p class="heading-secondary">Kapital qo‘yilmalar 01.01.2021</p>

        <div class="flex gap-30">
          <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
          <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
          <a href="#" download=""
            ><img src="/assets/img/active-xls.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include("../layouts/footer")%>
