<%- include("../layouts/header")%>

<body>
  <main
    class="grid grid-2-column container gap-30 inner-page-margin budget-openness"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Ochiq ma始lumotlar
      </p>

      <ul class="card">
        <li>
          <a href="/uz/budget-openness" class="text-four pages-list active"
            >Byudjet ochiqligi</a
          >
        </li>
        <li>
          <a
            href="/uz/information-of-social-importance"
            class="pages-list text-four"
            >Ijtimoiy ahamiyatga molik ma始lum...</a
          >
        </li>
        <li>
          <a href="/uz/investment-projects" class="pages-list text-four"
            >Investitsion loyihalar</a
          >
        </li>
        <li><a href="#" class="pages-list text-four">Ochiq ma始lumotlar</a></li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Ochiq ma始lumotlar</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Byudjet ochiqligi</a>
      </div>

      <h1 class="heading-primary activity__title">Byudjet ochiqligi</h1>

      <div class="budget-openness__box flex gap-30">
        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>

        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.04.2021 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>

        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.10.2021 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>

        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.01.2022 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>

        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.04.2022 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>
        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.07.2022 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>
        <a
          href="/uz/budget-openness/reports"
          class="budget-openness__box__card"
        >
          <img
            class="budget-openness__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="budget-openness__box__card__text mb-16"
            >01.10.2022 holatiga</span
          >
          <span class="budget-openness__box__card__mini-text">hisobotlar</span>
        </a>
      </div>
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
