<%- include("../layouts/header")%>
<body>
    <main class="grid grid-2-column container activity gap-30 inner-page-margin centralApparatus">
        <div>
            <p class="text-secondary main-page-inner-page-secondary-title">Qo‘mita haqida</p>
            <ul class="card">
                <li> <a class="pages-list text-four" href="/uz/activity">Faoliyat</a></li>
                <li> <a class="pages-list text-four" href="/uz/function-and-tasks">Qo‘mita funksiyalari va
                        vazifalari</a>
                </li>
                <li> <a class="pages-list text-four " href="/uz/management">Rahbariyat</a></li>
                <li> <a class="pages-list text-four active" href="/uz/central-apparatus">Markaziy apparat</a></li>
                <li> <a class="pages-list text-four" href="/uz/structure">Tarkibiy tuzilma</a></li>
                <li> <a class="pages-list text-four" href="/uz/system-organizations">Tizim tashkilotlari</a></li>
                <li> <a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
                <li> <a class="pages-list text-four" href="/uz/community-council">Jamoatchilik kengashi</a></li>
                <li> <a class="pages-list text-four" href="/uz/e-government">Elektron hukumat</a></li>
                <li> <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a></li>
                <li> <a class="pages-list text-four" href="/uz/corruption">Korrupsiyaga qarshi kurash</a></li>
            </ul>
        </div>
        <div>

            <div class="mb-16">
                <a href="/" class="navigate-text">Asosiy</a>
                <span class="navigate-text"> > </span>
                <a href="#" class="navigate-text">Qo‘mita haqida</a>
                <span class="navigate-text"> > </span>
                <a href="/uz/central-apparatus" class="navigate-text">Markaziy apparat</a>
            </div>

            <h1 class="heading-primary centralApparatus__title">Markaziy apparat</h1>
            <div class="centralApparatus__box flex gap-30">
                <img src="/assets/img/Abduhakimova Malika.png" alt="" class="centralApparatus__box__img">
                <div>
                    <p class="centralApparatus__box__title">Abduxakimova Malika Maxkamovna</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="centralApparatus__box__text">Rais maslahatchisi</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="centralApparatus__box__text">+998 71 263-08-50</a>

                    <span class="small-print">Faks:</span>
                    <p class="centralApparatus__box__text">+998 71 263-08-50</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:info@urmon.uz" class="centralApparatus__box__text">info@urmon.uz</p>

                        <span class="small-print">Qabul kunlari:</span>
                        <p class="centralApparatus__box__text">Ish kunlari soat 10:00 dan 12:00 gacha</p>
                </div>
            </div>

            <div class="centralApparatus__box flex gap-30">
                <img src="/assets/img/Ashurov Otabek.png" alt="" class="centralApparatus__box__img">
                <div>
                    <p class="centralApparatus__box__title">Ashurov Otabek Anvarovich</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="centralApparatus__box__text">Matbuot kotibi</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="centralApparatus__box__text">+998 71 263-08-50</a>

                    <span class="small-print">Faks:</span>
                    <p class="centralApparatus__box__text">+998 71 263-08-50</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:matbuot@urmon.uz" class="centralApparatus__box__text">matbuot@urmon.uz</a>

                    <span class="small-print">Qabul kunlari:</span>
                    <p class="centralApparatus__box__text">Ish kunlari soat 10:00 dan 12:00 gacha</p>
                </div>
            </div>



            <div class="centralApparatus__box flex gap-30">
                <img src="/assets/img/Xujayev Olimjon.png" alt="" class="centralApparatus__box__img">
                <div>
                    <p class="centralApparatus__box__title">Xujayev Olimjon Voxidovich</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="centralApparatus__box__text">Iqtisodiy tahlil, prognozlashtirish, moliyalashtirish va
                        jamg‘arma mablag‘larini boshqarish boshqarmasi boshlig‘i</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="centralApparatus__box__text">+998 71 263-08-50</a>

                    <span class="small-print">Faks:</span>
                    <p class="centralApparatus__box__text">+998 71 263-08-50</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:moliya@urmon.uz" class="centralApparatus__box__text">moliya@urmon.uz</p>

                        <span class="small-print">Qabul kunlari:</span>
                        <p class="centralApparatus__box__text">Ish kunlari soat 10:00 dan 12:00 gacha</p>
                </div>
            </div>

            <div class="centralApparatus__box flex gap-30">
                <img src="/assets/img/Xushnazarov Olimjon.png" alt="" class="centralApparatus__box__img">
                <div>
                    <p class="centralApparatus__box__title">Xushnazarov Nurali Boykobilovich</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="centralApparatus__box__text">Ichki audit bo‘limi boshlig‘i</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="centralApparatus__box__text">+998 71 263-08-50</a>


                    <span class="small-print">Faks:</span>
                    <p class="centralApparatus__box__text">+998 71 263-08-50</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:hisob@urmon.uz" class="centralApparatus__box__text">hisob@urmon.uz</a>

                    <span class="small-print">Qabul kunlari:</span>
                    <p class="centralApparatus__box__text">Ish kunlari soat 10:00 dan 12:00 gacha</p>
                </div>
            </div>
            <div class="page flex gap-16">
                <a href="#" class="small-print"><img src="/assets/img/prevArrow.svg" alt="prevArrow"></a>
                <a href="#" class="small-print">1</a>
                <a href="#" class="small-print">2</a>
                <a href="#" class="small-print">3</a>
                <a href="#" class="small-print">4</a>
                <a href="#" class="small-print">5</a>
                <a href="#" class="small-print">6</a>
                <a href="#" class="small-print">...</a>
                <a href="#" class="small-print"><img src="/assets/img/nextArrow.svg" alt="next"></a>
            </div>

        </div>
    </main>
</body>
<%- include("../layouts/footer")%>