<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container gap-30 inner-page-margin citizens-appeal"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Interaktiv xizmatlari
      </p>

      <ul class="card">
        <li>
          <a href="/uz/useful-links" class="pages-list">Virtual qabulxona</a>
        </li>
        <li>
          <a href="#" class="pages-list text-four"
            >O‘rmon fondi yerlarini ijaraga olish</a
          >
        </li>
        <li>
          <a href="#" class="pages-list text-four">Ruxsatnoma olish portali</a>
        </li>
        <li><a href="#" class="pages-list text-four">Elektron hisobot</a></li>
        <li>
          <a href="#" class="pages-list text-four"
            >Yuklab olish uchun shakllar</a
          >
        </li>
        <li><a href="#" class="pages-list text-four">Forum</a></li>
        <li>
          <a href="/uz/citizens-appeal" class="pages-list text-four active"
            >Fuqarolar murojaati</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Interaktiv xizmatlar</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Fuqarolar murojaati</a>
      </div>
      <h1 class="heading-primary mb-24">Fuqarolar murojaati</h1>
      <h2 class="heading-secondary mb-16">
        Arizalarni, takliflarni, shikoyatlarni qabul qilish tartibi to‘g‘risida
      </h2>

      <p class="mb-16">
        Jismoniy shaxsning murojaatida jismoniy shaxsning familiyasi (ismi,
        otasining ismi), uning yashash joyi to‘g‘risidagi maʼlumotlar
        ko‘rsatilgan bo‘lishi kerak.
      </p>

      <p class="mb-16">
        Yuridik shaxsning murojaatida yuridik shaxsning to‘liq nomi, uning
        joylashgan yeri (pochta manzili) to‘g‘risidagi maʼlumotlar ko‘rsatilgan
        bo‘lishi kerak.
      </p>

      <p class="mb-16">
        Jismoniy va yuridik shaxsning murojaatida davlat organining,
        tashkilotning aniq nomi, murojaat yuborilayotgan mansabdor shaxsning
        lavozimi va (yoki) familiyasi (ismi, otasining ismi) ko‘rsatilgan,
        shuningdek murojaatning mohiyati bayon etilgan bo‘lishi kerak.
      </p>

      <p class="mb-16">
        Murojaatlarda murojaat etuvchilarning elektron pochta manzili, aloqa
        telefonlari va fakslari raqamlari ko‘rsatilishi mumkin.
      </p>

      <p class="mb-16">
        Murojaatlar davlat tilida va boshqa tillarda berilishi mumkin.
      </p>

      <p class="mb-16">
        Yozma murojaat murojaat etuvchi jismoniy shaxsning imzosi yoki murojaat
        etuvchi yuridik shaxs vakolatli shaxsining imzosi bilan tasdiqlangan
        bo‘lishi lozim. Jismoniy shaxsning yozma murojaatini murojaat
        etuvchining imzosi bilan tasdiqlash imkoni bo‘lmagan taqdirda, bu
        murojaat uni yozib bergan shaxsning imzosi bilan tasdiqlanib, uning
        familiyasi (ismi, otasining ismi) ham qo‘shimcha ravishda yozib
        qo‘yilishi kerak.
      </p>

      <p class="mb-16">
        Murojaat etuvchilarning vakillari orqali berilgan murojaatlarga ularning
        vakolatlarini tasdiqlovchi hujjatlar ilova qilinadi.
      </p>

      <p class="mb-16">
        Murojaatlar O‘rmon xo‘jaligi davlat qo‘mitasining Jismoniy va yuridik
        shaxslar murojaatlari bilan ishlash bo‘yicha bosh mutaxassisi tomonidan
        qabul qilib olinadi.Jismoniy shaxsning murojaatida jismoniy shaxsning
        familiyasi (ismi, otasining ismi), uning yashash joyi to‘g‘risidagi
        maʼlumotlar ko‘rsatilgan bo‘lishi kerak.
      </p>

      <p class="mb-16">
        Yuridik shaxsning murojaatida yuridik shaxsning to‘liq nomi, uning
        joylashgan yeri (pochta manzili) to‘g‘risidagi maʼlumotlar ko‘rsatilgan
        bo‘lishi kerak.
      </p>

      <p class="mb-16">
        Jismoniy va yuridik shaxsning murojaatida davlat organining,
        tashkilotning aniq nomi, murojaat yuborilayotgan mansabdor shaxsning
        lavozimi va (yoki) familiyasi (ismi, otasining ismi) ko‘rsatilgan,
        shuningdek murojaatning mohiyati bayon etilgan bo‘lishi kerak.
      </p>

      <p class="mb-16">
        Murojaatlarda murojaat etuvchilarning elektron pochta manzili, aloqa
        telefonlari va fakslari raqamlari ko‘rsatilishi mumkin.Murojaatlar
        davlat tilida va boshqa tillarda berilishi mumkin.
      </p>

      <p class="mb-16">
        Yozma murojaat murojaat etuvchi jismoniy shaxsning imzosi yoki murojaat
        etuvchi yuridik shaxs vakolatli shaxsining imzosi bilan tasdiqlangan
        bo‘lishi lozim. Jismoniy shaxsning yozma murojaatini murojaat
        etuvchining imzosi bilan tasdiqlash imkoni bo‘lmagan taqdirda, bu
        murojaat uni yozib bergan shaxsning imzosi bilan tasdiqlanib, uning
        familiyasi (ismi, otasining ismi) ham qo‘shimcha ravishda yozib
        qo‘yilishi kerak.
      </p>

      <p class="mb-16">
        Murojaat etuvchilarning vakillari orqali berilgan murojaatlarga ularning
        vakolatlarini tasdiqlovchi hujjatlar ilova qilinadi.
      </p>

      <p class="mb-16">
        Murojaatlar O‘rmon xo‘jaligi davlat qo‘mitasining Jismoniy va yuridik
        shaxslar murojaatlari bilan ishlash bo‘yicha bosh mutaxassisi tomonidan
        qabul qilib olinadi.
      </p>

      <span class="small-print">Telefon:</span>
      <a class="citizens-appeal__footer__text mb-16" href="tel:+998712630756"
        >+998 71 263 07 56</a
      >
      <span class="small-print">Elektron pochta:</span>
      <a
        class="citizens-appeal__footer__text mb-16"
        href="mailto:murojaat@urmon.uz"
        >murojaat@urmon.uz</a
      >

      <a class="citizens-appeal__footer__link" href="#"
        >Fuqarolarning murojaatlarini ko‘rib chiqish natijalari va murojaat
        kanallari bo‘yicha maʼlumot</a
      >
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
