<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container activity gap-30 inner-page-margin communityCouncil"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four" href="/uz/activity">Faoliyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/function-and-tasks"
            >Qo‘mita funksiyalari va vazifalari</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/central-apparatus"
            >Markaziy apparat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/structure"
            >Tarkibiy tuzilma</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/system-organizations"
            >Tizim tashkilotlari</a
          >
        </li>
        <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
        <li>
          <a class="pages-list text-four active" href="/uz/community-council"
            >Jamoatchilik kengashi</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/e-government"
            >Elektron hukumat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/corruption"
            >Korrupsiyaga qarshi kurash</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/activity" class="navigate-text">Qo‘mita haqida</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Jamoatchilik kengashi</a>
      </div>

      <h1 class="heading-primary activity__title">Jamoatchilik kengashi</h1>
      <h2 class="communityCouncil__secondary-title">
        Jamoatchilik kengashining asosiy vazifalari quyidagilardan iborat:
      </h2>
      <p class="communityCouncil__text">
        Qabul qilinayotgan normativ-huquqiy hujjatlarda, qarorlarda, shuningdek,
        davlat, tarmoq va hududiy rivojlantirish dasturlarida jamoatchilik
        manfaatlari va jamoatchilik fikri hisobga olinishi, fuqarolarning,
        yuridik shaxslarning huquqlari va qonuniy manfaatlarini, jamiyat
        manfaatlarini himoya qilish sohasida qonun hujjatlari talablari ijrosini
        taʼminlash, davlat organi zimmasiga yuklangan hamda ijtimoiy va
        jamoatchilik manfaatlariga daxl qiluvchi vazifalar va funksiyalarni
        bajarish, davlat xizmatlarini ko‘rsatish, ijtimoiy sheriklik doirasida
        amalga oshiriladigan bitimlar, shartnomalar, loyihalar va dasturlarni
        ro‘yobga chiqarish bo‘yicha davlat organi va uning mansabdor
        shaxslarining faoliyati ustidan jamoatchilik nazoratini amalga oshirish;
      </p>
      <p class="communityCouncil__text">
        Birgalikda muloqot qilish, davlat organining nodavlat notijorat
        tashkilotlari, ommaviy axborot vositalari va fuqarolik jamiyatining
        boshqa institutlari bilan samarali hamkorligini taʼminlash uchun davlat
        organini fuqarolar bilan bog‘lab turadigan “ko‘prik” rolini bajarish;
      </p>

      <p class="communityCouncil__text">
        Davlat boshqaruvi organlariga nodavlat notijorat tashkilotlari va
        fuqarolik jamiyatining boshqa institutlaridan kelib tushgan sotsial va
        ijtimoiy ahamiyatga molik loyihalarni umumlashtirish va baholash;
      </p>

      <p class="communityCouncil__text">
        Fuqarolarning huquqlari, erkinliklari va qonuniy manfaatlariga daxl
        qiluvchi eng muhim masalalar yuzasidan davlat organining faoliyati
        haqidagi jamoatchilik fikrini tizimli monitoring qilish va har tomonlama
        tahlil qilish, sotsiologik so‘rovlar o‘tkazish, jumladan ularni
        axborot-kommunikatsiya texnologiyalaridan foydalangan holda o‘tkazish;
      </p>

      <p class="communityCouncil__text">
        Davlat organi faoliyatida korrupsiyaga qarshi kurashish sohasidagi
        davlat dasturlari va boshqa dasturlarni ishlab chiqish hamda amalga
        oshirishda ishtirok etish, korrupsiyaga qarshi kurashish bo‘yicha olib
        borilgan ishlar ustidan monitoring va tahlil o‘tkazish, shuningdek,
        ularning natijalari bo‘yicha takliflar tayyorlash;
      </p>

      <p class="communityCouncil__text">
        Davlat organi faoliyatining ochiqligini taʼminlash bo‘yicha amalga
        oshirilayotgan tadbirlarni monitoring qilish, uning faoliyati
        to‘g‘risida batafsil axborot olish imkoniyatlarini tahlil qilish, ularni
        yana-da kengaytirish bo‘yicha takliflar ishlab chiqish;
      </p>

      <p class="communityCouncil__text">
        Davlat organi faoliyatini isloh qilishda fuqarolar ishtirok etishi uchun
        yaratilgan shart-sharoitlarni o‘rganish va ularni yaxshilash bo‘yicha
        takliflar ishlab chiqish;
      </p>
      <p class="communityCouncil__text">
        Davlat organi faoliyati bo‘yicha fuqarolar o‘rtasida o‘tkaziladigan
        tushuntirish ishlari va maʼnaviy-maʼrifiy tadbirlarda ishtirok etish,
        ularning samaradorligini oshirish yuzasidan takliflar ishlab chiqish;
      </p>

      <p class="communityCouncil__text">
        Davlat organlari xodimlari va ular oilalarining uy-joy,
        ijtimoiy-maishiy, xizmat shart-sharoitlarini, ularga malakali tibbiy
        yordam ko‘rsatish sharoitlarini, shuningdek, ishdan bo‘shatilgan yoki
        zaxiraga olingan xodimlarni ijtimoiy va kasbiy moslashtirish bo‘yicha
        muammolarni kompleks tahlil qilish hamda tahlil yakunlari bo‘yicha
        mazkur sharoitlarni yaxshilash yuzasidan takliflar kiritish.
      </p>

      <h2 class="communityCouncil__secondary-title">
        O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasi huzuridagi
        Jamoatchilik kengashining tarkibi
      </h2>

      <table class="communityCouncil__table">
        <thead>
          <tr class="communityCuncoil__table__header">
            <th class="communityCuncoil__table__header text-secondary">
              F.I.SH
            </th>
            <th class="communityCuncoil__table__header text-secondary">
              Lavozimi
            </th>
            <th class="communityCuncoil__table__header text-secondary">
              Aʼzoligi
            </th>
            <th class="communityCuncoil__table__header text-secondary">
              Telefon raqami (elektron pochta)
            </th>
          </tr>
        </thead>
        <tr>
          <td class="text-third">Xamzayev Abdushukur Xudoyqulovich</td>
          <td class="text-third">Qo‘mita raisi urinbosari</td>
          <td class="text-third">Jamoatchilik kengashi raisi</td>
          <td class="text-third">
            <a
              class="text-third communityCouncil__block"
              href="tel:+998712257232"
              >+99871 225-72-32</a
            >
            <a
              class="text-third communityCouncil__block"
              href="mailto: markaz@urmon.uz"
            >
              markaz@urmon.uz</a
            >
          </td>
        </tr>
        <tr>
          <td class="text-third">Masharipov Ulug‘bek</td>
          <td class="text-third">
            O‘rmon qonunchiligi talablari ijrosini nazorat qilish boshqarmasi
            boshlig‘i
          </td>
          <td class="text-third">Jamoatchilik kengashi raisi o‘rinbosari</td>
          <td class="text-third">
            <a
              class="text-third communityCouncil__block"
              href="tel:+998712630824"
              >+998 71 263-08-24</a
            >
            (108)
            <a
              class="text-third communityCouncil__block"
              href="mailto: nazorat@urmon.uz"
              >nazorat@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Yodgorova Gulrux</td>
          <td class="text-third">
            Investitsiyalarni jalb qilish va davlat-xususiy sheriklikni
            rivojlantirish boshqarmasi yetakchi mutaxassisi
          </td>
          <td class="text-third">Jamoatchilik kengashi kotib</td>
          <td class="text-third">
            <a
              class="text-third communityCouncil__block"
              href="tel:998712630824"
              >+998 71 263-08-24</a
            >
            <a
              class="text-third communityCouncil__block"
              href="mailto:ijara@urmon.uz"
            >
              ijara@urmon.uz</a
            >
          </td>
        </tr>
        <tr>
          <td class="text-third">Latipov Muzaffar</td>
          <td class="text-third">
            Tashkiliy-nazorat va tahlil boshqarmasi boshlig‘i
          </td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            <a
              href="tel:+998712630850"
              class="text-third communityCouncil__block"
              >+99871 263-08-24</a
            >
            (209)
            <a href="mailto:" class="text-third communityCouncil__block"
              >ijro@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Xudjayev G‘anisher</td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            O‘rmonni qo‘riqlash va muhofaza qilish boshqarmasi boshlig‘i
            o‘rinbosari
          </td>
          <td class="text-third">
            <a
              href="tel:+998712630850"
              class="text-third communityCouncil__block"
              >+99871 263-08-24</a
            >
            (418)
            <a href="mailto:" class="text-third communityCouncil__block"
              >nazorat@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Xo‘jayev Olim</td>
          <td class="text-third">
            Iqtisodiy tahlil, prognozlashtirish. moliyalashtirish va jamg‘arma
            mablag‘larini boshqarish boshqarmasi boshlig‘i o‘rinbosari
          </td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            <a
              href="tel:+99871263824"
              class="communityCouncil__block text-third"
            >
              +99871 263-08-24</a
            >
            (208)
            <a
              href="mailto:texnika@urmon.uz"
              class="communityCouncil__block text-third"
              >texnika@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Xolmatov Kamoliddin</td>
          <td class="text-third">Kadrlar ishlari bo‘limi boshlig‘i</td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            <a
              class="communityCouncil__block text-third"
              href="tel:+998712630824"
            >
              +99871 263-08-24</a
            >
            (113)
            <a
              class="communityCouncil__block text-third"
              href="mailto:kadr@urmon.uz"
              >kadr@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Ibadullayeva Oygul Radjapbayevna</td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            O‘rmon xo‘jaligi ilmiy- tadqiqot instituti Malaka oshirish markazi
            boshlig‘i
          </td>
          <td class="text-third">
            <a
              class="text-third communityCouncil__block"
              href="tel:+998712257232"
            >
              +998 71 225-72-32</a
            >
            <a
              class="text-third communityCouncil__block"
              href="mailto:markaz@urmon.uz"
            >
              markaz@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Fazliyev Farrux</td>
          <td class="text-third">
            Milliy tabiat bog‘lari va ovchilik xo‘jaliklari boshqarmasi
            boshlig‘i
          </td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            <a
              class="text-third communityCouncil__block"
              href="tel:+998980072980"
              >+998 98 007-29-80</a
            >
            <a
              class="text-third communityCouncil__block"
              href="mailto: markaz@urmon.uz"
            >
              markaz@urmon.uz</a
            >
          </td>
        </tr>

        <tr>
          <td class="text-third">Odilov Toxirjon</td>
          <td class="text-third">“O‘rmoninvest” DUK rahbari</td>
          <td class="text-third">Jamoatchilik kengashi aʼzosi</td>
          <td class="text-third">
            <a
              class="text-third communityCouncil__block"
              href="tel:+998903712332"
              >+998 90 371-23-32</a
            >
            <a
              class="text-third communityCouncil__block"
              href="mailto: invest@urmon.uz"
            >
              invest@urmon.uz</a
            >
          </td>
        </tr>
      </table>

      <span class="communityCouncil__information communityCouncil__block">
         Jamoatchilik kengashi tarkibi O‘rmon xo‘jaligi davlat qo‘mitasi
        raisining 2020 yil 6 iyuldagi 112-sonli buyrug‘i bilan
        tasdiqlangan.</span
      >

      <span
        class="communityCouncil__information__title communityCouncil__block mb-16"
      >
        Qo‘mita Matbuot xizmati Jamoatchilik kengashining ishchi organi
        hisoblanadi.
      </span>
      <span class="communityCouncil__information__title communityCouncil__block"
        >Matbuot xizmati bilan bog‘lanish:</span
      >
      <span class="small-print">F.I.Sh:</span>
      <span class="communityCouncil__information__title communityCouncil__block"
        >Ashurov Otabek Anvarovich</span
      >
      <span class="communityCouncil__block small-print">Telefon:</span>
      <a
        href="tel:+998712630850"
        class="communityCouncil__information__title communityCouncil__block"
        >+998 71 263-03-37</a
      >
      <span class="communityCouncil__block small-print">Elektron pochta:</span>
      <a
        class="communityCouncil__information__title communityCouncil__block"
        href="mailto:matbuot@urmon.uz"
        >matbuot@urmon.uz</a
      >
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
