<%- include ("../layouts/header") %>
<body>
  <main class="mt-50 container inner-page-margin">
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="/uz/connection" class="navigate-text">Bog’lanish</a>
    </div>
    <p class="heading-primary">Bog’lanish</p>
    <div class="flex connection">
      <div>
        <p class="small-print">Manzil:</p>
        <p class="text-secondary connection__title">
          100163, Toshkent viloyati, Qibray tumani,Universitet ko‘chasi, 2-uy.
        </p>
        <span class="small-print">Ish vaqti:</span>
        <p class="text-secondary connection__title">
          Dushanba-juma 9:00 dan 18:00 gacha
        </p>
        <span class="small-print">Ishonch telefonlari:</span>
        <p class="text-secondary connection__title">(+998 71) 207-88-77</p>
        <span class="small-print">Devonxona:</span>
        <p class="text-secondary connection__title">(+998 71) 263-06-70</p>
        <span class="small-print">Email:</span>
        <p class="text-secondary connection__title">info@urmon.uz</p>
      </div>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d748.6302297592549!2d69.3406637!3d41.3627658!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef351354984e3%3A0x3726da5f1689e098!2z0I7RgNC80L7QvSDRhdGe0LbQsNC70LjQs9C4INC00LDQstC70LDRgiDSm9Ge0LzQuNGC0LDRgdC4!5e0!3m2!1sru!2s!4v1667285458461!5m2!1sru!2s"
          width="850"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          class="gap-30"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </main>
</body>
<%- include ("../layouts/footer") %>
