<%- include("../layouts/header")%>

<body>
  <main
    class="container grid grid-2-column contact-the-press-center gap-30 inner-page-margin"
  >
    <div>
      <%- include ("../layouts/pressCenter") %>

    </div>
    <div class="news__main">
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Matbuot markazi</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/contact-the-press-service" class="navigate-text"
          >Matbuot xizmati bilan bog‘lanish</a
        >
      </div>

      <h1 class="heading-primary activity__title">
        Matbuot xizmati bilan bog‘lanish
      </h1>

      <span class="small-print">F. I. Sh.</span>
      <span class="text-secondary contact-the-press-center__text"
        >Ashurov Otabek Anvarovich</span
      >
      <span class="small-print">Telefon:</span>
      <span class="text-secondary contact-the-press-center__text"
        >+998 71 263-03-37</span
      >
      <span class="small-print">Email:</span>
      <a
        href="mailto:matbuat@urmon.uz"
        class="text-secondary contact-the-press-center__text"
        >matbuat@urmon.uz</a
      >
      <span class="small-print">Ijtimoiy tarmoq sahifalari: </span>
      <a
        href="https://www.facebook.com/otabek.ashurov.16"
        target="_blank"
        class="contact-the-press-center__link"
        >https://www.facebook.com/otabek.ashurov.16</a
      >
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
