<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container corruption gap-30 inner-page-margin"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four" href="/uz/activity">Faoliyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/function-and-tasks"
            >Qo‘mita funksiyalari va vazifalari</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/central-apparatus"
            >Markaziy apparat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/structure"
            >Tarkibiy tuzilma</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/system-organizations"
            >Tizim tashkilotlari</a
          >
        </li>
        <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
        <li>
          <a class="pages-list text-four" href="/uz/community-council"
            >Jamoatchilik kengashi</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/e-government"
            >Elektron hukumat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
        </li>
        <li>
          <a class="pages-list text-four active" href="/uz/corruption"
            >Korrupsiyaga qarshi kurash</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/activity" class="navigate-text">Qo‘mita haqida</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Karrupsiyaga qarshi kurash</a>
      </div>

      <h1 class="heading-primary corruption__title">
        Karrupsiyaga qarshi kurash
      </h1>

      <button class="collapsible flex center">Kodekslar va Qonunlar</button>

      <div class="collapsible__content">
        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasining 07. 07. 2008y. O‘RQ-158-son “Birlashgan
          Millatlar Tashkilotining Korrupsiyaga qarshi konvensiyasiga (Nyu-York,
          2003 yil 31 oktyabr) O‘zbekiston Respublikasining qo‘shilishi
          to‘g‘rsida”gi Qonuni
        </a>
        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasining 03. 01. 2017y. O‘RQ-419-son “Korrupsiyaga
          qarshi kurashish to‘g‘risida”gi Qonuni
        </a>
      </div>

      <button class="collapsible flex center">
        O‘zbekiston Respublikasining 03. 01. 2017y. O‘RQ-419-son “Korrupsiyaga
        qarshi kurashish to‘g‘risida”gi Qonun
      </button>

      <div class="collapsible__content">
        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Prezidentining 02. 02. 2017y. 2752-sonli
          “Korrupsiyaga qarshi kurashish to‘g‘risida”gi O‘zbekiston Respublikasi
          qonunining qoidalarini amalga oshirish chora-tadbirlari to‘g‘risidagi
          Qarori
        </a>

        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Prezidentining 12.01.2022 yildagi PQ-81-son
          «Korrupsiyaga qarshi kurashish ishlarining samaradorligini reyting
          baholash tizimini joriy etish chora-tadbirlari to‘g‘risida»gi qarori,
        </a>

        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Prezidentining 06.07.2021 yildagi PQ-5177-son
          «Korrupsiyaga qarshi kurashish faoliyatini samarali tashkil etishga
          doir qo‘shimcha chora-tadbirlar to‘g‘risida»gi qarori
        </a>

        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Prezidentining 16.06.2021 yildagi PF-6247-son
          «Davlat organlari va tashkilotlarining faoliyati ochiqligini
          taʼminlash, shuningdek, jamoatchilik nazoratini samarali amalga
          oshirishga doir qo‘shimcha chora-tadbirlar to‘g‘risida»gi farmoni
        </a>

        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Prezidentining 29.06.2020 yildagi PF-6013-son
          «O‘zbekiston Respublikasida korrupsiyaga qarshi kurashish tizimini
          takomillashtirish bo‘yicha qo‘shimcha chora-tadbirlar to‘g‘risida»gi
          farmoni
        </a>
        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Prezidentining 06.07.2021 yildagi PF-6257-son
          «Korrupsiyaga qarshi murosasiz munosabatda bo‘lish muhitini yaratish,
          davlat va jamiyat boshqaruvida korrupsiyaviy omillarni keskin
          kamaytirish va bunda jamoatchilik ishtirokini kengaytirish
          chora-tadbirlari to‘g‘risida»gi farmoni
        </a>
      </div>

      <button class="collapsible flex center">
        O‘zbekiston Respublikasi Vazirlar Mahkamasining Qarorlari va
        farmoyishlari
      </button>

      <div class="collapsible__content">
        <a href="#" class="corruption__content">
          O‘zbekiston Respublikasi Vazirlar Mahkamasining 02. 03. 2016 y. 62-son
          “Davlat boshqaruvi organlari va mahalliy ijro etuvchi hokimiyat
          organlari xodimlarining odob-axloq namunaviy qoidalarini tasdiqlash
          to‘g‘risida”gi Qarori
        </a>
      </div>
      <p class="heading-secondary corruption__text-secondary">
        Ichki tartib va qoidalar
      </p>

      <a href="#" class="corruption__text"
        >1. O‘rmon xo‘jaligi davlat qo‘mitasining korrupsiyaga qarshi kurashish
        siyosati</a
      >
      <a href="#" class="corruption__text"
        >2. O‘rmon xo‘jaligi davlat qo‘mitasi tizimida korrupsiyaga qarshi
        kurashish dasturi</a
      >
      <a href="#" class="corruption__text"
        >3. O‘rmon xo‘jaligi davlat qo‘mitasi tizimida manfaatlar to‘qnashuvini
        boshqarish to‘g‘risida nizom</a
      >
      <a href="#" class="corruption__text"
        >4. O‘rmon xo‘jaligi davlat qo‘mitasining korrupsiyaga qarshi
        komplayens-nazorat xizmati to‘g‘risida nizom</a
      >
      <a href="#" class="corruption__text"
        >5. O‘rmon xo‘jaligi davlat qo‘mitasida xizmat tekshiruvlarini o‘tkazish
        tartibi</a
      >
      <a href="#" class="corruption__text"
        >6. O‘rmon xo‘jaligi davlat qo‘mitasi xodimlarining odob-axloq
        qoidalari</a
      >
      <a href="#" class="corruption__text"
        >7. O‘rmon xo‘jaligi davlat qo‘mitasi va tizim tashkilotlarida
         korrupsiyaviy xavf-xatarlarni baholash</a
      >
      <a href="#" class="corruption__text"
        >8. O‘rmon xo‘jaligi davlat qo‘mitasi va tizim tashkilotlarida
        korrupsiyaga qarshi kurashish tizimining holati to‘g‘risidagi hisobotni
        shakllantirish va taqdim etish bo‘yicha tartib </a
      >
      <a href="#" class="corruption__text"
        >9.O‘rmon xo‘jaligi davlat qo‘mitasida 2021 yilda korrupsiyaga qarshi
        kurashish yo‘nalishida bajarilgan ishlari yuzasidan xisobot</a
      >
      <a href="#" class="corruption__text"
        >10.O‘rmon xo‘jaligi davlat qo‘mitasi va uning tizim tashkilotlariga
        ishga qabul qilinayotgan nomzodlarni o‘rganish bo‘yicha tartib</a
      >
      <a href="#" class="corruption__text"
        >11. O‘rmon xo‘jaligi davlat qo‘mitasi va tizim tashkilotlariga aloqa
        kanallari orqali korrupsiyaviy xatti-harakatlar to‘g‘risida kelib
        tushgan xabarlar (murojaatlar)ni qabul qilish va ko‘rib chiqish
        tartibi</a
      >
      <a href="#" class="corruption__text"
        >12. O‘rmon xo‘jaligi davlat qo‘mitasi va tizim tashkilotlarida
        korrupsiyaga qarshi tartib-taomillarning samaradorligini monitoring va
        nazorat qilish tartibi</a
      >
      <a href="#" class="corruption__text"
        >13. O‘rmon xo‘jaligi davlat qo‘mitasi va tizim tashkilotlari
        xodimlarining etika va korrupsiyaga qarshi kurashish sohasida o‘qishini
        tashkil qilish bo‘yicha yo‘riqnoma</a
      >
      <a href="#" class="corruption__text"
        >14. O‘rmon xo‘jaligi davlat qo‘mitasi va tizim tashkilotlarida
        kontragentlarni tekshirishga oid yo‘riqnoma</a
      >
      <a href="#" class="corruption__text"
        >15. O‘rmon xo‘jaligi davlat qo‘mitasida korrupsiya faktlariga doir
        murojaatlarni ko‘rib chiqish natijalari haqida 2022 yil 8 oylik
        hisobot</a
      >

      <p class="heading-secondary">Qayta aloqa</p>

      <p class="corruption__heading-third">
        Maʼlumotlarni yangilash uchun masʼul shaxs
      </p>
      <div class="flex gap-30">
        <div>
          <span class="small-print">F.I.Sh:</span>
          <span class="corruption__footer">Yakubov Axror Avasbekovich</span>
          <span class="small-print">Lavozimi: </span>
          <span class="corruption__footer">Yetakchi mutaxassis</span>
          <span class="small-print">Telegram bot orqali:</span>
          <a
            class="corruption__footer"
            target="_blank"
            href=" https://t.me/urmon_antikor_bot"
            > https://t.me/urmon_antikor_bot</a
          >
          <span class="small-print">Elektron pochta:</span>
          <span class="corruption__footer corruption__footer__link"
            > antikor@urmon.uz</span
          >
        </div>
        <div>
          <span class="small-print">Telefon:</span>
          <a class="corruption__footer" href="tel:+998712630633"
            >+998 71 263-06-33</a
          >
          <span class="small-print">Facebook ijtimoiy tarmoq orqali:</span>
          <a
            class="corruption__footer corruption__footer__link"
            target="_blank"
            href="https://t.me/urmon_uz"
          >
             https://www.facebook.com/Urmon-News-2424914581061376</a
          >
        </div>
      </div>
    </div>
  </main>
  <script src="/js/collapsibles.js"></script>
</body>

<%- include("../layouts/footer")%>
