<%- include ("../layouts/header") %>

  <body>
    <main class="grid grid-2-column container e-government gap-30 inner-page-margin">
      <div>
        <p class="text-secondary main-page-inner-page-secondary-title">
          Qo‘mita haqida
        </p>
        <ul class="card">
          <li>
            <a class="pages-list text-four" href="/uz/activity">Faoliyat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/function-and-tasks">Qo‘mita funksiyalari va vazifalari</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/central-apparatus">Markaziy apparat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/structure">Tarkibiy tuzilma</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/system-organizations">Tizim tashkilotlari</a>
          </li>
          <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
          <li>
            <a class="pages-list text-four" href="/uz/community-council">Jamoatchilik kengashi</a>
          </li>
          <li>
            <a class="pages-list text-four active" href="/uz/e-government">Elektron hukumat</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
          </li>
          <li>
            <a class="pages-list text-four" href="/uz/corruption">Korrupsiyaga qarshi kurash</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="mb-16">
          <a href="/" class="navigate-text">Asosiy</a>
          <span class="navigate-text"> > </span>
          <a href="#" class="navigate-text">Qo'mita haqida</a>
          <span class="navigate-text"> > </span>
          <a href="#" class="navigate-text">Elektron hukumat</a>
        </div>

        <h1 class="heading-primary news__main__title">Elektron hukumat</h1>

        <a href="#" class="e-goverment__link text-secondary">Davlat o‘rmon fondi hududidagi o‘simlik dunyosi
          obyektlaridan
          foydalanish uchun ruxsatnoma olish (O‘rmon fondi yerlarida O‘zbekiston
          Respublikasi Qizil kitobiga kiritilmagan o‘simlik turlarini tabiiy
          muhitdan g‘amlash (to‘plash))</a>
        <a href="#" class="e-goverment__link text-secondary">O‘rmon fondi yaylov hududlarida chorva mollarini boqish
          uchun
          ruxsatnoma</a>
        <a href="#" class="e-goverment__link text-secondary">O‘rmon fondi yerlarini davlat xususiy sherikchilik asosida
          ijaraga
          berish auksion portali</a>
      </div>
    </main>
  </body>
  <%- include ("../layouts/footer") %>