<%- include("../layouts/header")%>
<body>
    <main class="grid grid-2-column container  gap-30 inner-page-margin">
        <div>
            <%- include ("../layouts/pressCenter") %>

        </div>
        <div>

            <div class="mb-16">
                <a href="/" class="navigate-text">Asosiy</a>
                <span class="navigate-text"> > </span>
                <a href="#" class="navigate-text">Matbuot markazi</a>
                <span class="navigate-text"> > </span>
                <a href="#" class="navigate-text">Savol va javoblar</a>
            </div>

            <h1 class="heading-primary activity__title">Savol va javoblar</h1>
            <button class="collapsible flex center">
                O‘rmondan kimlar foydalanishi mumkin?</button>

            <div class="collapsible__content">
                <h2 class="text-secondary mb-16">O‘rmondan foydalanish</h2>

                <p>Davlat o‘rmon fondi uchastkalari yuridik va jismoniy shaxslarga foydalanishga berilishi
                    mumkin.O‘rmondan
                    foydalanish uchun haq to‘lanadi. To‘lovlar miqdori va ularni undirish tartibi O‘zbekiston
                    Respublikasi
                    Vazirlar Mahkamasi tomonidan belgilanadi.O‘rmondan foydalanish doimiy va vaqtinchalik bo‘lishi
                    mumkin.O‘rmon fondi yerlari doimiy egalik qilishga berib qo‘yilgan o‘rmon xo‘jaligi korxonalari,
                    muassasalari va tashkilotlari o‘rmondan doimiy foydalanuvchilardir.O‘rmondan vaqtinchalik
                    foydalanish
                    qisqa muddatli — uch yilgacha va uzoq muddatli — o‘n yilgacha bo‘lishi mumkin.O‘rmondan foydalanish
                    huquqi yuridik va jismoniy shaxslarga, agar qonun hujjatlarida boshqacha qoida belgilangan bo‘lmasa,
                    davlat o‘rmon xo‘jaligi organlari tomonidan yoki ular vakolat bergan korxonalar, muassasalar va
                    tashkilotlar tomonidan beriladi.O‘rmondan foydalanishga maxsus ruxsatnoma — daraxt kesish yoki
                    o‘rmon
                    chiptasi asosida yoʼl qo‘yiladi. O‘rmondan foydalanuvchilar davlat o‘rmon fondi uchastkalaridan
                    o‘rmondan foydalanishning maxsus ruxsatnomalarda nazarda tutilgan turlaridangina foydalanishga
                    haqlidir.
                </p>
            </div>


            <button class="collapsible flex center">
                O‘rmondan foydalanishni qanday turlari mavjud?</button>

            <div class="collapsible__content">

                <h2 class="text-secondary mb-16">O‘rmondan foydalanish turlari quyidagilardan iborat:</h2>

                <p>daraxtzorlar va butazorlarni kesish;o‘rmondan qo‘shimcha foydalanish (pichan o‘rish, mol boqish,
                    asalari uyalari va qutilarini joylashtirish, yovvoyi o‘simliklar dorivor xom ashyosini tayyorlash
                    (yig‘ish) va oziq-ovqat maqsadlari uchun yovvoyi o‘simliklarni tayyorlash (yig‘ish);davlat o‘rmon
                    fondi uchastkalaridan ovchilik xo‘jaligi ehtiyojlari uchun foydalanish;davlat o‘rmon fondi
                    uchastkalaridan ilmiy-tadqiqot maqsadlarida foydalanish;davlat o‘rmon fondi uchastkalaridan
                    madaniy-maʼrifiy, tarbiyaviy, sog‘lomlashtirish, rekreatsion va estetik maqsadlarda
                    foydalanish.Qonun hujjatlarida o‘rmondan foydalanishning boshqa turlari ham nazarda tutilishi
                    mumkin.</p>
            </div>



            <button class="collapsible flex center">
                O‘rmonlar deganda nimani tushinasiz?</button>

            <div class="collapsible__content">
                <h2 class="text-secondary mb-16">O‘rmonlar tushunchasi</h2>

                <p>O‘rmonlar –keng maʼnoda toza suv saqlovchi, tuproq va havodagi namlikni muʼtadillashatirib turuvchi,
                    yog‘och, ikkilamchi mahsulotlar, mevalar, dorivor va ozuqa o‘simliklar beruvchi manbadir.
                    O‘rmonzorlar hayvonot va o‘simlik dunyosini saqlash va ularni ko‘paytirishda, iqlim o‘zgarishlarni
                    mo‘tadillashtirishda, tog‘larda jarliklarni paydo bo‘lishi xavfini oldini olishda, suv tanqisligi
                    muammosini yechishda, selni mudxish oqibatlarini bartaraf qilishda, tuproq eroziyaga qarshi
                    kurashishda, cho‘l xududlarida qumlarni ko‘chishini to‘xtatishda, shamol eroziyasini oldini olishda,
                    tuproqning meliorativ holatini (sho‘rlanish, cho‘llanishga va h.) yaxshilashda, shuningdek yaylovlar
                    maxsuldorligini oshirishda hamda qishloq xo‘jaligi yerlarida ixota o‘rmonlarini roli katta
                    axamiyatga ega. Eng muhimi, ekologik vaziyatni yaxshilash va uning salbiy oqibatlarini oldini olish,
                    tabiatni asrab-avaylash bugungi kunda o‘rmon xo‘jaliklarining asosiy vazifasi bo‘lib hisoblanadi.
                </p>
            </div>

        </div>
    </main>
    <script src="/js/collapsibles.js"></script>
</body>

<%- include("../layouts/footer")%>