<%- include("../layouts/header")%>
<body>
  <main class="container inner-page-margin">
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qo‘mita haqida</a>
      <span class="navigate-text"> > </span>
      <a href="/uz/activity" class="navigate-text">Faoliyat</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text"
        >O‘rmon xo‘jaligi faoliyati to‘g‘risida maʼlumotlar</a
      >
    </div>
    <h1 class="heading-primary mb-24">
      Davlat o‘rmon fondi yerlari to‘g‘risida qisqacha ma‘lumot
    </h1>
    <p>
      Respublikamiz mustaqillika erishgandan so‘ng o‘rmonlarga katta axamiyat
      berila boshlandi.1990 yilda O‘rmon fondi yerlarining umumiy maydoni 2507,5
      ming gektarni yoki jami Respublika umumiy (44410,3 ming gektar) yerlarning
      5,6 foizini, o‘rmonzor va butazorlar maydoni 1410 ming gektarni yoki
      Respublika umumiy yelarining 3,1 foizni tashkil qilgan.2005 yilda O‘rmon
      fondi yerlarining umumiy maydoni 8536,5 ming gektarni yoki jami Respublika
      umumiy yerlarning 19,2 foizini, o‘rmonzor va butazorlar maydoni 2808,1
      ming gektarni yoki Respublika umumiy yerlarning 6,3 foizni tashkil
      qilgan.2015 yil 1 yanvar xolatiga O‘rmon fondi yerlarining umumiy maydoni
      9752,3 ming gektarni yoki jami Respublika umumiy yerlarning 21,7 foizini
      tashkil qiladi. Shundan, o‘rmonzor va butazorlar maydoni 3543,3 ming
      gektarni yoki Respublika umumiy yerlarning 8 foizni tashkil qiladi.2005
      yilda 1990 yilga nisbatan O‘rmon fondi yerlarining umumiy maydoni 6029
      ming gektarga yoki 340 foizga, o‘rmonzor va butazorlar maydoni 1398,1 ming
      gektarga yoki 199 foizga o‘sdi.2015 yilda 1990 yilga nisbatan O‘rmon fondi
      yerlarining umumiy maydoni 7244,8 ming gektarga yoki 389 foizga, o‘rmonzor
      va butazorlar maydoni 2133,3 ming gektarga yoki 251 foizga o‘sdi.O‘rmon
      xo‘jaligi bosh boshqarmasi tizimidagi o‘rmon xo‘jaliklarining umumiy yer
      maydoni 9140,6 ming gektarni tashkil etib, shundan, 7919,6 ming gektar (87
      foiz) cho‘l hududi, 939,8 ming gektari (10 foiz) tog‘ hududi, 173,6 ming
      gektari (1,9 foiz) vodiy hududi, 107,5 ming gektari (1,2 foiz) to‘qay
      hududlariga to‘g‘ri keladi.Umumiy o‘rmon fondi 4043,2 ming gektari (44
      foiz) o‘rmonzorlar, 699 gektari (0,01 foiz) o‘rmon ko‘chatxonalari, 1613
      gektari (0,02 foiz) bog‘ va uzumzorlar, 7761 gektari (0,08 foiz)
      haydaladigan ekin yerlari va 5087 ming gektari (55,6 foiz) boshqa
      yerlardan iborat.O‘rmon xo‘jaliklari tomonidan sug‘oriladigan ekin
      yerlariga asosan o‘rmon ko‘chatxonalari va dorivor ekinlar ekilib, qishloq
      xo‘jaligi ekinlari asosan sug‘oriladigan yerlarga yangi ekilgan bog‘ va
      yangi o‘rmonzorlar qator oralariga, pista va boshqa suvsizlikka chidamli
      daraxt va butalar suvsiz va lalmi yerlarga ekilib parvarishlanmoqda.
      Oshqovoq, namatak kabi ekinlar esa asosan sug‘oriladigan yerlarga ekilgan
      bog‘ va o‘rmonzorlar qator oralariga ekilib, qo‘shimcha daromad
      olinmoqda.Davlat o‘rmon fondi yerlarida 6 ta markaziy davlat o‘rmon
      xo‘jaliklari, 55 ta davlat o‘rmon xo‘jaliklari, 7 ta qo‘riqxona, 5 ta
      o‘rmon ov xo‘jaliklari, 2 ta milliy tabiiy bog‘lar, 1 ta o‘rmon biosfera
      rezervati, 5 ta dorivorchilikka ixtisoslashgan o‘rmon xo‘jaliklari, 6 ta
      o‘rmon tajriba stansiyalari, 5 ta o‘rmon ishlab chiqarish korxonalari, 4
      ta irrigatsiya o‘rmon xo‘jaliklari, 2 ta ekopitomniklar mavjud.
    </p>
  </main>
</body>
<%- include("../layouts/footer")%>
