<%- include("../layouts/header")%>
<main class="container inner-page-margin">
  <div class="mb-16">
    <a href="/" class="navigate-text">Asosiy</a>
    <span class="navigate-text"> > </span>
    <a href="#" class="navigate-text">Qo‘mita haqida</a>
    <span class="navigate-text"> > </span>
    <a href="/uz/activity" class="navigate-text">Faoliyat</a>
    <span class="navigate-text"> > </span>
    <a href="#" class="navigate-text"
      >O‘rmon xo‘jaligi faoliyati to‘g‘risida maʼlumotlar</a
    >
  </div>
  <h1 class="heading-primary mb-24">
    Davlat o‘rmon fondi yerlari to‘g‘risida ma‘lumot
  </h1>

  <p class="mb-16">
    2015 yil 1 yanvar xolatiga O‘rmon fondi yerlarining umumiy maydoni 9752,3
    ming gektarni yoki jami Respublika yerlarning 21,7 foizini tashkil qiladi.
    Shundan, o‘rmonzor va butazorlar maydoni 3237,3 ming gektarni yoki
    Respublika bo‘yicha o‘rmonzor va butazorlar maydoni 7.3 foizni tashkil
    qiladi.Davlat o‘rmon fondi yerlarida 6 ta markaziy davlat o‘rmon
    xo‘jaliklari, 55 ta davlat o‘rmon xo‘jaliklari, 7 ta qo‘riqxona, 5 ta o‘rmon
    ov xo‘jaliklari, 2 ta milliy tabiiy bog‘lar, 1 ta o‘rmon biosfera rezervati,
    5 ta dorivorchilikka ixtisoslashgan o‘rmon xo‘jaliklari, 6 ta o‘rmon tajriba
    stansiyalari, 5 ta o‘rmon ishlab chiqarish korxonalari, 4 ta irrigatsiya
    o‘rmon xo‘jaliklari, 2 ta ekopitomniklar mavjud.Umumiy davlat o‘rmon
    fondining 81 foizi (7 936 116 gektari) cho‘l xududi, 16,1 foizi (1 573 231
    gektari) tog‘ xududi, 1,8 foizi (173 651 gektari) vodiy xududi, 1,1 foizi
    (108 699 gektari) to‘qay xududidan iborat.O‘rmon xo‘jaligi bosh boshqarmasi
    tizimidagi o‘rmon fondi yerlarining umumiy maydoni 9140,6 ming gektarni yoki
    umumiy o‘rmon fondi yerlarning 93,7 foizini tashkil qiladi.O‘rmon xo‘jaligi
    bosh boshqarmasi tizimidagi davlat o‘rmon fondi yerlarida 6 ta markaziy
    davlat o‘rmon xo‘jaliklari, 53 ta davlat o‘rmon xo‘jaliklari, 5 ta
    qo‘riqxona, 5 ta o‘rmon ov xo‘jaliklari, 1 ta milliy tabiiy bog‘lar, 1 ta
    o‘rmon biosfera rezervati, 5 ta dorivorchilikka ixtisoslashgan o‘rmon
    xo‘jaliklari, 6 ta o‘rmon tajriba stansiyalari, 4 ta o‘rmon ishlab chiqarish
    korxonalari mavjud.O‘rmon xo‘jaligi bosh boshqarmasiga qarashli davlat
    o‘rmon fondining 86,6 foizi (7 919 625 gektari) cho‘l xududi, 10,3 foizi
    (939 813 gektari) tog‘ xududi, 1,9 foizi (173 651 gektari) vodiy xududi, 1,2
    foizi (107 538 gektari) to‘qay xududidan iborat.Davlat o‘rmon fondining
    cho‘l xududida asosan saksovul, cherkez, qandim va boshqa daraxt va butalar,
    tog‘ xududida archa, bodom, terak, zarang, yong‘oq va boshqa daraxt va
    butalar, vodiy xududida terak, tol mevali va yong‘oq mevali daraxtlar,
    to‘qay xududida turong‘i, yulg‘un va boshqa daraxt va butalar o‘sadi.
  </p>

  <p class="mb-16">
    2014 yil davomida O‘rmon xo‘jaligi bosh boshqarmasi tizimidagi o‘rmon
    xo‘jaliklari tomonidan 42,8 ming gektar maydonda yangi o‘rmonzorlar barpo
    etildi. Shundan, 39 ming gektari cho‘l xududlarida cho‘llanishni va qum
    ko‘chishini oldini olish maqsadida, shu jumladan 16,8 ming gektari Orol
    dengizining qurigan tubida ekologik vaziyatni qisman mo‘tadillashtirish,
    zararli tuzlarni atmosferaga ko‘tarilishini kamaytirish maqsadida yangi
    o‘rmonzorlar barpo qilindi.2015 yilning birinchi choragida 75 ta holatda (25
    mln so‘m) o‘rmon qonunbuzarligi aniqlandi, shundan, o‘zboshimchalik bilan
    daraxt kesish 55 ta holatda (23,5 mln so‘m), o‘zboshimchalik bilan ruxsatsiz
    mol boqish 20 ta holatda (1,5 mln so‘m) o‘rmon qonunbuzarliklari aniqlanib,
    yetkazilgan zarar undirib
  </p>
</main>
<%- include("../layouts/footer")%>
