<%- include("../layouts/header")%>
<main
  class="grid grid-2-column container gap-30 inner-page-margin functionsAndTasks"
>
  <div>
    <p
      class="text-secondary activity__text main-page-inner-page-secondary-title"
    >
      Qo‘mita haqida
    </p>
    <ul class="card">
      <li><a class="pages-list text-four" href="/uz/activity">Faoliyat</a></li>
      <li>
        <a class="pages-list text-four active" href="/uz/function-and-tasks"
          >Qo‘mita funksiyalari va vazifalari</a
        >
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/central-apparatus"
          >Markaziy apparat</a
        >
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/structure"
          >Tarkibiy tuzilma</a
        >
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/system-organizations"
          >Tizim tashkilotlari</a
        >
      </li>
      <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
      <li>
        <a class="pages-list text-four" href="/uz/community-council"
          >Jamoatchilik kengashi</a
        >
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/e-government"
          >Elektron hukumat</a
        >
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
      </li>
      <li>
        <a class="pages-list text-four" href="/uz/corruption"
          >Korrupsiyaga qarshi kurash</a
        >
      </li>
    </ul>
  </div>
  <div>
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qo‘mita haqida</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text"
        >Qo’mita funksiya funksiyalari va vazifalari</a
      >
    </div>

    <h1 class="heading-primary functionsAndTasks__title">
      Qo’mita funksiyalari va vazifalari
    </h1>

    <p class="functionsAndTasks__secondary-title">
      O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasining asosiy
      vazifalari va faoliyat yo‘nalishlari:
    </p>

    <span class="text-four functionsAndTasks__item"
      >O‘rmon boyliklarini har tomonlama kengaytirish va ulardan oqilona
      foydalanishga qaratilgan o‘rmon xo0‘jaligi sohasida yagona davlat
      siyosatini yuritish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >O‘rmon to‘g‘risidagi qonun hujjatlarini takomillashtirish bo‘yicha
      takliflar ishlab chiqish va ularga rioya etilishini amaliy nazorat
      qilish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >O‘rmon fondi va muhofaza etiladigan tabiiy hududlarni samarali
      boshqarishni tashkil etish, o‘rmon barpo etish, ularni qayta tiklash,
      qo‘riqlash, muhofaza qilish, o‘rmonlardan oqilona va tejamli
      foydalanish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >Respublikamizda o‘rmonlarni tiklash va ihota o‘rmonlarini ko‘paytirish
      chora-tadbirlarini ishlab chiqish va amalga oshirish, tog‘ yonbag‘irlari,
      jarliklar va tashlandiq yerlarda eroziyaga qarshi daraxtzorlar barpo etish
      ishlari bajarilishini tashkil qilish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >O‘rmon fondini, fauna va florasini o‘rganish hamda ularning qat’iy
      hisobini yuritish, o‘rmon xo‘jaligini yuritish amaliyotiga fan yutuqlari
      va ilg‘or tajribani joriy etish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >O‘rmonlarni yong‘inlardan, zararkunanda va kasalliklardan, noqonuniy
      daraxt kesishdan va boshqa o‘rmon qonunchiligi buzilishlaridan muhofaza
      qilish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >O‘rmonlarni yong‘inlardan, zararkunanda va kasalliklardan, noqonuniy
      daraxt kesishdan va boshqa o‘rmon qonunchiligi buzilishlaridan muhofaza
      qilish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >Manzarali o‘simliklar ko‘chatlari va urug‘larini sertifikatlash va
      standartlashtirishning yagona tizimini ishlab chiqish hamda joriy qilishni
      tashkil etish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >Tarmoqqa xalqaro moliya institutlari grantlarini jalb etish va ekologik
      turizmni keng ko‘lamda rivojlantirish;</span
    >

    <span class="text-four functionsAndTasks__item"
      >O‘rmon xo‘jaligi sohasida o‘rta maxsus va oliy ma’lumotli mutaxassislar
      tayyorlash, qayta tayyorlash va malakasini oshirishni tashkil etish.</span
    >
  </div>
</main>

<%- include("../layouts/footer")%>
