<%- include("../layouts/header")%>
<body>
  <main class="grid grid-2-column container hayat gap-30 inner-page-margin">
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four" href="/uz/activity">Faoliyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/function-and-tasks"
            >Qo‘mita funksiyalari va vazifalari</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/central-apparatus"
            >Markaziy apparat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/structure"
            >Tarkibiy tuzilma</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/system-organizations"
            >Tizim tashkilotlari</a
          >
        </li>
        <li>
          <a class="pages-list text-four active" href="/uz/hayat">Hay‘at</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/community-council"
            >Jamoatchilik kengashi</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/e-government"
            >Elektron hukumat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/corruption"
            >Korrupsiyaga qarshi kurash</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/activity" class="navigate-text">Qo‘mita haqida</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Hay'at</a>
      </div>

      <h1 class="heading-primary hayat__title">Hay'at</h1>
      <h2 class="heading-secondary hayat__title">
        O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasi hayʼatining
        reglamenti
      </h2>
      <button class="collapsible flex center">1-bob. Umumiy qoidalar</button>

      <div class="collapsible__content">
        <p class="mb-16">
          1. O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasining
          hayʼati (keyingi o‘rinlarda hayʼat deb ataladi) doimiy faoliyat
          ko‘rsatadigan maslahat organi hisoblanadi.
        </p>
        <p class="mb-16">
          2. Hayʼat o‘z faoliyatida O‘zbekiston Respublikasi Konstituttsiyasi,
          qonunlari, O‘zbekiston Respublikasi Prezidentining farmonlari,
          qarorlari va farmoyishlari, O‘zbekiston Respublikasi Vazirlar
          Mahkamasining qarorlari va farmoyishlari, O‘zbekiston Respublikasi
          O‘rmon xo‘jaligi davlat qo‘mitasi (keyingi o‘rinlarda Qo‘mita deb
          ataladi) to‘g‘risidagi nizom va boshqa qonun (normativ-huquqiy)
          hujjatlarga amal qiladi.
        </p>
        <p class="mb-16">
          3. Hayʼat o‘z faoliyatini qonun hujjatlariga muvofiq qonuniylik,
          nazoratda bo‘lishi va O‘zbekiston Respublikasi Prezidenti, O‘zbekiston
          Respublikasi Vazirlar Mahkamasiga hisobot berish, boshqaruv va
          kollegiallikni markazlashtirish tamoyillari asosida amalga oshiradi.
        </p>
      </div>

      <button class="collapsible flex center">
        2-bob. Hayʼatning asosiy vazifalari
      </button>

      <div class="collapsible__content">
        <p class="mb-16">
          4. Hayʼatga quyidagi vazifalar yuklanadi:Qo‘mita Nizomida nazarda
          tutilgan asosiy yo‘nalishlarini tayyorlash va amalga oshirish;Qo‘mita
          tizimidagi boshqarma va bo‘limlarning hamda tizim tashkilotlari
          rahbarlarining hisobotlarining tizimli asosda eshitib borilishini
          tashkil etish, qonun hujjatlari, O‘zbekiston Respublikasi Prezidenti
          hujjatlari va O‘zbekiston Respublikasi Hukumatining qarorlarida
          belgilangan vazifalarning o‘z vaqtida hamda sifatli amalga
          oshirilishini taʼminlash yuzasidan Qo‘mita tizimi rahbarlari va
          xodimlarining shaxsiy javobgarligini oshirish choralarini ko‘rish;
          Qo‘mita faoliyatiga oid hududiy va tarmoq dasturlarini amalga oshirish
          samaradorligini har chorakda va tizimli ko‘rib chiqish;hayʼatning
          kengaytirilgan ko‘chma yig‘ilishlarini o‘tkazish, Qo‘mita faoliyati
          sohasi dolzarb masalalarining joylarda muhokama etilishini
          taʼminlash;Qo‘mita markaziy apparati va uning tizimidagi lavozimlar
          nomenklaturasini ko‘rib chiqish hamda tasdiqlash;Qo‘mita
          nomenklaturasiga kiradigan lavozimlarga kadrlarni tanlash va
          joy-joyiga qo‘yish masalasini ko‘rib chiqish;O‘zbekiston Respublikasi
          Prezidenti va O‘zbekiston Respublikasi Vazirlar Mahkamasining
          qarorlari va topshiriqlarida belgilangan vazifalarning o‘z vaqtida
          hamda sifatli amalga oshirilishini taʼminlash uchun Qo‘mita va uning
          tizimidagi tashkilotlari rahbarlari va xodimlarining ijro intizomini
          mustahkamlash hamda shaxsiy javobgarligini oshirish;O‘zbekiston
          Respublikasi Hukumatiga kiritiladigan va Qo‘mita mas‘ul ijro etuvchi
          organ hisoblangan qonun loyihalari bilan bog‘liq masalalarni ko‘rib
          chiqish.
        </p>
        <p class="mb-16">
          5. Hayʼat Qo‘mita vakolatiga kiradigan va kollegial muhokama etishni
          talab qiladigan har qanday masalani ko‘ri
        </p>
      </div>

      <button class="collapsible flex center">3-bob. Hayʼat tarkibi</button>

      <div class="collapsible__content">
        <p class="mb-16">
          6. Hayʼat a‘zolarining soni va shaxsiy tarkibi Qo‘mita raisining
          taqdimnomasiga binoan O‘zbekiston Respublikasi Vazirlar Mahkamasi
          tomonidan tasdiqlanadi.
        </p>
        <p class="mb-16">
          7. Qo‘mitada uning asosiy faoliyat yo‘nalishlarini
          muvofiqlashtiradigan, Qo‘mita raisi (hayʼat raisi), uning
          o‘rinbosarlari, shuningdek Qo‘mita markaziy apparati bo‘linmalari,
          Qoraqalpog‘iston Respublikasi O‘rmon xo‘jaligi qo‘mitasi raisi,
          viloyatlar o‘rmon xo‘jaliklari boshqarmalari, tizimga kiruvchi
          tashkilotlarning rahbarlaridan iborat tarkibda hayʼat tashkil
          etiladi.Hayʼat faoliyatining samaradorligini oshirish maqsadida
          vaqti-vaqti bilan uning tarkibi qisman almashtirib turiladi.Hayʼat
          a‘zosi lavozimidan ozod etilgan holatlarda (uning tarkibiga lavozimi
          bo‘yicha kiradigan a‘zolardan tashqari) hayʼat tarkibiga kiritiladigan
          nomzod bo‘yicha takliflar belgilangan tartibda O‘zbekiston
          Respublikasi Vazirlar Mahkamasiga kiritiladi.
        </p>
        <p class="mb-16">
          8. Hayʼat raisi: hayʼat faoliyatini tashkil etadi, uning
          yig‘ilishlarini boshqaradi, majburiyat va topshiriqlarni hayʼat
          aʼzolari o‘rtasida taqsimlaydi, yig‘ilishlar rejalari, hayʼat
          qarorlari bajarilishini umumiy nazorat qiladi;hayʼatga ko‘rib
          chiqishga kiritiladigan masalalarni birgalikda muhokama etish va hal
          qilish uchun zarur sharoitlar yaratadi;hayʼat faoliyati va uning
          qarorlari to‘liq hajmda qabul qilinishi uchun shaxsan javob
          beradi;zarur holatlarda, O‘zbekiston Respublikasi Prezidenti,
          O‘zbekiston Respublikasining Bosh vaziriga hayʼat yig‘ilishlarida
          qabul qilingan qarorlar va ularning amalga oshirilishi haqida axborot
          beradi;maxfiy xususiyatga ega masalalar, shuningdek davlat sirini
          tashkil etadigan maʼlumotlarga taaluqli masalalarni ko‘rib chiqish
          uchun hayʼatning yopiq yig‘ilishlarini o‘tkazish to‘g‘risida qaror
          qabul qiladi;hayʼatning ko‘chma yig‘ilishlarini, shuningdek boshqa
          kollegial organlar bilan qo‘shma yig‘ilishlar o‘tkazish to‘g‘risida
          qarorlar qabul qiladi.hayʼat raisi bo‘lmaganda uning vazifalarini
          Qo‘mita raisining o‘rinbosarlaridan biri bajaradi.
        </p>
        <p class="mb-16">
          9. Hayʼat aʼzolari quyidagi huquqlarga ega:hayʼat faoliyatining
          rejalari loyihalariga, hayʼat yig‘ilishlarining kun tartibi va
          o‘tkazish tartibi, hayʼat yig‘ilishlarining tasdiqlangan rejasiga
          qo‘shimchalar hamda o‘zgartirishlar, hayʼatning navbatdan tashqari
          yig‘ilishlarini o‘tkazish bo‘yicha takliflar, fikr-mulohazalar va
          tuzatishlar kiritadi;ko‘rib chiqiladigan muammolarga doir hujjatlar va
          hayʼat qabul qilgan qarorlar ijrosi yuzasidan materiallar bilan
          tanishadi;maʼruzachilarga savollar berish, muhokama etiladigan
          masalalar yuzasidan o‘z fikrini, shuningdek qabul qilinadigan qarorlar
          va hayʼat yig‘ilishlari bayonnomasi bo‘yicha fikr-mulohazalar hamda
          takliflar bildiradi;zarur holatlarda, ovoz berishda yig‘ilish
          bayonnomasiga alohida fikrlarni yoki yozma ravishdagi alohida fikrni
          kiritishni talab qiladi;hayʼat yig‘ilishlarini tashkil etish, ko‘rib
          chiqiladigan masalalar bo‘yicha materiallar tayyorlash, hayʼat
          qarorlarining amalga oshirilishini tashkil etish, nazorat qilish va
          hayʼat topshiriqlarini bajarishda ishtirok etadi. Hayʼat
          aʼzolari:masalalarni muhokama etish va ovoz berishda teng huquqlarga
          ega;hayʼat yig‘ilishlarida shaxsan ishtirok etishga majbur va o‘z
          vakolatlarni boshqa shaxslarga berish huquqiga ega emas.Hayʼat
          aʼzolari hayʼat raisi yoki uning vazifalarini bajaruvchi shaxs ruxsati
          bilan uning yig‘ilishlarida ishtirok etishdan ozod etiladi. Bunda
          hayʼat aʼzosi muhokama etiladigan masala yuzasidan o‘z fikrini yozma
          ravishda bildirish huquqiga ega.Hayʼat aʼzolari egallab turgan
          lavozimidan (hayʼat tarkibiga lavozimi bo‘yicha kiradigan aʼzolaridan
          tashqari) O‘zbekiston Respublikasi Vazirlar Mahkamasi bilan
          kelishilgan holda ozod etilishi mumkin.
        </p>
      </div>

      <h2 class="heading-secondary hayat__title">
        O‘zbekiston Respublikasi O‘rmon xo‘jaligi davlat qo‘mitasi hayʼati
        quyidagi tarkibda tasdiqlangan:
      </h2>

      <p class="hayat__structrue">
        1. Bakirov Nizomiddin Jalilovich – O‘rmon xo‘jaligi davlat qo‘mitasi
        raisi
      </p>
      <p class="hayat__structrue">
        2. Xakimov Olimjon Arzikulovich – Raisning iqtisodiy masalalar bo‘yicha
        birinchi o‘rinbosari
      </p>
      <p class="hayat__structrue">
        3. Qurbanov G‘olibjon Karimovich – Rais o‘rinbosari
      </p>
      <p class="hayat__structrue">
        4. Xamzayev Abdushukur Xudoyqulovich – Rais o‘rinbosari – O‘rmon
        xo‘jaligi ilmiy-tadqiqot instituti direktori
      </p>
      <p class="hayat__structrue">
        5. Usmonov Sherzod Muxammadaliyevich  – Chegara, tartib va kadrlar
        bo‘yicha rais o‘rinbosari
      </p>
      <p class="hayat__structrue">
        6. Utambetov Uzaqbergen Tileuimbetovich – Qoraqalpog‘iston Respublikasi
        O‘rmon xo‘jaligi qo‘mitasi raisi
      </p>
      <p class="hayat__structrue">
        7. Davronov O‘ktam Tursunqilichovich – Davlat qo‘riqxonalari, milliy
        tabiat bog‘lari va ovchilik xo‘jaliklari boshqarmasi boshlig‘i
      </p>
      <p class="hayat__structrue">
        8. Mamatkarimov Alijon Ibragimovich – “Shifobaxsh” dorivor o‘simliklarni
        etishtirish va qayta ishlash markazi bosh direktori
      </p>
      <p class="hayat__structrue">
        9. Arabov Saidqul Amirovich – “O‘rmonloyiha” davlat unitar korxonasi
        direktori
      </p>
      <p class="hayat__structrue">
        10. Xadjayev Mansurxadja – Farg‘ona viloyati o‘rmon xo‘jaligi
        boshqarmasi boshlig‘i
      </p>
      <p class="hayat__structrue">
        11. Madaminov Sangin Mo‘minjonovich – O‘rmon qonunchiligi talablari
        ijrosini nazorat qilish boshqarmasi yetakchi mutaxassisi
      </p>
    </div>
  </main>
  <script src="/js/collapsibles.js"></script>
</body>

<%- include("../layouts/footer")%>
