<%- include("../layouts/header")%>

<body>
  <main
    class="grid grid-2-column container industry-documents gap-30 inner-page-margin"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title t">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four active" href="/uz/industry-documents"
            >Sohaga oid qonunlar</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/presidential-decree"
            >Prezidentning farmon, qaror va fa...</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/ministers-decree"
            >Vazirlar Mahkamasi qaror va far...</a
          >
        </li>
        <li><a class="pages-list text-four" href="">Qo‘mita hujjatlari</a></li>
        <li>
          <a class="pages-list text-four" href="">Muhokamadagi hujjatlar</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Hujjatlar</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Sohaga oid qonunlar </a>
      </div>

      <h1 class="heading-primary mb-24">Sohaga oid qonunlar</h1>
      <a href="#" class="documents__text"
        >“O‘rmon to‘g‘risidagi”gi O‘zbekiston Respublikasi qonuniga o ‘zgartish
        va qo‘shimchalar kiritish haqida</a
      >
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
