<%- include ("../layouts/header") %>
<main class="container information inner-page-margin">
  <a href="/" class="navigate-text">Asosiy</a>
  <span class="navigate-text"> > </span>
  <a href="/uz/information" class="navigate-text">Maʼlumot</a>

  <p class="heading-primary news__main__title">Maʼlumot</p>

  <div class="information__card gap-30">
    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>

    <div class="information__card__item">
      <img
        src="/assets/img/information-page-svg.svg"
        alt=""
        class="information__card__item__img"
      />
      <a href="#" class="information__card__item__text"
        >O‘rmon xo‘jaliklaridagi ekoturistik obyektlar to‘g‘risida maʼlumot</a
      >
    </div>
  </div>
</main>
<%- include("../layouts/footer") %>
