<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container gap-30 inner-page-margin information-of-social-importance"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Ochiq maʼlumotlar
      </p>

      <ul class="card">
        <li>
          <a href="/uz/budget-openness" class="text-four pages-list"
            >Byudjet ochiqligi</a
          >
        </li>
        <li>
          <a
            href="/uz/information-of-social-importance"
            class="pages-list text-four active"
            >Ijtimoiy ahamiyatga molik maʼlum...</a
          >
        </li>
        <li>
          <a href="/uz/investment-projects" class="pages-list text-four"
            >Investitsion loyihalar</a
          >
        </li>
        <li>
          <a href="/uz/budget-openness" class="pages-list text-four"
            >Ochiq maʼlumotlar</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Ochiq maʼlumotlar</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/information-of-social-importance" class="navigate-text"
          >Ijtimoiy ahamiyatga molik maʼlumotlar</a
        >
      </div>

      <h1 class="heading-primary activity__title">
        Ijtimoiy ahamiyatga molik maʼlumotlar
      </h1>

      <div class="information-of-social-importance__box flex gap-30">
        <div class="information-of-social-importance__box__card">
          <img
            class="information-of-social-importance__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="information-of-social-importance__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span
            class="information-of-social-importance__box__card__mini-text mb-16"
            >hisobotlar</span
          >
          <div
            class="information-of-social-importance__box__card__download flex gap-30"
          >
            <a href="#" download=""
              ><img src="/assets/img/active-pdf.svg" alt=""
            /></a>
            <a href="#" download=""
              ><img src="/assets/img/active-doc.svg" alt=""
            /></a>
            <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
          </div>
        </div>

        <div class="information-of-social-importance__box__card">
          <img
            class="information-of-social-importance__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="information-of-social-importance__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span
            class="information-of-social-importance__box__card__mini-text mb-16"
            >hisobotlar</span
          >
          <div
            class="information-of-social-importance__box__card__download flex gap-30"
          >
            <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
            <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
            <a href="#" download=""
              ><img src="/assets/img/active-xls.svg" alt=""
            /></a>
          </div>
        </div>

        <div class="information-of-social-importance__box__card">
          <img
            class="information-of-social-importance__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="information-of-social-importance__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span
            class="information-of-social-importance__box__card__mini-text mb-16"
            >hisobotlar</span
          >
          <div
            class="information-of-social-importance__box__card__download flex gap-30"
          >
            <a href="#" download=""
              ><img src="/assets/img/active-pdf.svg" alt=""
            /></a>
            <a href="#"><img src="/assets/img/non-active-doc.svg" alt="" /></a>
            <a href="#" download=""
              ><img src="/assets/img/non-active-xls.svg" alt=""
            /></a>
          </div>
        </div>

        <div class="information-of-social-importance__box__card">
          <img
            class="information-of-social-importance__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="information-of-social-importance__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span
            class="information-of-social-importance__box__card__mini-text mb-16"
            >hisobotlar</span
          >
          <div
            class="information-of-social-importance__box__card__download flex gap-30"
          >
            <a href="#"><img src="/assets/img/non-active-pdf.svg" alt="" /></a>
            <a href="#" download=""
              ><img src="/assets/img/active-doc.svg" alt=""
            /></a>
            <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
          </div>
        </div>

        <div class="information-of-social-importance__box__card">
          <img
            class="information-of-social-importance__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="information-of-social-importance__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span
            class="information-of-social-importance__box__card__mini-text mb-16"
            >hisobotlar</span
          >
          <div
            class="information-of-social-importance__box__card__download flex gap-30"
          >
            <a href="#" download=""
              ><img src="/assets/img/active-pdf.svg" alt=""
            /></a>
            <a href="#" download=""
              ><img src="/assets/img/active-doc.svg" alt=""
            /></a>
            <a href="#" download=""
              ><img src="/assets/img/active-xls.svg" alt=""
            /></a>
          </div>
        </div>

        <div class="information-of-social-importance__box__card">
          <img
            class="information-of-social-importance__box__card__img"
            src="/assets/img/open-budget.svg"
            alt="pic"
          />
          <span class="information-of-social-importance__box__card__text mb-16"
            >01.01.2021 holatiga</span
          >
          <span
            class="information-of-social-importance__box__card__mini-text mb-16"
            >hisobotlar</span
          >
          <div
            class="information-of-social-importance__box__card__download flex gap-30"
          >
            <a href="#" download=""
              ><img src="/assets/img/active-pdf.svg" alt=""
            /></a>
            <a href="#" download=""
              ><img src="/assets/img/active-doc.svg" alt=""
            /></a>
            <a href="#"><img src="/assets/img/non-active-xls.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<%- include("../layouts/footer")%>
