<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container gap-30 inner-page-margin investment-projects"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Ochiq maʼlumotlar
      </p>

      <ul class="card">
        <li>
          <a href="/uz/budget-openness" class="text-four pages-list"
            >Byudjet ochiqligi</a
          >
        </li>
        <li>
          <a
            href="/uz/information-of-social-importance"
            class="pages-list text-four"
            >Ijtimoiy ahamiyatga molik maʼlum...</a
          >
        </li>
        <li>
          <a href="/uz/investment-projects" class="pages-list text-four active"
            >Investitsion loyihalar</a
          >
        </li>
        <li>
          <a href="/uz/budget-openness" class="pages-list text-four"
            >Ochiq maʼlumotlar</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Ochiq maʼlumotlar</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Investitsion loyihalar</a>
      </div>

      <h1 class="heading-primary activity__title">Investitsion loyihalar</h1>
      <h2 class="heading-secondary mb-16">
        O‘zbekiston landshaftlarini barqaror tiklash loyihasi (RESILAND)
        (P174135) buyicha kiskacha malumot:
      </h2>
      <button class="collapsible flex center">
        O‘rmondan foydalanishni qanday turlari mavjud?
      </button>

      <div class="collapsible__content">
        <p class="mb-16">Loyihani ishlab chiqishdan maqsad (LICHM/ PDO) bu</p>

        <p class="mb-16">
          O‘zbekistondagi tanlangan mintaqalardagi tomonidan landshaftni
          barqaror boshqarish doirasini kengaytirish va Markaziy Osiyo
          mamlakatlari o‘rtasida transchegaraviy landshaftni tiklash bo‘yicha
          hamkorlikni rivojlantirishdan iborat.
        </p>

        <p class="mb-16">
          Shulardan 142 million AQSH dollari miqdoridagi IDA krediti hisobidan
          moliyalashtiriladi va 8 million AQSH dollari PROGREEN trast fondi
          granti va 3 million AQSH dollari Koreya Jahon banki hamkorlik fondi
          (KWPF) maqsadli jamg‘armasi grantlaridan iborat.
        </p>
      </div>

      <button class="collapsible flex center">
        Loyihaning 2-tarkibiy qismi:
      </button>

      <div class="collapsible__content">
        <p class="mb-16">
          (Xalqaro taraqqiyot assotsiatsiyasi (IDA) tomonidan 84,00 million AQSH
          dollari; PROGREEN tomonidan 6,00 million AQSH dollari). Ushbu tarkibiy
          qism ishlarni, konsalting xizmatlarini, konsalting bo‘lmagan
          xizmatlarni, tovarlarni, o‘quv mashg‘ulotlari va seminarlarni, hamda
          operatsion xarajatlarni moliyalashtiradi. 2.1-kichik tarkibiy qism
          urmon bilan landshaftni tiklash va boshkarishni yaxshilashdan iborat.
          Kuyidagi tadbirlarni uz ichiga oladi:
        </p>

        <p class="mb-16">
          a) daraxt ekish va turlarini tanlash karorlarni kullab kullash
          vositasi sifatida uch boskichli elektron geografik axborot tizimiga
          (GIS) asoslangan tizim ishlab chikish;
        </p>

        <p class="mb-16">
          b) ximoya (ixota) urmonlari/urmonlarni tiklash maksadlarida
          daraxtzorlar ekish; v) ekotizim xizmatlariga yunaltirilgan tadbilar,
          shu jumladan dexkon axoli tomonidan urmon ekish tadbirlari (Green
          wager dasturi), bio-xilmaxillikni kupaytirish tadbirlari va boshkalar.
        </p>

        <p class="mb-16">
          2.2-kichik tarkibiy qism doirasida axoli tomonidan yaratilgan daromad
          manbalarini kuchaytirish va yangi manbalar tuzishga etibo beriladi,
          shu jumaladan kichik biznes rivojlantirishga grantlar beriladi, biznes
          treninglar olib boriladi va boshkalar.
        </p>
      </div>

      <button class="collapsible flex center">
        Loyihaning 3-tarkibiy qismi:
      </button>

      <div class="collapsible__content">
        <p class="mb-16">
          (Xalqaro taraqqiyot assotsiatsiyasi (IDA) tomonidan 84,00 million AQSH
          dollari; PROGREEN tomonidan 6,00 million AQSH dollari). Ushbu tarkibiy
          qism ishlarni, konsalting xizmatlarini, konsalting bo‘lmagan
          xizmatlarni, tovarlarni, o‘quv mashg‘ulotlari va seminarlarni, hamda
          operatsion xarajatlarni moliyalashtiradi. 2.1-kichik tarkibiy qism
          urmon bilan landshaftni tiklash va boshkarishni yaxshilashdan iborat.
          Kuyidagi tadbirlarni uz ichiga oladi:
        </p>

        <p class="mb-16">
          a) daraxt ekish va turlarini tanlash karorlarni kullab kullash
          vositasi sifatida uch boskichli elektron geografik axborot tizimiga
          (GIS) asoslangan tizim ishlab chikish;
        </p>

        <p class="mb-16">
          b) ximoya (ixota) urmonlari/urmonlarni tiklash maksadlarida
          daraxtzorlar ekish; v) ekotizim xizmatlariga yunaltirilgan tadbilar,
          shu jumladan dexkon axoli tomonidan urmon ekish tadbirlari (Green
          wager dasturi), bio-xilmaxillikni kupaytirish tadbirlari va boshkalar.
        </p>

        <p class="mb-16">
          2.2-kichik tarkibiy qism doirasida axoli tomonidan yaratilgan daromad
          manbalarini kuchaytirish va yangi manbalar tuzishga etibo beriladi,
          shu jumaladan kichik biznes rivojlantirishga grantlar beriladi, biznes
          treninglar olib boriladi va boshkalar.
        </p>
      </div>

      <button class="collapsible flex center">
        Loyihaning 4-tarkibiy qismi:
      </button>

      <div class="collapsible__content">
        <p class="mb-16">
          Loyihani boshqarish va muvofiqlashtirish (Xalqaro taraqqiyot
          assotsiatsiyasi (IDA) tomonidan 7 million AQSH dollari). Loyihaning
          4-tarkibiy qismi konsalting xizmatlarini, konsalting bo‘lmagan
          xizmatlarni, tovarlarni, o‘quv mashg‘ulotlari va seminarlarni, hamda
          operatsion xarajatlarni moliyalashtiradi. Ushbu tarkibiy qism O‘rmon
          xo‘jaligi davlat qo‘mitasining xalqaro aloqalar va ekoturizmni
          rivojlantirish (SCF-IRED) boshqarmasi tarkibidagi loyihani amalga
          oshirish guruhiga (LAOG/ PIU) va mintaqaviy darajadagi loyihani amalga
          oshirish guruhlariga qo‘shimcha operatsion xarajatlarni va o‘quv
          mashg‘ulotlarini, shuningdek Milliy boshqaruv qo‘mitasining (NSC) va
          texnik ekspert guruhining operatsion xarajatlarini taʼminlaydi.
          Loyihani amalga oshirish guruhi loyihani boshqarish, muvofiqlashtirish
          va hisobot tayyorlash topshiriqlarini, shu jumladan yillik ish
          rejalari va byudjetlarini tayyorlash, xaridlar faoliyati, loyiha
          mablag‘larini moliyaviy boshqarish (MB/FM), tashqi auditorlarni
          yollash, loyiha aloqa dasturini ishlab chiqish va qo‘llab-quvvatlash,
          hamda shikoyatlarni ko‘rib chiqish mexanizmi, monitoring va baholash
          hamda hisobot berish bilan shug‘ullanadi. Loyihani amalga oshirish
          guruhi, shuningdek loyihaning ekologik va ijtimoiy standartlarga
          muvofiqligini, gender jihatlariga eʼtiborliligini va fuqarolarning
          faolligini taʼminlash uchun javobgardir.
        </p>
      </div>

      <h2 class="heading-secondary mb-16 mt-30">
        O‘zbekiston landshaftlarini barqaror tiklash loyihasi (RESILAND)
        (P174135) buyicha kuyidagi ekologik va ijtimoiy boshqaruv buyicha
        xujjatlar jamoatchilik uchun ochilgan va saytimizda ingliz xamda
        maxalliy tillarda keltirilgan:
      </h2>
      <h3 class="text-secondary mb-16">
        Yangilangan dokumentlar shu saxifaga joylashtiriladi.
      </h3>
      <span class="investment-projects__text"
        >1. Plan ekologicheskix i sotsialnix obyazatelstv (PESO).</span
      >
      <span class="investment-projects__text"
        >2. Environmental and Social Commitment Plan (ESCP).</span
      >
      <span class="investment-projects__text"
        >3. Stakeholder Engagement Plan (SEP).</span
      >
      <span class="investment-projects__text"
        >4. Plan Vzaimodeystviya s Zainteresovannimi Storonami (PVZS).</span
      >
      <span class="investment-projects__text"
        >5. Environmental and Social Management Framework (ESMF).</span
      >
      <span class="investment-projects__text"
        >6. Ramochniy Dokument po Ekologicheskim i Sotsialnim Zaщitnim
        Meram</span
      >
      <span class="investment-projects__text">7. Labor Management Plan</span>
      <span class="investment-projects__text"
        >8. Plan upravleniya trudovimi resursami</span
      >
      <span class="investment-projects__text"
        >9. Process Framework and Resettlement Process Framework</span
      >
      <span class="investment-projects__text"
        >10. Ramochniy dokument po protsessu i ramochniy dokument po
        pereseleniyu</span
      >

      <h2 class="heading-secondary mb-16 mt-30">
        O‘zbekiston Respublikasi Prezidentining 19.12.2019 yildagi № PP-4067
        qarori bilan tasdiqlangan O‘zbekiston Respublikasining 2019 yilga
        mo‘ljallangan Investitsiya dasturining manzilli qismiga kiritish uchun
        taklif etilayotgan qo‘shimcha sanoat investitsiya loyihalari ro‘yxati.
      </h2>

      <h3 class="text-secondary mb-16">
        Tashabbuskorlar va loyihalarning nomi
      </h3>

      <p>
        <span class="investment-projects__bold-text">
          O‘rmon xo‘jaligi davlat qo‘mitasi to‘g‘ridan-to‘g‘ri xorijiy
          investitsiyalar va kreditlar:
        </span>
        Eskirgan shag‘alni qayta ishlash zavodini yaratish
      </p>

      <p>
        <span class="investment-projects__bold-text"> Viloyatlar nomi: </span>
        Buxoro viloyati
      </p>
      <p>
        <span class="investment-projects__bold-text"> Dizayn hajmi: </span>
        yiliga 70 tonna
      </p>

      <p>
        <span class="investment-projects__bold-text"
          >Amalga oshirish muddati:</span
        >
        2019-2021
      </p>
      <p>
        <span class="investment-projects__bold-text"
          >Xorijiy sherik / kreditor:</span
        >
        RRB REAL ROAD BUILDING MCHJ Qo‘shma korxona
      </p>
      <p>
        <span class="investment-projects__bold-text"
          >Loyihaning umumiy qiymati:</span
        >
        2 mln $
      </p>
      <p>
        <span class="investment-projects__bold-text"
          >Kutilgan qiymat 01.01.2019:</span
        >
        2 mln$
      </p>
      <p>
        <span class="investment-projects__bold-text"
          >2019 yilga rivojlanish ma‘lumoti:</span
        >
        1 mln
      </p>
      <p>
        <span class="investment-projects__bold-text"
          >2019 yilga jalb qilish (moliyalashtirish) prognozi:</span
        >
        1 mln $
      </p>
      <p>
        <span class="investment-projects__bold-text"
          >Dasturga kiritish uchun asos:</span
        >
        Davlat o‘rmon xo‘jaligi qo‘mitasing xati 01/13-3895 dan 11.11.2019 yil
      </p>
    </div>
  </main>
  <script src="/js/collapsibles.js"></script>
</body>

<%- include("../layouts/footer")%>
