<%- include("../layouts/header")%>

<body>
  <main class="grid grid-2-column container gap-30 inner-page-margin">
    <div>
      <%- include ("../layouts/pressCenter") %>

    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Matbuot markazi</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Rahbariyat maʼruzalari</a>
      </div>

      <h1 class="heading-primary activity__title">Rahbariyat maʼruzalari</h1>
      <button class="collapsible flex">
        O‘rmon xo‘jaligi davlat qo‘mitasi va uning tizimidagi tashkilotlar
        tomonidan 2017 yilning I yarim yilligida amalga oshirilgan ishlar
        bo‘yicha hisoboti va joriy yilning II yarim yilligida bajarilishi lozim
        bo‘lgan ishlar to‘g‘risida Qo‘mita raisi N.Bakirovning maʼruzasi
      </button>

      <div class="collapsible__content">
        <p class="text-secondary mb-16">
          Assalomu alaykum hurmatli hamkasblar! Hurmatli selektor yig‘ilishi
          qatnashchilari!
        </p>

        <p>
          Qo‘mitamiz tashkil etilganiga 3 oy bo‘ldi, o‘tgan qisqa davrda bir
          qator ishlar amalga oshirildi.Men bugungi yig‘ilish kun tartibidagi
          masalalar ko‘pligini inobatga olib, vaqtingizni ko‘p olmasdan,
          tizimdagi yutuq va muvafaqiyatlarimiz to‘g‘risida emas, balki Davlat
          rahbari tomonidan oldimizga qo‘yilgan asosiy ustuvor vazifalar
          to‘g‘risida to‘xtalmoqchiman.Bundan buyon qo‘mitamizning davlatimiz
          oldidagi yutuqlari, albatta tizim idora va tashkilotlari, jumladan
          xo‘jaliklarimiz tomonidan amalda bajarilgan ishlar ko‘rsatkichi bilan
          baholanadi. Ushbu ko‘rsatkichlarni yuqori darajaga ko‘tarishimiz uchun
          olib borayotgan korporativ boshqaruvni, yaʼni jamoa bo‘lib ishlash
          mexanizmini qayta ko‘rib chiqishimiz zarur.Bu degani, Qo‘mita bilan
          hududiy boshqarma o‘rtasidagi, hududiy boshqarma bilan xo‘jaliklar
          o‘rtasidagi, xo‘jaliklar esa tarkibidagi har bir bo‘lim va bo‘lim
          mutaxassisi nima ish bilan band, nima ish qilishi kerak, vazifasini
          to‘liq bajaryaptimi degan savollar bilan tanqidiy qayta ko‘rib
          chiqishimiz lozim. Bunda:Qo‘mita quyi tizim korxonalariga sharoit
          yaratish uchun nima qilishi kerak? Normativ huquqiy hujjatlarga
          o‘zgartirish kiritish kerakmi? Mablag‘ masalasida yordam kerakmi?
          Kaysidir yoʼnalishlarimizda Hukumat imtiyozlariga zarurat bormi?
          -Degan savollar bo‘yicha qo‘mita ish boshlagan va yechimini
          izlamoqda.Huddi shuningdek, Qo‘mitaning Respublikada joylashgan idora
          va tashkilotlari Qo‘mita va uning tizimidagi o‘rmon xo‘jaliklari uchun
          qanday yordam bera oladi?O‘rmon xo‘jaliklari esa qo‘yilgan vazifalarni
          amalga oshirishi uchun nima qilishi kerak? Ko‘rsatkichlarni ko‘tarish
          uchun imkoniyati qay darajada? Nima yetishmaydi (texnikami,
          mexanizmmi, asbob uskunami, normativ hujjatmi yoki boshqa resurslarmi)
          va qanday muammolar borligini chuqur o‘rganish kerak.
        </p>
      </div>

      <button class="collapsible flex">
        O‘rmon xo‘jaligi bosh boshqarmasi tizimida 2017 yil I choragi davomida
        sohani ijtimoiy-iqtisodiy rivojlantirish va 2017 yilga belgilangan
        vazifalar bajarilishi yuzasidan amalga oshirilgan ishlar to‘g‘risida
        ma‘lumotlar
      </button>

      <div class="collapsible__content">
        <p class="text-secondary mb-16">Hurmatli yig‘ilish qatnashchilari!</p>

        <p>
          Vazirlar Mahkamasining 2017 yil 14 yanvardagi “Bosh vazir
          o‘rinbosarlari, davlat va xo‘jalik boshqaruv organlari, hokimliklar
          rahbarlarining tarmoqlar va hududlarni rivojlantirishdagi
          kamchiliklarni bartaraf etish, shuningdek, O‘zbekiston Respublikasi
          Hukumatining 2017 yilgi iqtisodiy va ijtimoiy dasturining eng muhim
          yoʼnalishlari va ustuvor vazifalarini amalga oshirish bo‘yicha amaliy
          chora-tadbirlar to‘g‘risidagi hisobotlari” mavzusidagi 1-sonli
          yig‘ilish bayoni topshiriqlarining ijrosini ta‘minlash, ushbu
          yig‘ilishda O‘zbekiston Respublikasi Prezidenti Sh.M.Mirziyoyevning
          “Tanqidiy tahlil, qat‘iy tartib-intizom va shaxsiy javobgarlik – har
          bir rahbar faoliyatining kundalik qoidasi” nomli ma‘ruzasida bayon
          etilgan ustuvor vazifalar barchamizning, shu jumladan respublika
          o‘rmon xo‘jaliklari faoliyatida ham dasturul amal sifatida qabul qilib
          olindi.Shuningdek, “Xalq bilan muloqot va inson manfaatlari yili”
          davlat dasturi hamda O‘zbekiston Respublikasi Prezidentining Farmoni
          bilan tasdiqlangan “O‘zbekiston Respublikasini yana-da rivojlantirish
          bo‘yicha harakatlar strategiyasi” xalqimiz turmush tarzini yuqori
          bosqichga ko‘tarish va farovonlikni ta‘minlashga qaratilgan
          hujjatlardir.Bugungi kunda Hurmatli yurtboshimiz tomonidan ijro
          intizomini mustahkamlash, O‘zbekiston Respublikasi Prezidentining
          Farmoni, qarori, farmoyishlari, bayonlari, og‘zaki va yozma
          topshiriqlari hamda Vazirlar Mahkamasining qarorlari, farmoyishlarini
          o‘z muddatida so‘zsiz bajarilishini ta‘minlash davlat boshqaruvi
          organlarining birinchi galdagi vazifasi qilib belgilab berildi. Ushbu
          masala yuzasidan O‘zbekiston Respublikasi Prezidentining 2017 yil11
          apreldagi “O‘zbekiston Respublikasi Prezidentining hujjatlari va
          topshiriqlari samarali va natijali ijro etilishi, shuningdek ijro
          intizomi mustahkamlanishi uchun O‘zbekiston Respublikasi Prezidenti
          Davlat maslahatchilarining, Vazirlar Mahkamasi va uning komplekslari,
          davlat va xo‘jalik boshqaruvi organlari hamda barcha darajalardagi
          hokimliklar rahbarlarining shaxsiy javobgarligi to‘g‘risida”gi
          PQ-2881-son qarori bilan ijro intizomini tashkil etish va hujjatlar
          bajarilishini nazoratini qilish tizimi belgilab berildi.Qarordan kelib
          chiqib, ijro intizomini har bir tashkilot va o‘rmon xo‘jaligi
          rahbaridan kunlik monitoring qilib, nazoratini olib borishi, tegishli
          nazorat kartochkalarini belgilangan tartibda yuritilishini tashkil
          etish va ta‘minlash, bu borada mas‘ul xodimlarning shaxsiy mas‘uliyati
          va javobgarligini kuchaytirish choralarini belgilash, hujjatlar
          ijrosini etarli darajada ta‘minlamagan mas‘ullarga nisbatan qat‘iy
          chora ko‘rib borish hamda amalga oshirilgan ishlar to‘g‘risida Bosh
          boshqarmaga doimiy axborot berib borish talab etiladi.Bundan tashqari
          jismoniy va yuridik shaxslarning murojaatlarini qonun hujjatlari
          talablaridan kelib chiqib, o‘rganilishini, murojaatlarda ko‘tarilgan
          masalalarni batafsil o‘rganib, natijasini muallifga ma‘lum qilish, har
          bir fuqaroning murojaatida uning dardi aks ettirilganini inobatga
          olib, murojaatlarni ko‘rib chiqishda vijdonan yondoshishni talab
          etadi.Shuningdek, O‘zbekiston Respublikasi Prezidentining virtual
          qabulxonasi orqali joriy yilning I choragi davomida O‘rmon xo‘jaligi
          bosh boshqarmasi faoliyatiga oid yoʼllangan murojaatlar jami 36 tani
          tashkil etib, shundan 15 tasi o‘rmon xo‘jaligi rahbarlarining
          faoliyatidan norozi bo‘lib yozilgan shikoyatlar, 10 tasi sohaga oid
          takliflar, 7 tasi ariza (yer olish, oylik ish haqqini ko‘tarish,
          uy-joy ajratilishida amaliy yordam so‘rash) va qolgan 4 tasi o‘rmon
          fondi erlarida sodir bo‘layotgan noqonuniy harakatlar yuzasidan
          shikoyatlardir.Bosh boshqarma devonxonasida 2017 yilning o‘tgan
          davrida O‘rmon xo‘jaligi bosh boshqarmasiga jismoniy va yuridik
          shaxslardan jami 105 ta murojaat kelib tushgan bo‘lib, o‘tgan yilning
          shu davriga nisbatan 59 taga ko‘paygan. Shundan, 21 tasi Surxondaryo
          viloyatiga, 18 tasi Qashqadaryo viloyatiga, 14 tasi Samarqand
          viloyatiga, 7 tasi Jizzax viloyatiga, 25 tasi Toshkent viloyatiga
          (Toshkent viloyatidagilarning asosiy qismi taklif va arizalarga
          to‘g‘ri keladi) va qolgan 20 tasi boshqa viloyatlarga to‘g‘ri keladi.
        </p>
      </div>

      <button class="collapsible flex">
        O‘zbekiston Respublikasining “O‘zbekiston Respublikasining Maʼmuriy
        javobgarlik to‘g‘risidagi Kodeksiga o‘zgartish va qo‘shimchalar kiritish
        to‘g‘risida”gi Qonun loyihasi haqida
      </button>

      <div class="collapsible__content">
        <p class="text-secondary mb-16">
          Assalomu alaykum,Hurmatli Abdulla Nigmatovich va Rayosat aʼzolari!
        </p>

        <p>
          Eʼtiboringizga “O‘zbekiston Respublikasining Maʼmuriy javobgarlik
          to‘g‘risidagi Kodeksiga o‘zgartish va qo‘shimchalar kiritish
          to‘g‘risida”gi Qonun loyihasi havola etilmoqda.Mazkur Qonun loyixasi
          bilan Maʼmuriy javobgarlik to‘g‘risidagi Kodeksning 77, 245,
          261-moddalariga qo‘shimcha va o‘zgartishlar kiritilmoqda.Qonun
          loyixasi O‘zbekiston Respublikasi Prezidenti Devonining 2017 yil 24
          fevraldagi 03-393-XDF-sonli xati hamda O‘zbekiston Respublikasi Bosh
          vazirining 2017 yil 3 martdagi 03/1-395-sonli topshirig‘iga asosan
          ishlab chiqilgan.Ushbu Qonun loyihasini qabul qilish zaruriyati
          quyidagi asosiy sabablarga asoslangan:birinchidan – o‘rmon fondi
          erlaridan foydalanish qoidalarini bugungi kun talablariga
          muvofiqlashtirilishi va qoidabuzarlik turlarini aniq belgilash
          lozim;ikkinchidan – qonunni qo‘llash amaliyotida o‘rmon fondi
          erlaridan foydalanish qoidalarini buzish ishlarini ko‘rib chiqishda
          ko‘plab muammolar yuzaga kelmoqda;uchinchidan – o‘rmon fondi erlarida
          chorva mollarini o‘tlatishga oid taqiq talablarini kuchaytirish
          zarurati yuzaga kelgan.Chunki, o‘rmon fondining daraxt va butalar
          bilan qoplangan maydonida chorva mollarini o‘tlatish oqibatida bir
          necha yillar davomida ulg‘aygan daraxt va butalar shikastlantirilib
          uning qurishiga olib keladi, natijada zarar etkazgan shaxs uncha ko‘p
          bo‘lmagan miqdorda jarima to‘lab jazodan qutulib qoladi. (tana
          diametri 24 sm li daraxtni shikastlantirish oqibatini qurishga olib
          kelishi natijasida etkazilgan zarar miqdori eng kam ish haqining 1,9
          koyeffitsiyentini yaʼni, 284872,5 so‘mni yoki 40 sm li daraxt uchun
          zarar miqdori 614077,5 so‘mni tashkil etadi). Bundan tashqari o‘rmon
          fondi erlari 717 nafar o‘rmon nazoratchilari tomonidan muhofaza
          etiladi. Qo‘riqlash va muhofaza qilish ishlarini amalga oshirish uchun
          meʼyor bo‘yicha yana 2300 nafardan ortiq nazoratchi shtatlari talab
          etiladi.O‘rmon fondida 500 ming gektardan ortiq dorivor o‘simliklar
          bo‘lgan yaylovzorlar mavjud. Shuning uchun, mazkur kodeksga o‘rmon va
          dorivor o‘simliklar bilan qoplangan maydonlarda chorva mollarini
          o‘tlatish o‘simlik dunyosi obyektlarini yoʼqolib ketishiga sabab
          bo‘layotganligi uchun o‘rmon va dorivor o‘simliklar bilan qoplangan
          maydonlarda chorva mollarini o‘tlatish taqiq talablari hamda fuqarolar
          va mansabdor shaxslarning javobgarligi kuchaytirilmoqda.Qonun
          loyihasi:O‘rmon fondi erlaridan foydalanish munosabatlarini tartibga
          solish mexanizmini takomillashtirishga;O‘rmon fondi erlarida o‘simlik
          va hayvonot dunyosini muhofaza qilish va undan oqilona, tejamli
          foydalanish tizimini takomillashtirishga;O‘rmondan doimiy
          foydalanuvchilar va o‘rmondan vaqtincha foydalanuvchilarning huquq va
          majburiyatlarini taʼminlashga, ularning moddiy manfaatdorligini
          yana-da kengaytirishga;qonunni qo‘llash amaliyotida yuzaga kelayotgan
          muammolarni, qonun hujjatlarida mavjud bo‘shliqlarni bartaraf etishga
          qaratilgan.Abdulla Nigmatovich va Rayosat aʼzolari!Qonun loyihasi
          Yagona interaktiv davlat xizmatlari portalida joylashtirilib, keng
          omma muhokamasi o‘tkazilgan.Shuningdek Qonun loyihasini ishlab
          chiqishda bir qator xorijiy (Yevropa va mustaqil davlatlar
          xamdo‘stligi) davlatlarning qonunchiligi ham o‘rganib chiqilgan.Mazkur
          qonunni qabul qilinishi quyidagi natijalarni beradi:birinchidan –
          o‘rmon fondi erlaridan foydalanish qoidalarini buzishni oldini
          olishdagi bo‘shlig‘i to‘ldiriladi;ikkinchidan – o‘rmondan doimiy
          foydalanuvchilar va o‘rmondan vaqtincha foydalanuvchilarning huquq va
          majburiyatlari aniq belgilandi;uchinchidan – o‘rmon fondi erlaridan
          foydalanish qoidalarini buzishni oldini olishning taʼsirchanligi
          oshadi;to‘rtinchidan – o‘rmon fondi erlarida sodir etilgan
          qonunbuzishni ko‘rib chiqish borasida muammolarning qonuniy echimi
          belgilanadi.Qonun loyihasi o‘rnatilgan tartibda manfaatdor vazirlikva
          idoralar bilan (Qishloq va suv xo‘jaligi vazirligi, Adliya vazirligi,
          Iqtisodiyot vazirligi, Moliya vazirligi, Ekologiya va atrof muhitni
          muhofaza qilish davlat qo‘mitasi, Er resurslari, geodeziya,
          kartografiya va davlat kadastri davlat qo‘mitasi, O‘zbekiston
          Respublikasi Oliy sudi, O‘zbekiston Respublikasi Bosh prokuraturasi,
          O‘zbekiston Fanlar Akademiyasi, “O‘zfarmsanoat” DAK) kelishilgan.
          Shuningdek, O‘zbekiston Respublikasi Prezidenti huzuridagi amaldagi
          qonun xujjatlari monitoringi institutining ijobiy xulosasi
          olingan.Hurmatli Abdulla Nigmatovich va Rayosat aʼzolari!Mazkur qonun
          loyihasi o‘rmon fondidan foydalanishni tartibga solish, o‘rmon
          qonunbuzilish holatlari yuzasidan javobgarlikni kuchaytirish,
          fuqarolar va mansabdor shaxslarning masʼuliyatini oshirishga, eng
          avvalo atrof tabiiy muhit va o‘simlik dunyosi obyektlarini muhofaza
          qilishga qaratilgan bo‘lib, uni maʼqullab berilishini so‘rayman.Qonun
          loyixhsi maʼqullangan taqdirda, Oliy Majlis Qonunchilik palatasida
          ko‘rib chiqishda bevosita ishtirok etadigan Vazirlar Mahkamasining
          Ishchi guruhini tasdiqlanishi taklif etiladi.Hisobotim tugadi,
          eʼtiboringiz uchun rahmat!
        </p>
      </div>
    </div>
  </main>
  <script src="/js/collapsibles.js"></script>
</body>

<%- include("../layouts/footer")%>
