<%- include("../layouts/header")%>
<body>
    <main class="grid grid-2-column container activity gap-30 inner-page-margin management">
        <div>
            <p class="text-secondary main-page-inner-page-secondary-title">Qo‘mita haqida</p>
            <ul class="card">
                <li> <a class="pages-list text-four" href="/uz/activity">Faoliyat</a></li>
                <li> <a class="pages-list text-four" href="/uz/function-and-tasks">Qo‘mita funksiyalari va
                        vazifalari</a>
                </li>
                <li> <a class="pages-list text-four active" href="/uz/management">Rahbariyat</a></li>
                <li> <a class="pages-list text-four" href="/uz/central-apparatus">Markaziy apparat</a></li>
                <li> <a class="pages-list text-four" href="/uz/structure">Tarkibiy tuzilma</a></li>
                <li> <a class="pages-list text-four" href="/uz/system-organizations">Tizim tashkilotlari</a></li>
                <li> <a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
                <li> <a class="pages-list text-four" href="/uz/community-council">Jamoatchilik kengashi</a></li>
                <li> <a class="pages-list text-four" href="/uz/e-government">Elektron hukumat</a></li>
                <li> <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a></li>
                <li> <a class="pages-list text-four" href="/uz/corruption">Korrupsiyaga qarshi kurash</a></li>
            </ul>
        </div>
        <div>

            <div class="mb-16">
                <a href="/" class="navigate-text">Asosiy</a>
                <span class="navigate-text"> > </span>
                <a href="#" class="navigate-text">Qo‘mita haqida</a>
                <span class="navigate-text"> > </span>
                <a href="#" class="navigate-text">Rahbariyat</a>
            </div>

            <h1 class="heading-primary management__title">Rahbariyat</h1>
            <div class=" management__box flex gap-30">
                <img src="/assets/img/Bakirov.png" alt="" class="management__box__img">
                <div>
                    <p class="management__box__title">Bakirov Nizomiddin Jalilovich</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="management__box__text">O‘rmon xo‘jaligi davlat qo‘mitasi raisi</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="management__box__text">+998 71 263-04-20</a>

                    <span class="small-print">Faks:</span>
                    <p class="management__box__text">+998 71 263-04-20</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:info@urmon.uz" class="management__box__text">info@urmon.uz</a>

                    <span class="small-print">Qabul kunlari:</span>
                    <p class="management__box__text">Har oyning to‘rtinchi juma kuni soat 10:00 dan 12:00 gacha</p>

                    <div class="flex justify-s-b management__box__btn">
                        <a href="#" class="btn full-btn">Virtual qabulxona</a>
                    </div>
                </div>
            </div>

            <div class=" management__box flex gap-30">
                <img src="/assets/img/Qurbonov.png" alt="" class="management__box__img">
                <div>
                    <p class="management__box__title">Qurbonov G‘olibjon Karimovich</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="management__box__text">O‘rmon xo‘jaligi davlat qo‘mitasi raisi</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="management__box__text">+998 71 263-04-20</a>

                    <span class="small-print">Faks:</span>
                    <p class="management__box__text">+998 71 263-04-20</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:info@urmon.uz" class="management__box__text">info@urmon.uz</a>

                    <span class="small-print">Qabul kunlari:</span>
                    <p class="management__box__text">Har oyning to‘rtinchi juma kuni soat 10:00 dan 12:00 gacha</p>

                    <div class="flex justify-s-b management__box__btn">
                        <a href="#" class="btn full-btn">Virtual qabulxona</a>
                        <a href="biography.html" class="btn full-btn">Biografiya</a>
                    </div>
                </div>
            </div>

            <div class=" management__box flex gap-30">
                <img src="/assets/img/Mamatkarimov.png" alt="" class="management__box__img">
                <div>
                    <p class="management__box__title">Mamatkarimov Alijon Ibragimovich</p>
                    <span class="small-print">Lavozimi:</span>
                    <p class="management__box__text">O‘rmon xo‘jaligi davlat qo‘mitasi raisi</p>

                    <span class="small-print">Ishonch telefoni:</span>
                    <a href="tel:+998712630850" class="management__box__text">+998 71 263-04-20</a>

                    <span class="small-print">Faks:</span>
                    <p class="management__box__text">+998 71 263-04-20</p>

                    <span class="small-print">Elektron pochta:</span>
                    <a href="mailto:info@urmon.uz" class="management__box__text">info@urmon.uz</a>

                    <span class="small-print">Qabul kunlari:</span>
                    <p class="management__box__text">Har oyning to‘rtinchi juma kuni soat 10:00 dan 12:00 gacha</p>

                    <div class="flex justify-s-b management__box__btn">
                        <a href="#" class="btn full-btn">Virtual qabulxona</a>
                    </div>
                </div>
            </div>

    </main>
</body>
<%- include("../layouts/footer")%>
