<%- include("../layouts/header")%>
<body>
  <main class="grid grid-2-column container gap-30 inner-page-margin">
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title t">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four" href="/uz/industry-documents"
            >Sohaga oid qonunlar</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/presidential-decree"
            >Prezidentning farmon, qaror va fa...</a
          >
        </li>
        <li>
          <a class="pages-list text-four active" href="/uz/ministers-decree"
            >Vazirlar Mahkamasi qaror va far...</a
          >
        </li>
        <li><a class="pages-list text-four" href="">Qo‘mita hujjatlari</a></li>
        <li>
          <a class="pages-list text-four" href="">Muhokamadagi hujjatlar</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/industry-documents" class="navigate-text">Hujjatlar</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text"
          >Vazirlar Mahkamasi qaror va farmoyishlari
        </a>
      </div>

      <h1 class="heading-primary mb-24">
        Vazirlar Mahkamasi qaror va farmoyishlari
      </h1>
      <h2 class="heading-secondary mb-16">
        O’zbekiston Respublikasi Vazirlar mahkamasining qarorlari:
      </h2>
      <a href="#" class="documents__text mb-16"
        >O‘rmon fondi yerlarida muhofaza etiladigan tabiiy hududlarni tashkil
        etish bilan bog‘liq qo‘shimcha chora-tadbirlar to‘g‘risida</a
      >
      <a href="#" class="documents__text mb-16"
        >O‘zbekiston Respublikasi O‘rmon Xo‘jaligi davlat qo‘mitasi tizimidagi
        tashkilotlarda ishlovchi xodimlarning ishlab chiqarish me‘yorlarini
        belgilash to‘g‘risida</a
      >
      <a href="#" class="documents__text mb-16"
        >O‘rmon fondi yerlari va sug‘oriladigan yerlardan samarali foydalanish
        hamda yog‘ochbop mahsulotlar yetishtirish hajmini yanada ko‘paytirish
        chora-tadbirlari to‘g‘risida</a
      >
      <a href="#" class="documents__text mb-16"
        >“O‘zbekiston Respublikasi O‘rmon Xo‘jaligi fidoyisi” ko‘krak nishonini
        ta’sis etish to‘g‘risida</a
      >
      <a href="#" class="documents__text mb-16"
        >O‘rmonlarning davlat hisobini va monitoringini yuritishni
        takomillashtirish chora-tadbirlari to‘g‘risida</a
      >
      <a href="#" class="documents__text mb-16"
        >O‘zbekiston Respublikasida O‘rmon Xo‘jaligi sohasini yanada
        rivojlantirish va innovatsion texnologiyalarni joriy etish
        chora-tadbirlari to‘g‘risida</a
      >
      <a href="#" class="documents__text mb-16"
        >O‘rmon Xo‘jaligini boshqarish tizimini yanada takomillashtirish
        chora-tadbirlari to‘g‘risida</a
      >
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
