<%- include("../layouts/header")%>
<body>
  <main class="container inner-page-margin">
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qo‘mita haqida</a>
      <span class="navigate-text"> > </span>
      <a href="/uz/system-organizations" class="navigate-text"
        >Tizim tashkilotlari</a
      >
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Respublika tashkilotlari</a>
    </div>
    <h1 class="heading-primary mb-24">Respublika tashkilotlari</h1>

    <table class="systemOrganization__table">
      <thead>
        <tr class="systemOrganization__table__column">
          <th
            class="heading-secondary systemOrganization__table__row name-organization"
          >
            Respublika tashkilotlari
          </th>
          <th class="heading-secondary systemOrganization__table__row director">
            Direktor
          </th>
          <th
            class="heading-secondary systemOrganization__table__row phone-number"
          >
            Ish telefoni
          </th>
          <th class="heading-secondary systemOrganization__table__row email">
            Elektron pochta
          </th>
        </tr>
      </thead>
      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          “O‘rmonloyiha” davlat unitar korxonasi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Abdirimov Rustambay Raximberganovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998712622956" class="text-secondary">+998 71 2622956</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:urmonloyiha@urmon.uz" class="text-secondary"
            >urmonloyiha@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          “Shifobaxsh”dorivor o‘simliklarni yetishtirish va qayta ishlash
          markazi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Jurayev G‘ayrat Nurmamatovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998712929762" class="text-secondary">+998 71 2929762</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:shifobaxsh@urmon.uz" class="text-secondary"
            >urmonqurilish@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Davlat qo‘riqxonalari, milliy tabiat bog‘lar va ovchilik boshqarmasi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Fazliyev Farrux Faxriddinovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998980072980" class="text-secondary">+998 98 0072980</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:boshquriqxona@urmon.uz" class="text-secondary"
            >boshquriqxona@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          “O‘rmontexnoservis” davlat unitar korxonasi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Arifdjanov Gayrat Abdumalikovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998951959929" class="text-secondary"
            >+998 95 195 99 29</a
          >
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:boshquriqxona@urmon.uz" class="text-secondary"
            >boshquriqxona@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          “O‘rmonqurilish” davlat unitar korxonasi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Safarov Boboqul Berdiyarovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998977055201" class="text-secondary"
            >+998 97 705 52 01</a
          >
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:urmonqurilish@urmon.uz" class="text-secondary"
            >urmonqurilish@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          O‘rmon xo‘jaligi texnikumi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          G‘ulomova Mamlakat G‘ulomovna
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998974339636" class="text-secondary"
            >+998 97 433 96 36</a
          >
        </td>
        <td class="systemOrganization__table__row"></td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          O‘rmon xo‘jaligi ilmiy-tadqiqot instituti
        </td>
        <td class="systemOrganization__table__row text-secondary">
          XamzayevAbdushukur Xudoyqulovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998712257232" class="text-secondary">+998 71 2257232</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:markaz@urmon.uz" class="text-secondary"
            >markaz@urmon.uz</a
          >
        </td>
      </tr>
    </table>
  </main>
</body>

<%- include("../layouts/footer")%>
