<%- include("../layouts/header")%>
<body>
  <main class="container inner-page-margin">
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qo‘mita haqida</a>
      <span class="navigate-text"> > </span>
      <a href="/uz/system-organizations" class="navigate-text"
        >Tizim tashkilotlari</a
      >
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qoraqalpog‘iston Respublikasi</a>
    </div>
    <h1 class="heading-primary mb-24">Qoraqalpog‘iston Respublikasi</h1>

    <table class="systemOrganization__table">
      <thead>
        <tr class="systemOrganization__table__column">
          <th
            class="heading-secondary systemOrganization__table__row name-organization"
          >
            Respublika tashkilotlari
          </th>
          <th class="heading-secondary systemOrganization__table__row director">
            Direktor
          </th>
          <th
            class="heading-secondary systemOrganization__table__row phone-number"
          >
            Ish telefoni
          </th>
          <th class="heading-secondary systemOrganization__table__row email">
            Elektron pochta
          </th>
        </tr>
      </thead>
      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Qoraqalpog‘iston Respublikasi O‘rmon xo‘jaligi qo‘mitasi
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Aminov Oybek Baxtiyorovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998612292029" class="text-secondary"
            >+998 61 2292029
          </a>
          <a href="tel:+998612292033" class="text-secondary">+998 61 2292033</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:qqr@urmon.uz" class="text-secondary">qqr@urmon.uz</a>
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Bo‘zatov DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Seydullayev Satniyaz Mambetniyazovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998614153498 " class="text-secondary"
            >+998 61 4153498
          </a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:buzatov@urmon.uz" class="text-secondary"
            >buzatov@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Qorauzak DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Akimniyazov Ibraxim Amidullayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998614655246" class="text-secondary"
            >+998 61 4655246
          </a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:buzatov@urmon.uz" class="text-secondary"
            >qorauzak@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Mo‘ynoq DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Auyezov Farxad Kiyatbayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998613221018" class="text-secondary">+998 61 3221018</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:muynoq@urmon.uz" class="text-secondary"
            >muynoq@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Nukus DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Yusupov Arslonbek Kaypberganovech
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998937711111" class="text-secondary">+998 93 7711111</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:nukus@urmon.uz" class="text-secondary"
            >nukus@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Taxtako‘pir DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Taxtako‘pir DO‘X
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998613660030" class="text-secondary">+998 61 3660030</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:taxtakupir@urmon.uz" class="text-secondary">
            taxtakupir@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          To‘rtko‘l DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Saburov Azamat Kabulovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998613660030" class="text-secondary">+998 61 5330354</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:turtkol@urmon.uz" class="text-secondary">
            turtkol@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Chimboy DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Auyezov Farxad Kiyatbayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998614440065" class="text-secondary">+998 61 4440065</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:chimboy @urmon.uz" class="text-secondary"
            >chimboy @urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Ellikqalʼa DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Kenjayev Shanazar Movlyanovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998615851360" class="text-secondary">+998 61 5851360</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:ellikqala@urmon.uz" class="text-secondary"
            >ellikqala@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Xo‘jeyli DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Matkarimov Rustam Reymbayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998615851360" class="text-secondary"
            >+998 61 5562062
          </a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:xujeyli@urmon.uz" class="text-secondary"
            >xujeyli@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Beruniy DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Koshimbetov Rasul Kamiljanovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998615242037" class="text-secondary">+998 61 5242037</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:beruniy@urmon.uz" class="text-secondary"
            >beruniy@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Beruniy DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Koshimbetov Rasul Kamiljanovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998615242037" class="text-secondary">+998 61 5242037</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:beruniy@urmon.uz" class="text-secondary"
            >beruniy@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Qipchoq DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Torayev Erkinbay Ismailovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998999558188" class="text-secondary">+998 99 9558188</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:qipchoq@urmon.uz" class="text-secondary"
            >qipchoq@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Qo‘ng‘irot DO‘OX
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Berdanov Amangeldi Yelmurzayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998941449994" class="text-secondary">+998 94 1449994</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:qozoqdaryo@urmon.uz" class="text-secondary"
            >qozoqdaryo@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Orol buyi milliy tabiyat bog‘i
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Allaniyazov Yerkinbay Amanbayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998975636164" class="text-secondary">+998 97 5636164</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:orol@urmon.uz" class="text-secondary"
            >orol@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Qozoqdaryo DO‘OX
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Torayev Erkinbay Ismailovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998999558188" class="text-secondary">+998 99 9558188</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:qipchoq@urmon.uz" class="text-secondary"
            >qipchoq@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Nukus MDO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Aspetullayev Arislanbay Otarbayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998949006668" class="text-secondary">+998 94 9006668</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:nukusmaxsus@urmon.uz" class="text-secondary"
            >nukusmaxsus@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Xo‘jayli DO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Matkarimov Rustam Reymbayevich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998995833006" class="text-secondary">+998 99 5833006</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:xujayli@urmon.uz" class="text-secondary"
            >xujayli@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Sho‘manoy IDO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Qalmuratov Zaripbay Seydanovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998905926953" class="text-secondary">+998 90 5926953</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:shumanay@urmon.uz" class="text-secondary"
            >shumanay@urmon.uz</a
          >
        </td>
      </tr>

      <tr class="systemOrganization__table">
        <td class="systemOrganization__table__row text-secondary">
          Qonliko‘l IDO‘X
        </td>
        <td class="systemOrganization__table__row text-secondary">
          Erlepesov Razatdin Xalmuratovich
        </td>
        <td class="systemOrganization__table__row">
          <a href="tel:+998905926953" class="text-secondary">+998 93 2004066</a>
        </td>
        <td class="systemOrganization__table__row">
          <a href="mailto:qonlikol@urmon.uz" class="text-secondary"
            >qonlikol@urmon.uz</a
          >
        </td>
      </tr>
    </table>
  </main>
</body>

<%- include("../layouts/footer")%>
