<%- include("../layouts/header")%>
<body>
  <main class="container inner-page-margin">
    <div class="mb-16">
      <a href="/" class="navigate-text">Asosiy</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text">Qo‘mita haqida</a>
      <span class="navigate-text"> > </span>
      <a href="/uz/activity" class="navigate-text">Faoliyat</a>
      <span class="navigate-text"> > </span>
      <a href="#" class="navigate-text"
        >O‘rmon xo‘jaligi faoliyati to‘g‘risida maʼlumotlar</a
      >
    </div>
    <h1 class="heading-primary mb-24">
      "Shifobaxsh” ilmiy-ishlab chiqarish markazi mustaqillik yillarida
    </h1>

    <p class="mb-16">
      O‘tgan asrning 70 yillarida, sobiq ittifoq davrida O‘zbekiston o‘rmon
      xo‘jaligi qo‘mitasi tasarrufida Dorivor o‘simliklar boshqarmasi tashkil
      qilindi. Mazkur boshqarma asosan respublika O‘rmon xo‘jaliklarida tabiiy
      holda o‘suvchi dorivor o‘simliklar xom ashyosini tayyorlab, farmatsevtika
      zavodlari va dorixonalarga yetkazib berish bilan shug‘ullanib keldi.O‘sha
      davrlarda, o‘rmon xo‘jaliklari farmatsevtika sanoati korxonalari
      ehtiyojidan kelib chiqib, O‘rmon fondi yerlarida mavjud bo‘lgan, yovvoyi
      holda o‘suvchi na‘matak, zag‘oza, afsonak, omonqora kabi boshqa bir necha
      xil dorivor o‘simliklar xom ashyosidan tayyorlab farmatsevtika zavodlariga
      qayta ishlash uchun topshirar edi.Shuni ta‘kidlash joyiz kim, o‘rmon
      xo‘jaligi xodimlari hamda dorivor o‘simliklar boshqarmasi xodimlari
      tomonidan yovvoyi dorivor o‘simliklardan oqilona foydalanish, ularni
      tabiiy zaxiralarini kamayib ketishini oldini olish maqsadida joylarda
      maydonlarga bo‘lib navbatma-navbat, terishni tashkil qilinishiga
      qaramasdan, har yili bu o‘simliklarni uzluksiz tayyorlash natijasida
      ularni tabiiy zaxiralari so‘zsiz qisqarib borar edi. Hamma joylarda
      dorivor o‘simliklarni tayyorlovchilar, o‘sha o‘simlikning biologik
      xususiyatlarini to‘liq bilmas va natijada u yoki bu dorivor
      o‘simliklarning tabiiy zaxiralari kamayib borardi. Chunki o‘rmon xo‘jaligi
      xodimlaridan tashqari dorivor o‘simliklar tayyorlash bilan bir necha
      tashkilotlar, chunonchi sog‘liqni saqlash dorixonalari xodimlari, matlubot
      savdo tashkilotlarini tayyorlash idoralari shug‘ullanardi. Bunday holat,
      tabiiyki, dorivor o‘simliklarni tabiatda yo‘qolib borishga olib
      kelardi.Yuqoridagi holatlarni hisobga olib respublikamiz mustaqilligini
      ilk davrida 1991 yil 31 dekabrida Vazirlar Mahkamasining 271-farmoyishiga
      asosan O‘rmon xo‘jaligi tizimida, dorivor o‘simliklar boshqarmasi negizida
      “Shifobaxsh” ishlab chiqarish birlashmasi tashkil etildi. Bundan maqsad
      mustaqil respublikamizda dorivor o‘simliklar dehqonchiligini
      rivojlantirish, tabiatdan iloji boricha kamroq yovvoyi o‘simliklarni
      tayyorlash, ko‘proq ularni ekib o‘stirib, farmatsevtika sanoati va
      sog‘liqni saqlash korxonalari ehtiyojlari uchun dorivor o‘simliklar
      xomashyosi bazasini yaratishdan iborat edi.Dorivor o‘simliklarni ekib
      o‘stirar ekanmiz, birinchi navbatda ularni tur sifatida tabiatda yo‘qolib
      borishdan asraymiz, ikkinchidan, bizning tabiatimizda tabobat amaliyotida
      ishlatiladigan barcha dorivor o‘simliklar mavjud emas, o‘shalarni
      respublikamizdan tashqari davlatlardan olib kelib iqlimlashtirib va
      madaniylashtirib ekib o‘stirishimiz lozim. Shu maqsadda mustaqil
      respublikamizda 6 ta ixtisoslashgan davlat o‘rmon xo‘jaligi tashkil etildi
      va hozirgi vaqtda dorivor o‘simliklarni ekib o‘stirish bilan shug‘ullanib
      kelmoqda. Bular Toshkent viloyati Quyichirchiq tumanida Y.Oxunboboyev
      nomidagi, Qashqadaryo viloyati Yakkabog‘ tumanidagi “Yakkabog‘”,
      Surxondaryo viloyati Sariosiyo tumanidagi “Hisor”, Buxoro viloyati
      Qorako‘l tumanida A.Navoiy nomidagi, Namangan viloyati Pop tumanidan Abu
      Ali ibn Sino nomidagi hamda Andijon viloyati Qo‘rg‘ontepa tumanida
      “Toshoxur” davlat o‘rmon xo‘jaliklari hisoblanadi, bundan tashqari dorivor
      o‘simliklar tayyorlash va ularni yetishtirish bilan 18 ta davlat o‘rmon
      xo‘jaliklari muntazam ravishda faoliyat ko‘rsatib kelmoqda. Shuni alohida
      ta‘kidlash joizki, mustaqil davlatlar hamdo‘stligi orasida faqat bizning
      Respublikamizda dorivor o‘simliklarni ekib o‘stirish va tayyorlashga
      ixtisoslashgan davlat o‘rmon xo‘jaliklari va “Shifobaxsh” ilmiy-ishlab
      chiqarish markazi tashkil etilgan, bu ham bo‘lsa Respublikamiz rahbariyati
      tomonidan dorivor o‘simliklar dehqonchiligini yana-da rivojlantirishga
      bo‘lgan e‘tiborning isbotidir.Agarda, mustaqillikga erishgunga qadar
      respublikamiz bo‘yicha har yili 100-150 tonnagacha 5-6 turdagi tabiiy
      holda o‘suvchi dorivor o‘simliklar xom ashyosi tayyorlangan bo‘lsa,
      mustaqillikga erishgandan so‘ng yiliga 300 tonnadan ziyod dorivor
      o‘simliklar xom ashyosi tayyorlanmoqda, tayyorlanayotgan dorivor
      o‘simliklar xomashyosi miqdorining 80% madaniylashtirilgan dorivor
      o‘simliklar zimmasiga to‘g‘ri keladi. Hozirgi kunda 22 turdagi dorivor
      o‘simliklar – tirnoqgul, moychechak, na‘matak, pol-pola,bo‘ymodaron,
      arslonquyruq, makkai sano, dalachoy, valeriana, eman, tuxumak, na‘matak,
      totum, exinatsiya va boshqa bir qanchalari ekilmoqda.Dorivor
      o‘simliklardan ekin maydonlari kengayib bormoqda, har yili 100-150
      gektardan ziyod maydonga bir va ko‘p yillik dorivor o‘simliklar turlari
      ekib yetishtirilmoqda.O‘zbekiston Respublikasi Vazirlar mahkamasining 2007
      yil 7-sentyabr №186 sonli “Yapon saforasi” va “kashtan” daraxt
      ko‘chatlarini ekishni ko‘paytirish choralari to‘g‘risida” gi qaroriga
      asosan ixtisoslashgan o‘rmon xo‘jaliklarida mazkur daraxtlardan urug‘lar
      tayyorlanib niholxonalar tashkil qilindi va yetishtirilgan ko‘chatlardan
      yangi o‘rmanzorlar barpo qilinmoqda.Yapon saforasi va kashtan o‘rmon hosil
      qiluvchi manzarali daraxtlar sirasiga kirishlari bilan bir qatorda
      dori-darmon beruvchi shifobaxsh o‘simliklardan hisoblanadi. Yapon saforasi
      mevasi va gulg‘unchasidan R-vitamanlik fa‘ollikka ega bo‘lgan dori
      vositalari hamda kashtan mevasidan esa vena qontomirlari kengayishi
      (varikoz) kasalliklarini davolovchi “Yeskuzan” dorisi
      tayyorlanadi.Respublikamizda yagona bo‘lgan Andijon viloyati Qo‘rg‘ontepa
      tumanida joylashgan “Toshoxur” ixtisoslashgan davlat o‘rmon xo‘jaligida
      teri-charm sanoati uchun zarur bo‘lgan oshlovchi modda beruvchi Totum
      (sumax) o‘simligi ekib o‘stirilmoqda. Hozirgi vaqtda 250 gektardan ziyod
      totumzorlar tashkil qilinib, har yili “Tarandubitel” zavodiga 90 tonnadan
      ziyod totum barglari yetkazib berilmoqda va undan olingan oshlovchi
      ekstrakt moddalari teri oshlashda hamda neft-gaz sanoatida burg‘ulashda
      ishlatilmoqda.“Shifobaxsh” ilmiy-ishlab chiqarish markazi ixtisoslashgan
      davlat o‘rmon xo‘jaliklarida Respublika Qizil kitobiga kiritilgan Anzur
      piyozi, Omonqora kabi noyob dorivor o‘simliklarini ekib
      ko‘paytirilmoqda.Markaz tasarrufida ikkita dorivor o‘simliklarni birlamchi
      qayta ishlab qadoqlaydigan kichik korxonalar faoliyat ko‘rsatmoqda, bular
      Abu Ali ibn Sino va Y.Oxunboboyev nomidagi ixtisoslashgan davlat o‘rmon
      xo‘jaligidagi sexlardir. Bu korxonalarda yiliga 100-120 ming dona 12
      turdagi tayyor ekologik toza mahsulotlar ishlab chiqarilib
      iste‘molchilarga yetkazib berilmoqda, iste‘molchilar asosan,
      “O‘zfarmsanoat” konsern korxonalari, farmatsevtika faoliyati bilan
      shug‘ullanuvchi kompaniyalari, kichik korxonalar va dorixonalar
      hisoblanadi. Mazkur iste‘molchilar bilan asosan o‘zaro tuzilgan
      shartnomalar asosida ish olib borilmoqda.“Shifobaxsh” ilmiy-ishlab
      chiqarish markazida ishlab chiqarish bilan bir qatorda ilmiy bo‘lim ham
      faoliyat ko‘rsatmoqda. “Shifobaxsh” ilmiy-ishlab chiqarish markazining
      ilmiy yo‘nalishi asosan Respublikamizning turli iqlim va tuproq
      sharoitlariga mos keladigan dorivor o‘simlik turlarini tanlash, o‘stirish
      agrotexnik chora tadbirlarini ilmiy asoslarini ishlab chiqish va ularning
      dehqonchiligini rivajlantirishga bag‘ishlangan. Shu maqsadda Markaz,
      Respublikamizda faoliyat ko‘rsatayotgan ilmiy-tadqiqot institutlari va
      Oliy o‘quv yurtlari bilan hamkorlikda ish olib bormoqda. Dorivor
      o‘simliklar dehqonchiligiga oid fundamental, amaliy va inovatsion
      loyihalar tuzib konkurslarda ishtirok etib kelmoqda.Chet el firmalari
      bilan qo‘shma korxonalar tuzish, investitsiyalarni jalb qilish maqsadida
      yangidan yangi loyihalar tuzish ustida ilmiy-amaliy ishlar olib
      borilmoqda.Hulosa qilib aytganda, respublikamiz O‘rmon xo‘jaligi hamda
      Qishloq xo‘jaligi sohasida yangi yo‘nalish bo‘lgan dorivor o‘simliklar
      dehqonchiligi “Shifobaxsh” ilmiy-ishlab chiqarish markazining
      ixtisoslashgan o‘rmon xo‘jaliklarida muntazam ravishda rivojlanib
      bormoqda. Bu esa kelajakda nafaqat farmatsevtika sanoatini, balki
      oziq-ovqat, yengil va parfyumeriya sanoati korxonalarini shifobaxsh
      o‘simliklar xom ashyosi bilan muntazam ravishda ta‘minlash kafolatini
      beradi.
    </p>

    <span class="text-four">M.Allayorov</span>
  </main>
</body>

<%- include("../layouts/footer")%>
