<%- include("../layouts/header")%>
<main class="container inner-page-margin">
  <div class="mb-16">
    <a href="/" class="navigate-text">Asosiy</a>
    <span class="navigate-text"> > </span>
    <a href="#" class="navigate-text">Qo‘mita haqida</a>
    <span class="navigate-text"> > </span>
    <a href="/uz/activity" class="navigate-text">Faoliyat</a>
    <span class="navigate-text"> > </span>
    <a href="/uz/activity" class="navigate-text"
      >O‘rmon xo‘jaligi faoliyati to‘g‘risida maʼlumotlar</a
    >
  </div>
  <h1 class="heading-primary mb-24">
    O‘rmon xo‘jaligi davlat qo‘mitasi tizimida 2017 yil davomida sohani
    ijtimoiy-iqtisodiy rivojlantirish va iqtisodiy islohotlarning borishi
    to‘g‘risida ma‘lumot
  </h1>
  <p>
    Hisobot davrida O‘rmon xo‘jaligi davlat qo‘mitasi va uning tizimidagi o‘rmon
    xo‘jaliklari tomonidan sohada iqtisodiy islohotlarni chuqurlashtirish,
    ijtimoiy-iqtisodiy ko‘rsatkichlarning bajarilishini ta‘minlash borasida
    muayyan ishlar amalga oshirildi.2016 yilda 44 ming gektar maydonda
    o‘rmonzorlar barpo etilgan bo‘lsa, 2017 yilda 44,5 ming gektar erda (o‘sish
    101%) (o‘tinbop-1 600 ga, yong‘oqmevali-4 466 ga), shu jumladan Orolning
    qurigan tubida 19,0 ming gektar maydonda o‘rmon barpo etildi.O‘rmonlarning
    xatosini to‘ldirish tadbirlari 2016 yilda 17,2 ming gektarda amalga
    oshirilgan bo‘lsa, 2017 yilda 18 ming gektarda (o‘sish 102%) bajarildi. 2018
    yilda bunday tadbirlar 18,5 ming gektarda bajarilishi
    rejalashtirilmoqda.O‘rmon barpo qilish va ko‘chatxonalar tashkil etish
    tadbirlari uchun2016 yilda 181 tonna tayyorlangan bo‘lsa, 2017 yilda 240
    tonnadan (o‘sish 132%) ortiq turli daraxt va buta urug‘lari tayyorlandi.
    2018 yilda 300 tonna urug‘ tayyorlash rejasi belgilangan.O‘rmon barpo qilish
    va ko‘kalamzorlashtirish maqsadlarida 2016 yilda 650 gektarda 39 mln.dona
    ko‘chat va nihollar etishtirilgan bo‘lsa, 2017 yilda 700 gektardan ortiq
    ko‘chatxonalarda 45,0 mln.dona (o‘sish 115%) nihol va ko‘chatlar
    etishtirildi. Jumladan, 19,9 mln.dona manzarali va tez o‘suvchi
    daraxtlarning nihol va ko‘chatlari, 4,5 mln.dona ignabargli daraxt
    ko‘chatlari, 3,9 mln.dona mevali ko‘chatlar, 1,4 mln.dona yong‘oq mevali
    ko‘chatlar va 15 mln. donadan ortiq cho‘l o‘simliklari nihollari
    etishtirildi.O‘rmon xo‘jaliklarining o‘z ehtiyojlariga hamda tashkilotlar va
    aholi extiyojlari uchun 2018 yilda 50 mln dona turli xil daraxt va butalar
    nihollari va ko‘chatlarini etishtirishni tashkil etish rejalashtirilgan.Yosh
    o‘rmonlarni parvarishlash tadbirlari 2016 yilda 33,6 ming gektarda
    bajarilgan bo‘lsa, 2017 yilda 45,1 ming gektarda (o‘sish 134,2%) bajarildi.
    2018 yilda ushbu tadbirlarni 46 ming gektarda bajarish
    rejalashtirilmoqda.O‘rmonzorlar barpo qilish va qayta tiklash bilan bir
    qatorda ularni qo‘riqlash, muhofaza qilish, kasallik va zararkunandalardan
    asrash maqcadida rejadagi 25,9 ming gektar (rejaga nisbatan 100 foiz)
    maydonda o‘rmon kasalliklari va zararkunandalariga qarshi, shundan
    rejadagi15,7 ming gektar maydonda biologik kurash ishlari olib borildi.2017
    yil davomida rejadagi 132 km masofada yong‘inga qarshi yo‘llar36 km yangi
    himoya liniyalari, 279 km minerallashtirilgan polosalar qurildi, rejadagi
    1756 km o‘rmon xo‘jaligi ahamiyatiga ega va yong‘inga qarshi yo‘llar va
    rejadagi 1791 km minerallashtirilgan polosalar ta‘mirlanib, barcha
    ko‘rsatkichlar rejaga nisbatan to‘liq bajarilgan.Vazirlar Mahkamasining 2017
    yil 25 yanvardagi “O‘rmon xo‘jaliklari imkoniyatlaridan keng foydalanish,
    dorivor o‘simliklarni etishtirish, tayyorlash va qayta ishlashni yana-da
    rivojlantirish, o‘rmon xo‘jaliklari moddiy texnika bazasini mustahkamlash
    bo‘yicha 2017 yilga mo‘ljallangan chora-tadbirlar to‘g‘risida”gi
    03-12-5-sonli yig‘ilish bayoni ijrosi bo‘yicha O‘rmon xo‘jaliklarida madaniy
    holda etishtiriladigan dorivor o‘simliklar turlarini ko‘paytirish hisobiga
    o‘simliklar madaniy plantatsiyalar maydonini kengaytirish hamda dorivor
    o‘simliklarni tayyorlash va etishtirish hajmini oshirish maqsadida o‘rmon
    xo‘jaliklari tomonidan
  </p>
  <p>
    1 995 gektar maydonda 45 turdagi dorivor va ozuqabop o‘simliklar
    plantatsiyalari tashkil etildi. Farmatsevtika korxonalariga bilan 4205 mln
    so‘mlik dorivor o‘simliklar xom ashyosi etkazib berildi. 2017 yilda5 379,3
    tonna tabiiy holda o‘suvchi dorivor va ozuqabop o‘simliklar xom ashyosini
    tayyorlash uchun kvota ajratildi.Joriy yilda tizim o‘rmon xo‘jaliklarida 4
    200 tonna 61 turdagi dorivor va ozuqabop o‘simliklar xom ashyosi
    tayyorlandi.2017 yil davomida o‘rmon fondi erlaridan qo‘shimcha foydalanish
    tarmoqlarida 1 220,7 mln. so‘mlik (o‘tgan yilga nisbatan 153,2 foiz) xalq
    iste‘mol mollari ishlab chiqarildi va 101,1 ming so‘mlik (o‘tgan yilga
    nisbatan 118 foiz) axoliga pullik xizmat ko‘rsatildi.Kasanachilik asosida
    yangidan 371 ta qo‘shimcha yangi ishchi o‘rinlari tashkil etildi.2016 yilda
    2 854 tonna mevali va yong‘oq mevali mahsulotlar etishtirilgan bo‘lib, 975
    mln so‘m daromad olingan. 2017 yilda 3 178 tonna (o‘sish 111,3%) mahsulot
    etishtirilib, 5,6 mlrd. so‘m daromad olindi.2018 yilda 3 966 tonna (o‘sish
    124%) rejalashtirilib, 7,7 mlrd. so‘m daromad olinishi
    rejalashtirilmoqda.2016 yilda 284 tonna texnik va moyli ekinlar
    etishtirilgan bo‘lib,625 mln so‘m daromad olingan. 2017 yilda 1 129 tonna
    (o‘sish 398%) mahsulot etishtirilib, 2,8 mlrd.so‘m daromad olindi. 2018
    yilga 6 580 tonna (o‘sish 583%) rejalashtirilib, 4,8 mlrd.so‘m daromad
    olinadi.2016 yilda 3 476 tonna sabzavot va poliz mahsulotlari etishtirilgan
    bo‘lib, 1,1 mlrd. so‘m daromad olingan. 2017 yilda 4 227 tonna (o‘sish 122%)
    mahsulot etishtirilib, 3,8 mlrd.so‘m daromad olindi. 2018 yilga 18 039 tonna
    (o‘sish 427%) rejalashtirilib, 6,9 mlrd. so‘m daromad olinadi.2016 yilda 3
    595 tonna don va dukkakli don mahsulotlari etishtirilgan bo‘lib, 1,0 mlrd.
    so‘m daromad olingan. 2017 yilda 4 326 tonna (o‘sish 120%) mahsulot
    etishtirilib, 4,2 mlrd.so‘m daromad olindi. 2018 yilga 11 460 tonna (o‘sish
    265%) rejalashtirilib, 9,6 mlrd. so‘m daromad olinadi.2016 yilda 6 564 tonna
    ozuqabop ekinlar etishtirilgan bo‘lib,712 mln.so‘m daromad olingan. 2017
    yilda 7 515 tonna (o‘sish 114%) mahsulot etishtirilib, 2,4 mlrd. so‘m
    daromad olindi. 2018 yilga 13 016 tonna (o‘sish 173%) rejalashtirilib, 3,4
    mlrd. so‘m daromad olinadi.Asalarichilikni rivojlantirish bo‘yicha – asalari
    oilalari soni2016 yilda 12 071 ta bo‘lib, 320 mln. so‘m daromad olingan
    bo‘lsa, 2017 yilda 15 196 oilaga etkazilib, 1,5 mlrd. so‘m daromad olindi
    (o‘sish 126%),2018 yilda asalari oilalari sonini jami 14 518 oilaga
    ko‘paytirish rejasi belgilangan bo‘lib, haqiqatda 20000 ga etkazib (o‘sish
    132%) 2,9 mlrd so‘m daromad olinadi.Asal ishlab chiqarish bo‘yicha – 2016
    yilda 198 tonna asal etishtirilgan bo‘lsa, 2017 yilda 267 tonna asal
    etishtirildi (o‘sish 131%), 2018 yilda asal ishlab chiqarish hajmini jami
    340 tonnaga etkaziladi.Parrandachilikni rivojlantirish bo‘yicha – 2016 yilda
    parranda bosh soni 18 387 bosh bo‘lgan bo‘lsa, 2017 yilda 21 887 bosh soniga
    etkazildi (o‘sish 119%), 2018 yil 24 755 bosh soniga etkazilib (o‘sish
    113%), 1,7 mlrd. so‘m daromad olish rejalashtirilmoqda. Bundan tashqari 2016
    yilda 7,0 tonna parranda go‘shti ishlab chiqilgan bo‘lib, 2017 yilda 9,4
    tonna (o‘sish 134%) ishlab chiqildi. 2018 yilda 13,1 tonna (o‘sish 139%)
    go‘sht ishlab chiqarish rejalashtirilmoqda. Sohada 2016 yilda 520 ming dona
    tuxum etishtirilgan bo‘lsa,2017 yilda 1 387 ming dona (o‘sish 266%)ga
    ko‘paytirildi. 2018 yilda 1466 ming donaga etkaziladi.Baliqchilik bo‘yicha –
    2016 yilda 265 gektar suv havzasida 144,6 tonna baliq etishtirilib, 212 mln
    so‘m daromad olingan, 2017 yilda 363 gektar suv xavzasida544,5 tonnaga
    etkazildi va 822 mln. so‘m daromad (o‘sish 137%) olindi. 2018 yilda 680
    gektar suv havzasida (o‘sish 187%) 1020 tonna baliq etishtirib, 1,6 mlrd.
    so‘m daromad olish ko‘zlangan.Chorvachilikni rivojlantirish bo‘yicha – 2016
    yilda mayda shoxli mol bosh soni 18 002 ta bo‘lib, 342 mln so‘m daromad
    olingan. 2017 yilda 21 712 bosh songa etkazilib, 1,3 mlrd. so‘m daromad
    olingan (o‘sish 121%). 2018 yil 29 454 bosh soniga etkazilib (o‘sish 136%),
    2,3 mlrd.so‘m daromad olish rejalashtirilmoqda. Bundan tashqari, 2016 yilda
    2,7 tonna chorva go‘shti etishtirilgan bo‘lsa, 2017 yilda 3,4 tonna (o‘sish
    126%) etishtirildi.2018 yilda 4,0 tonna (o‘sish 118%) go‘sht etishtirish
    rejalashtirilmoqda.2016 yilda yirik shoxli mol bosh soni 793 ta bo‘lib, 201
    mln so‘m daromad olingan bo‘lsa, 2017 yilda 851 taga etkazilib, 811 mln so‘m
    daromad olindi (o‘sish 107%). 2018 yil 1050 bosh soniga etkazilib (o‘sish
    124%), 1,1 mlrd so‘m daromad olish rejalashtirilmoqda.2016 yilda yilqi bosh
    soni 1 199 ta bo‘lgan bo‘lsa, 2017 yilda 1 286 taga etkazildi (o‘sish 107%).
    2018 yil 1 399 bosh soniga etkazilishi yoki 109 foizga oshirish
    rejalashtirilmoqda.
  </p>
  <p>
    Tizim xo‘jaliklari tomonidan hisobot davrida 836 tn qora metall parchalari
    yig‘ib topshirilib, topshiriq 101, foizga bajarilgan.2016 yilda xo‘jaliklar
    tomonidan olingan yalpi daromad miqdori90,8 mlrd. so‘mni, shundan foyda 39,6
    mlrd. so‘mni tashkil etgan bo‘lsa,2017 yilda yalpi daromad 170 mlrd. so‘m
    (o‘sish 187%), shundan foyda73,7 mlrd. so‘mni (o‘sish 179%) tashkil
    etdi.Qo‘shimcha rezervlardan foydalanish orqali o‘rmon iqtisodini
    diversifikatsiya qilish hisobiga 2018 yilda yalpi daromadni259,7 mlrd.so‘mga
    va foydani 104,1 mlrd. so‘mga bajarish hisobiga 2017 yilga nisbatan 1,5
    barobarga oshirish rejalashtirilmoqda.Jumladan:– ko‘chatchilikdan olinadigan
    daromad 2017 yilda 10,2 mlrd. so‘m va 2018 yilda 14,6 mlrd. so‘m,
    ko‘rsatkich 1,4 barobarga oshishi kutilmoqda.– chorvachilik va yaylovlardan
    samarali foydalanish hisobiga olinadigan daromad2017 yilda 9,5 mlrd. so‘m va
    2018 yilda 11,5 mlrd. so‘m, ko‘rsatkich 1,2 barobarga oshishi kutilmoqda.–
    dorivorchilikdan olinadigan daromad 2017 yilda 8,2 mlrd. so‘m va 2018
    yilda12,1 mlrd. so‘m, ko‘rsatkich 1,5 barobarga oshishi kutilmoqda.– qishloq
    xo‘jaligi mahsulotlari etishtirishdan olinadigan daromad 2017 yilda20,4
    mlrd. so‘m va 2018 yilda 30,6 mlrd. so‘m, ko‘rsatkich 1,5 barobarga oshishi
    kutilmoqda.– boshqa mahsulot va xizmatlardan olinadigan daromad 2017 yilda
    22 mlrd. so‘m va 2018 yilda 35,8 mlrd. so‘m, ko‘rsatkich 1,2 barobarga
    oshishi kutilmoqda.2018 yilning 1 yanvar holatiga debitorlik qarzlar 6571
    mln. so‘mni, kreditorlik qarzlar esa 3461 mln. so‘mni tashkil etgan.O‘rmon
    xo‘jaliklari moddiy texnika bazasini mustahkamlash maqsadida 2016 yilda 9 ta
    avtomashina, 5 ta traktor (shundan 1 ta qator orasiga ishlov beradigan), 4
    ta tirkama, 2 ta chizel, 2 ta plug va 2 ta presspodborshik xarid
    qilingan.2017 yilda esa bu ko‘rsatkich sezilarli darajada ortdi. Jumladan,
    11 ta avtomashina, 22 ta traktor (shundan 3 ta qator orasiga ishlov
    beradigan),5 dona tirkama, 2 ta kultivator, 2 ta chizel, 3 ta ekish
    seyalkasi, 6 ta plug,1 ta borona, 2 ta purkagich va 1 ta presspodborshik
    “O‘zagrolizing” AK orqali lizing shartnomasi asosida xarid qilindi. Ushbu
    lizing shartnomasida ko‘rsatilgan boshlang‘ich to‘lov O‘rmon xo‘jaligini
    rivojlantirish Jamg‘armasi mablag‘lari hisobidan to‘lab berildi.Shuningdek,
    2018 yilda “Agrobank” ATB krediti asosida 30 ta traktor, 2 ta kombayn, 20 ta
    tirkama, 10 ta kultivator, 15 ta chizel, 6 ta ekish seyalkasi, 5 ta borona,
    40 ta plug, 15 ta purkagich va 10 ta presspodborshik;O‘rmonni rivojlantirish
    Jamg‘armasi hisobidan, 15 ta qator orasiga ishlov beradigan traktor, 11 ta
    “ISUZU” rusumli yuk avtomashinalari, viloyat o‘rmon xo‘jaligi boshqarmalari
    uchun 26 ta avtomashina xarid qilish rejalashtirilmoqda.Bundan tashqari,
    Belorusiyaning “Amkodor” va Rossiyaning “UAZ” korxonalarida ishlab
    chiqarilgan, unumdorligi yuqori bo‘lgan qishloq xo‘jaligi va o‘rmon maxsus
    texnikalarini 5 yil davomida lizing asosida sotib olish bo‘yicha kelishuv
    olib borilmoqda.
  </p>
</main>
<%- include("../layouts/footer")%>
