<%- include("../layouts/header")%>
<body>
  <main class="structure grid grid-2-column container gap-30 inner-page-margin">
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four" href="/uz/activity">Faoliyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/function-and-tasks"
            >Qo‘mita funksiyalari va vazifalari</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/central-apparatus"
            >Markaziy apparat</a
          >
        </li>
        <li>
          <a class="pages-list text-four active" href="/uz/structure"
            >Tarkibiy tuzilma</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/system-organizations"
            >Tizim tashkilotlari</a
          >
        </li>
        <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
        <li>
          <a class="pages-list text-four" href="/uz/community-council"
            >Jamoatchilik kengashi</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/e-government"
            >Elektron hukumat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/corruption"
            >Korrupsiyaga qarshi kurash</a
          >
        </li>
      </ul>
    </div>

    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Qo‘mita haqida</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/structure" class="navigate-text">Tarkibiy tuzilmalar</a>
      </div>

      <h1 class="heading-primary mb-24">Tarkibiy tuzilma</h1>

      <div class="content">
        <ul class="structure">
          <li>
            <div class="content-info structure-header">
              O’zbekiston Respublikasi O’rmon xo’jalik davlat qo’mitasi
            </div>
            <ul class="structure__body">
              <li>
                <ul>
                  <li>
                    <div class="content-info">
                      Davlat ko’riqxonlari, milliy tabiat bergan va ovchilik
                      xo‘jaliklari boshqarmasi
                      <p>
                        davlat qo‘riqxonasi - 4, biosfera qo‘riqxonasi - 1,
                        biosfera rezervati - 1, milliy tabiiy bog‘ - 3, davlat
                        o’rmon ovchilik xo’jaligi - 5
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      “Shifobaxsh” dorivor o’simliklarni etishtirish va qayta
                      ishlash markazi
                      <p>
                        dorivor o’simliklarni yetishtiruvchi davlat o’rmon
                        xo‘jaligi - 9
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      O‘rmon va dorivor o‘simliklarni urug‘chiligi tahlil
                      markazi
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      “O‘rmonloyiha” davlat unitar korxonasi
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      O‘rmon xo‘jaligi ilmiy-tadqiqod instuti ilmiy-tajriba
                      stansuyasi - 4,
                      <p>
                        filial - 1, ilmiy markaz - 1, innovatsiya markazi - 1
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <div class="content-info">
                      Qoraqalpog‘iston Respublikasi O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 12</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Buxoro viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 9</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Jizzax viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 5</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Qashqadaryo viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 7</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Navoiy viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 7</p>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <div class="content-info">
                      Namangan viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 3</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Samardand viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 7</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Surxondaryo viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 5</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Toshkent viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 5</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Fargʻona viloyati O‘rmon xo‘jaligi qo‘mitasi
                      <p>davlat xo‘jaligi - 2</p>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <div class="content-info">
                      Andijon viloyati O‘rmon xo‘jaligi - 1
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Sirdaryo viloyati O‘rmon xo‘jaligi - 1
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      Xorazm viloyati O‘rmon xo‘jaligi - 1
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      “O‘rmonqurulish” davlat unitar korxonasi
                    </div>
                  </li>
                  <li>
                    <div class="content-info">
                      “O‘rmontexnoservis” davlat unitar korxonasi
                    </div>
                  </li>

                  <li>
                    <div class="content-info">
                      “O‘rmoninvest” davlat unitar korxonasi
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
