<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container gap-30 inner-page-margin systemOrganizations"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Qo‘mita haqida
      </p>
      <ul class="card">
        <li>
          <a class="pages-list text-four" href="/uz/activity">Faoliyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/function-and-tasks"
            >Qo‘mita funksiyalari va vazifalari</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/management">Rahbariyat</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/central-apparatus"
            >Markaziy apparat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/structure"
            >Tarkibiy tuzilma</a
          >
        </li>
        <li>
          <a class="pages-list text-four active" href="/uz/system-organizations"
            >Tizim tashkilotlari</a
          >
        </li>
        <li><a class="pages-list text-four" href="/uz/hayat">Hay‘at</a></li>
        <li>
          <a class="pages-list text-four" href="/uz/community-council"
            >Jamoatchilik kengashi</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/e-government"
            >Elektron hukumat</a
          >
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/ecotourism">Ekoturizm</a>
        </li>
        <li>
          <a class="pages-list text-four" href="/uz/corruption"
            >Korrupsiyaga qarshi kurash</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Qo‘mita haqida</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/system-organizations" class="navigate-text"
          >Tizim tashkilotlari</a
        >
      </div>

      <h1 class="heading-primary systemOrganizations__title">
        Tizim tashkilotlar
      </h1>
      <div>
        <a
          href="/uz/system-organizations/republican-organizations"
          class="systemOrganizations__text"
          >Respublika tashkilotlari</a
        >
        <a
          href="/uz/system-organizations/republic-of-karakalpakstan-structure"
          class="systemOrganizations__text"
          >Qoraqalpog‘iston Respublikasi O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a
          href="/uz/system-organizations/andijon-structure"
          class="systemOrganizations__text"
          >Andijon viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Buxoro viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Jizzax viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Qashqadaryo viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Navoiy viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Namangan viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Samarqand viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Surxondaryo viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Sirdaryo viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Toshkent viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Farg’ona viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
        <a href="#" class="systemOrganizations__text"
          >Xorazm viloyati O‘rmon xo‘jaligi qo‘mitasi</a
        >
      </div>
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
