<%- include("../layouts/header")%>
<body>
  <main
    class="grid grid-2-column container gap-30 inner-page-margin virtual-reception"
  >
    <div>
      <p class="text-secondary main-page-inner-page-secondary-title">
        Interaktiv xizmatlari
      </p>

      <ul class="card">
        <li>
          <a href="/uz/useful-links" class="active pages-list"
            >Virtual qabulxona</a
          >
        </li>
        <li>
          <a href="#" class="pages-list text-four"
            >O‘rmon fondi yerlarini ijaraga olish</a
          >
        </li>
        <li>
          <a href="#" class="pages-list text-four">Ruxsatnoma olish portali</a>
        </li>
        <li><a href="#" class="pages-list text-four">Elektron hisobot</a></li>
        <li>
          <a href="#" class="pages-list text-four"
            >Yuklab olish uchun shakllar</a
          >
        </li>
        <li><a href="#" class="pages-list text-four">Forum</a></li>
        <li>
          <a href="/uz/citizens-appeal" class="pages-list text-four"
            >Fuqarolar murojaati</a
          >
        </li>
      </ul>
    </div>
    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="/uz/useful-links" class="navigate-text"
          >Interaktiv xizmatlar</a
        >
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Virtual qabulxona</a>
      </div>

      <h1 class="heading-primary">Virtual qabulxona</h1>

      <div class="flex gap-30 mb-24">
        <img
          src="/assets/img/Prezidentga murojat.png"
          alt="prezidentga murojat"
        />
        <a href="" class="heading-secondary virtual-reception__text"
          >O’zbekiston Respublikasi Prezidenti Shavkat Miromonovich
          Mirziyoyevning Virtual Qabulxonasi
        </a>
      </div>

      <div class="flex gap-30">
        <img
          src="/assets/img/Prezidentga murojat.png"
          alt="prezidentga murojat"
        />
        <a href="#" class="heading-secondary virtual-reception__text"
          >O’zbekiston Respublikasi Prezidenti Shavkat Miromonovich
          Mirziyoyevning Vertial Qabulxonasi
        </a>
      </div>
    </div>
  </main>
</body>

<%- include("../layouts/footer")%>
