<%- include("../layouts/header")%>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.0/css/lg-video.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.0/css/lightgallery.min.css"
  />
</head>

<body>
  <main
    class="container grid grid-2-column videogallery gap-30 inner-page-margin"
  >
    <div>
      <%- include ("../layouts/pressCenter") %>

    </div>

    <div>
      <div class="mb-16">
        <a href="/" class="navigate-text">Asosiy</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Matbuot markazi</a>
        <span class="navigate-text"> > </span>
        <a href="#" class="navigate-text">Videogalereya</a>
      </div>

      <h1 class="heading-primary news__main__title mb-24">Videogalereya</h1>
      <div id="gallery-videos-demo" class="videogallery__box flex gap-30">
        <div class="videogallery__box__item">
          <a
            data-lg-size="1280-720"
            data-src="//youtu.be/XG7bxWZPNDY"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/XG7bxWZPNDY/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/XG7bxWZPNDY/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/ggZ9qhnF6pY"
            class="media__video-gallery-card__item media__video-gallery-card__big-video"
            data-poster="https://img.youtube.com/vi/ggZ9qhnF6pY/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/ggZ9qhnF6pY/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/PSX8cVRtKaQ"
            class="media__video-gallery-card__item media__video-gallery-card__big-video"
            data-poster="https://img.youtube.com/vi/PSX8cVRtKaQ/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/PSX8cVRtKaQ/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="youtu.be/C-rz6Dymmg8"
            class="media__video-gallery-card__item media__video-gallery-card__big-video"
            data-poster="https://img.youtube.com/vi/C-rz6Dymmg8/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/C-rz6Dymmg8/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/bPPetptd7g8"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/bPPetptd7g8/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/bPPetptd7g8/0.jpg"
            />
          </a>
          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size="1280-720"
            data-src="//youtu.be/aiI9WHqLIxU"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/aiI9WHqLIxU/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/aiI9WHqLIxU/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/KPMfHQKbTKo"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/KPMfHQKbTKo/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/KPMfHQKbTKo/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/8ZvZ4FORtg0"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/8ZvZ4FORtg0/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/8ZvZ4FORtg0/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/SAv6LDbtzuI"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/SAv6LDbtzuI/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/SAv6LDbtzuI/0.jpg"
            />
          </a>
          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/Nbw7wMS7SeY"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/Nbw7wMS7SeY/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/Nbw7wMS7SeY/0.jpg"
            />
          </a>
          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/aiI9WHqLIxU"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/aiI9WHqLIxU/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/aiI9WHqLIxU/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>

        <div class="videogallery__box__item">
          <a
            data-lg-size=" 1280-720"
            data-src="//youtu.be/_OAtfOHnjQc"
            class="media__video-gallery-card__item"
            data-poster="https://img.youtube.com/vi/_OAtfOHnjQc/0.jpg"
            data-sub-html="<h4>O'zbekiton Respublikasi O'rmon xo'jaligi</h4> "
          >
            <img
              width="300"
              height="219"
              class="img-responsive lazy"
              src="/assets/img/lazy-loading.jpg"
              data-src="https://img.youtube.com/vi/_OAtfOHnjQc/0.jpg"
            />
          </a>

          <div class="flex gap-30 news__small-card__icons">
            <div class="flex center">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/calendar.svg"
              />
              <span class="news__small-card__calendar-text">12/09/2022</span>
            </div>

            <div class="flex center mr-10">
              <img
                class="smnews__all-card__calendar mr-10"
                src="/assets/img/grey-eye.svg"
                alt=""
              />

              <span class="news__small-card__calendar-text">34752</span>
            </div>
          </div>
          <span class="text-four videogallery__text"
            >Sirdaryo o‘rmon xo‘jaligida gender tengligiga oid treninglar
            o‘tkazildi</span
          >
        </div>
      </div>

      <div class="page flex gap-16">
        <a href="#" class="small-print"
          ><img src="/assets/img/prevArrow.svg" alt="prevArrow"
        /></a>
        <a href="#" class="small-print">1</a>
        <a href="#" class="small-print">2</a>
        <a href="#" class="small-print">3</a>
        <a href="#" class="small-print">4</a>
        <a href="#" class="small-print">5</a>
        <a href="#" class="small-print">6</a>
        <a href="#" class="small-print">...</a>
        <a href="#" class="small-print"
          ><img src="/assets/img/nextArrow.svg" alt="next"
        /></a>
      </div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.0/lightgallery.min.js"></script>
  <script src="/js/video-gallery.js" type="module"></script>
  <script src="/js/lazy-loading.js"></script>
</body>

<%- include("../layouts/footer")%>
